# Electoral College Data Mapping

The purpose of this project is to analyze the how the electoral college votes were distributed after the 2010 census, look at how the redistribution of population (by estimate) has shifted over time until today, and what that means for the voter per electoral college vote in each state. I will also analyze how we expect the electoral college to be redistributed after the 2020 census, given census bureau predictions.

An analysis will also be performed on the percentage likelihood of each state giving its electoral college votes to a particular party and their respective nominees, based purely on historical data. The aim is to demonstrate which states have the greatest power per vote, given both their current electoral votes allotted and the likelihood of that state assigning thier votes to either candidate.

In [16]:
#import necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import requests
import json

import sqlite3
%matplotlib inline

In [2]:
#define how to retrieve api keys

def get_keys(path):
    with open(path) as f:
        return json.load(f)

In [3]:
#get key for census bureau api
keys = get_keys("/Users/flatironschool/.secret/census_api.json")

api_key = keys['api_key']

In [5]:
#make and print request for census count and estimates from 2010-2019 for all states
year = '2019'

url = 'https://api.census.gov/data/{}/pep/population'.format(year)

variables = ['DATE_CODE',
             'DATE_DESC',
             'POP',
             'NAME']

granularity = 'state:*'

params = {'get': ','.join(variables), 'for': granularity, 'key': api_key}

r = requests.get(url, params=params)
print(r.url)
print(r)
print(type(r.text))
print(r.text[:1000])

https://api.census.gov/data/2019/pep/population?get=DATE_CODE%2CDATE_DESC%2CPOP%2CNAME&for=state%3A%2A&key=b7961d22ec04ff1777be8a0450921d3f28af8315
<Response [200]>
<class 'str'>
[["DATE_CODE","DATE_DESC","POP","NAME","state"],
["1","4/1/2010 Census population","5303925","Minnesota","27"],
["2","4/1/2010 population estimates base","5303927","Minnesota","27"],
["3","7/1/2010 population estimate","5310828","Minnesota","27"],
["4","7/1/2011 population estimate","5346143","Minnesota","27"],
["5","7/1/2012 population estimate","5376643","Minnesota","27"],
["6","7/1/2013 population estimate","5413479","Minnesota","27"],
["7","7/1/2014 population estimate","5451079","Minnesota","27"],
["8","7/1/2015 population estimate","5482032","Minnesota","27"],
["9","7/1/2016 population estimate","5522744","Minnesota","27"],
["10","7/1/2017 population estimate","5566230","Minnesota","27"],
["11","7/1/2018 population estimate","5606249","Minnesota","27"],
["12","7/1/2019 population estimate","5639632","Minnesota","27"],
["1","4/1/2010 Census population","2967297","Mississippi","28"],
["2","4/1/2010 population estimates base","2968130","Mississippi","28"],
["3","7/1/2010 population

In [26]:
#clean data (only need population, state, and datetime) with pandas before putting into SQL database
data = r.json()
df = pd.DataFrame(data[1:], columns=data[0])
df['DATETIME'] = df.DATE_DESC.apply(lambda x: pd.to_datetime(x[:9]))
df.drop(df[df.DATE_CODE == '2'].index, inplace=True)
df.drop(['state','DATE_CODE', 'DATE_DESC'], axis=1, inplace=True)
df.reset_index(drop=True, inplace=True)
df['POP'] = df.POP.astype('int64')
df = df[['DATETIME', 'NAME', 'POP']]

display(df.head(15))
display(df.info())

     DATETIME         NAME      POP
0  2010-04-01    Minnesota  5303925
1  2010-07-01    Minnesota  5310828
2  2011-07-01    Minnesota  5346143
3  2012-07-01    Minnesota  5376643
4  2013-07-01    Minnesota  5413479
5  2014-07-01    Minnesota  5451079
6  2015-07-01    Minnesota  5482032
7  2016-07-01    Minnesota  5522744
8  2017-07-01    Minnesota  5566230
9  2018-07-01    Minnesota  5606249
10 2019-07-01    Minnesota  5639632
11 2010-04-01  Mississippi  2967297
12 2010-07-01  Mississippi  2970548
13 2011-07-01  Mississippi  2978731
14 2012-07-01  Mississippi  2983816

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 572 entries, 0 to 571
Data columns (total 3 columns):
DATETIME    572 non-null datetime64[ns]
NAME        572 non-null object
POP         572 non-null int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 13.5+ KB

None

In [27]:
#put pop data into SQL database for easy retrieval
conn = sqlite3.connect('census_pop_data.db')
c = conn.cursor()

In [25]:
c.execute('CREATE TABLE POPULATION (Datetime text, State text, Population integer)')
conn.commit()

In [28]:
df.to_sql('POPULATION', conn, if_exists='replace')

In [29]:
c.execute('SELECT * FROM population')
for row in c.fetchall():
    print(row)

(0, '2010-04-01 00:00:00', 'Minnesota', 5303925)
(1, '2010-07-01 00:00:00', 'Minnesota', 5310828)
(2, '2011-07-01 00:00:00', 'Minnesota', 5346143)
(3, '2012-07-01 00:00:00', 'Minnesota', 5376643)
(4, '2013-07-01 00:00:00', 'Minnesota', 5413479)
(5, '2014-07-01 00:00:00', 'Minnesota', 5451079)
(6, '2015-07-01 00:00:00', 'Minnesota', 5482032)
(7, '2016-07-01 00:00:00', 'Minnesota', 5522744)
(8, '2017-07-01 00:00:00', 'Minnesota', 5566230)
(9, '2018-07-01 00:00:00', 'Minnesota', 5606249)
(10, '2019-07-01 00:00:00', 'Minnesota', 5639632)
(11, '2010-04-01 00:00:00', 'Mississippi', 2967297)
(12, '2010-07-01 00:00:00', 'Mississippi', 2970548)
(13, '2011-07-01 00:00:00', 'Mississippi', 2978731)
(14, '2012-07-01 00:00:00', 'Mississippi', 2983816)
(15, '2013-07-01 00:00:00', 'Mississippi', 2988711)
(16, '2014-07-01 00:00:00', 'Mississippi', 2990468)
(17, '2015-07-01 00:00:00', 'Mississippi', 2988471)
(18, '2016-07-01 00:00:00', 'Mississippi', 2987938)
(19, '2017-07-01 00:00:00', 'Mississippi', 2988510)
(20, '2018-07-01 00:00:00', 'Mississippi', 2981020)
(21, '2019-07-01 00:00:00', 'Mississippi', 2976149)
(22, '2010-04-01 00:00:00', 'Missouri', 5988927)
(23, '2010-07-01 00:00:00', 'Missouri', 5995974)
(24, '2011-07-01 00:00:00', 'Missouri', 6010275)
(25, '2012-07-01 00:00:00', 'Missouri', 6024367)
(26, '2013-07-01 00:00:00', 'Missouri', 6040715)
(27, '2014-07-01 00:00:00', 'Missouri', 6056202)
(28, '2015-07-01 00:00:00', 'Missouri', 6071732)
(29, '2016-07-01 00:00:00', 'Missouri', 6087135)
(30, '2017-07-01 00:00:00', 'Missouri', 6106670)
(31, '2018-07-01 00:00:00', 'Missouri', 6121623)
(32, '2019-07-01 00:00:00', 'Missouri', 6137428)
(33, '2010-04-01 00:00:00', 'Montana', 989415)
(34, '2010-07-01 00:00:00', 'Montana', 990697)
(35, '2011-07-01 00:00:00', 'Montana', 997316)
(36, '2012-07-01 00:00:00', 'Montana', 1003783)
(37, '2013-07-01 00:00:00', 'Montana', 1013569)
(38, '2014-07-01 00:00:00', 'Montana', 1021869)
(39, '2015-07-01 00:00:00', 'Montana', 1030475)
(40, '2016-07-01 00:00:00', 'Montana', 1040859)
(41, '2017-07-01 00:00:00', 'Montana', 1052482)
(42, '2018-07-01 00:00:00', 'Montana', 1060665)
(43, '2019-07-01 00:00:00', 'Montana', 1068778)
(44, '2010-04-01 00:00:00', 'Nebraska', 1826341)
(45, '2010-07-01 00:00:00', 'Nebraska', 1829542)
(46, '2011-07-01 00:00:00', 'Nebraska', 1840672)
(47, '2012-07-01 00:00:00', 'Nebraska', 1853303)
(48, '2013-07-01 00:00:00', 'Nebraska', 1865279)
(49, '2014-07-01 00:00:00', 'Nebraska', 1879321)
(50, '2015-07-01 00:00:00', 'Nebraska', 1891277)
(51, '2016-07-01 00:00:00', 'Nebraska', 1905616)
(52, '2017-07-01 00:00:00', 'Nebraska', 1915947)
(53, '2018-07-01 00:00:00', 'Nebraska', 1925614)
(54, '2019-07-01 00:00:00', 'Nebraska', 1934408)
(55, '2010-04-01 00:00:00', 'Nevada', 2700551)
(56, '2010-07-01 00:00:00', 'Nevada', 2702405)
(57, '2011-07-01 00:00:00', 'Nevada', 2712730)
(58, '2012-07-01 00:00:00', 'Nevada', 2743996)
(59, '2013-07-01 00:00:00', 'Nevada', 2775970)
(60, '2014-07-01 00:00:00', 'Nevada', 2817628)
(61, '2015-07-01 00:00:00', 'Nevada', 2866939)
(62, '2016-07-01 00:00:00', 'Nevada', 2917563)
(63, '2017-07-01 00:00:00', 'Nevada', 2969905)
(64, '2018-07-01 00:00:00', 'Nevada', 3027341)
(65, '2019-07-01 00:00:00', 'Nevada', 3080156)
(66, '2010-04-01 00:00:00', 'New Hampshire', 1316470)
(67, '2010-07-01 00:00:00', 'New Hampshire', 1316762)
(68, '2011-07-01 00:00:00', 'New Hampshire', 1320202)
(69, '2012-07-01 00:00:00', 'New Hampshire', 1324232)
(70, '2013-07-01 00:00:00', 'New Hampshire', 1326622)
(71, '2014-07-01 00:00:00', 'New Hampshire', 1333341)
(72, '2015-07-01 00:00:00', 'New Hampshire', 1336350)
(73, '2016-07-01 00:00:00', 'New Hampshire', 1342307)
(74, '2017-07-01 00:00:00', 'New Hampshire', 1348787)
(75, '2018-07-01 00:00:00', 'New Hampshire', 1353465)
(76, '2019-07-01 00:00:00', 'New Hampshire', 1359711)
(77, '2010-04-01 00:00:00', 'New Jersey', 8791894)
(78, '2010-07-01 00:00:00', 'New Jersey', 8799446)
(79, '2011-07-01 00:00:00', 'New Jersey', 8828117)
(80, '2012-07-01 00:00:00', 'New Jersey', 8844942)
(81, '2013-07-01 00:00:00', 'New Jersey', 8856972)
(82, '2014-07-01 00:00:00', 'New Jersey', 8864525)
(83, '2015-07-01 00:00:00', 'New Jersey', 8867949)
(84, '2016-07-01 00:00:00', 'New Jersey', 8870827)
(85, '2017-07-01 00:00:00', 'New Jersey', 8885525)
(86, '2018-07-01 00:00:00', 'New Jersey', 8886025)
(87, '2019-07-01 00:00:00', 'New Jersey', 8882190)
(88, '2010-04-01 00:00:00', 'New Mexico', 2059179)
(89, '2010-07-01 00:00:00', 'New Mexico', 2064552)
(90, '2011-07-01 00:00:00', 'New Mexico', 2080450)
(91, '2012-07-01 00:00:00', 'New Mexico', 2087309)
(92, '2013-07-01 00:00:00', 'New Mexico', 2092273)
(93, '2014-07-01 00:00:00', 'New Mexico', 2089568)
(94, '2015-07-01 00:00:00', 'New Mexico', 2089291)
(95, '2016-07-01 00:00:00', 'New Mexico', 2091630)
(96, '2017-07-01 00:00:00', 'New Mexico', 2091784)
(97, '2018-07-01 00:00:00', 'New Mexico', 2092741)
(98, '2019-07-01 00:00:00', 'New Mexico', 2096829)
(99, '2010-04-01 00:00:00', 'New York', 19378102)
(100, '2010-07-01 00:00:00', 'New York', 19399878)
(101, '2011-07-01 00:00:00', 'New York', 19499241)
(102, '2012-07-01 00:00:00', 'New York', 19572932)
(103, '2013-07-01 00:00:00', 'New York', 19624447)
(104, '2014-07-01 00:00:00', 'New York', 19651049)
(105, '2015-07-01 00:00:00', 'New York', 19654666)
(106, '2016-07-01 00:00:00', 'New York', 19633428)
(107, '2017-07-01 00:00:00', 'New York', 19589572)
(108, '2018-07-01 00:00:00', 'New York', 19530351)
(109, '2019-07-01 00:00:00', 'New York', 19453561)
(110, '2010-04-01 00:00:00', 'North Carolina', 9535483)
(111, '2010-07-01 00:00:00', 'North Carolina', 9574323)
(112, '2011-07-01 00:00:00', 'North Carolina', 9657592)
(113, '2012-07-01 00:00:00', 'North Carolina', 9749476)
(114, '2013-07-01 00:00:00', 'North Carolina', 9843336)
(115, '2014-07-01 00:00:00', 'North Carolina', 9932887)
(116, '2015-07-01 00:00:00', 'North Carolina', 10031646)
(117, '2016-07-01 00:00:00', 'North Carolina', 10154788)
(118, '2017-07-01 00:00:00', 'North Carolina', 10268233)
(119, '2018-07-01 00:00:00', 'North Carolina', 10381615)
(120, '2019-07-01 00:00:00', 'North Carolina', 10488084)
(121, '2010-04-01 00:00:00', 'North Dakota', 672591)
(122, '2010-07-01 00:00:00', 'North Dakota', 674715)
(123, '2011-07-01 00:00:00', 'North Dakota', 685225)
(124, '2012-07-01 00:00:00', 'North Dakota', 701176)
(125, '2013-07-01 00:00:00', 'North Dakota', 722036)
(126, '2014-07-01 00:00:00', 'North Dakota', 737401)
(127, '2015-07-01 00:00:00', 'North Dakota', 754066)
(128, '2016-07-01 00:00:00', 'North Dakota', 754434)
(129, '2017-07-01 00:00:00', 'North Dakota', 754942)
(130, '2018-07-01 00:00:00', 'North Dakota', 758080)
(131, '2019-07-01 00:00:00', 'North Dakota', 762062)
(132, '2010-04-01 00:00:00', 'Ohio', 11536504)
(133, '2010-07-01 00:00:00', 'Ohio', 11539336)
(134, '2011-07-01 00:00:00', 'Ohio', 11544663)
(135, '2012-07-01 00:00:00', 'Ohio', 11548923)
(136, '2013-07-01 00:00:00', 'Ohio', 11576684)
(137, '2014-07-01 00:00:00', 'Ohio', 11602700)
(138, '2015-07-01 00:00:00', 'Ohio', 11617527)
(139, '2016-07-01 00:00:00', 'Ohio', 11634370)
(140, '2017-07-01 00:00:00', 'Ohio', 11659650)
(141, '2018-07-01 00:00:00', 'Ohio', 11676341)
(142, '2019-07-01 00:00:00', 'Ohio', 11689100)
(143, '2010-04-01 00:00:00', 'Oklahoma', 3751351)
(144, '2010-07-01 00:00:00', 'Oklahoma', 3759944)
(145, '2011-07-01 00:00:00', 'Oklahoma', 3788379)
(146, '2012-07-01 00:00:00', 'Oklahoma', 3818814)
(147, '2013-07-01 00:00:00', 'Oklahoma', 3853214)
(148, '2014-07-01 00:00:00', 'Oklahoma', 3878187)
(149, '2015-07-01 00:00:00', 'Oklahoma', 3909500)
(150, '2016-07-01 00:00:00', 'Oklahoma', 3926331)
(151, '2017-07-01 00:00:00', 'Oklahoma', 3931316)
(152, '2018-07-01 00:00:00', 'Oklahoma', 3940235)
(153, '2019-07-01 00:00:00', 'Oklahoma', 3956971)
(154, '2010-04-01 00:00:00', 'Oregon', 3831074)
(155, '2010-07-01 00:00:00', 'Oregon', 3837491)
(156, '2011-07-01 00:00:00', 'Oregon', 3872036)
(157, '2012-07-01 00:00:00', 'Oregon', 3899001)
(158, '2013-07-01 00:00:00', 'Oregon', 3922468)
(159, '2014-07-01 00:00:00', 'Oregon', 3963244)
(160, '2015-07-01 00:00:00', 'Oregon', 4015792)
(161, '2016-07-01 00:00:00', 'Oregon', 4089976)
(162, '2017-07-01 00:00:00', 'Oregon', 4143625)
(163, '2018-07-01 00:00:00', 'Oregon', 4181886)
(164, '2019-07-01 00:00:00', 'Oregon', 4217737)
(165, '2010-04-01 00:00:00', 'Pennsylvania', 12702379)
(166, '2010-07-01 00:00:00', 'Pennsylvania', 12711160)
(167, '2011-07-01 00:00:00', 'Pennsylvania', 12745815)
(168, '2012-07-01 00:00:00', 'Pennsylvania', 12767118)
(169, '2013-07-01 00:00:00', 'Pennsylvania', 12776309)
(170, '2014-07-01 00:00:00', 'Pennsylvania', 12788313)
(171, '2015-07-01 00:00:00', 'Pennsylvania', 12784826)
(172, '2016-07-01 00:00:00', 'Pennsylvania', 12782275)
(173, '2017-07-01 00:00:00', 'Pennsylvania', 12787641)
(174, '2018-07-01 00:00:00', 'Pennsylvania', 12800922)
(175, '2019-07-01 00:00:00', 'Pennsylvania', 12801989)
(176, '2010-04-01 00:00:00', 'Rhode Island', 1052567)
(177, '2010-07-01 00:00:00', 'Rhode Island', 1053959)
(178, '2011-07-01 00:00:00', 'Rhode Island', 1053649)
(179, '2012-07-01 00:00:00', 'Rhode Island', 1054621)
(180, '2013-07-01 00:00:00', 'Rhode Island', 1055081)
(181, '2014-07-01 00:00:00', 'Rhode Island', 1055936)
(182, '2015-07-01 00:00:00', 'Rhode Island', 1056065)
(183, '2016-07-01 00:00:00', 'Rhode Island', 1056770)
(184, '2017-07-01 00:00:00', 'Rhode Island', 1055673)
(185, '2018-07-01 00:00:00', 'Rhode Island', 1058287)
(186, '2019-07-01 00:00:00', 'Rhode Island', 1059361)
(187, '2010-04-01 00:00:00', 'South Carolina', 4625364)
(188, '2010-07-01 00:00:00', 'South Carolina', 4635649)
(189, '2011-07-01 00:00:00', 'South Carolina', 4671994)
(190, '2012-07-01 00:00:00', 'South Carolina', 4717354)
(191, '2013-07-01 00:00:00', 'South Carolina', 4764080)
(192, '2014-07-01 00:00:00', 'South Carolina', 4823617)
(193, '2015-07-01 00:00:00', 'South Carolina', 4891938)
(194, '2016-07-01 00:00:00', 'South Carolina', 4957968)
(195, '2017-07-01 00:00:00', 'South Carolina', 5021268)
(196, '2018-07-01 00:00:00', 'South Carolina', 5084156)
(197, '2019-07-01 00:00:00', 'South Carolina', 5148714)
(198, '2010-04-01 00:00:00', 'South Dakota', 814180)
(199, '2010-07-01 00:00:00', 'South Dakota', 816166)
(200, '2011-07-01 00:00:00', 'South Dakota', 823579)
(201, '2012-07-01 00:00:00', 'South Dakota', 833566)
(202, '2013-07-01 00:00:00', 'South Dakota', 842316)
(203, '2014-07-01 00:00:00', 'South Dakota', 849129)
(204, '2015-07-01 00:00:00', 'South Dakota', 853988)
(205, '2016-07-01 00:00:00', 'South Dakota', 862996)
(206, '2017-07-01 00:00:00', 'South Dakota', 872868)
(207, '2018-07-01 00:00:00', 'South Dakota', 878698)
(208, '2019-07-01 00:00:00', 'South Dakota', 884659)
(209, '2010-04-01 00:00:00', 'Tennessee', 6346105)
(210, '2010-07-01 00:00:00', 'Tennessee', 6355311)
(211, '2011-07-01 00:00:00', 'Tennessee', 6399291)
(212, '2012-07-01 00:00:00', 'Tennessee', 6453898)
(213, '2013-07-01 00:00:00', 'Tennessee', 6494340)
(214, '2014-07-01 00:00:00', 'Tennessee', 6541223)
(215, '2015-07-01 00:00:00', 'Tennessee', 6591170)
(216, '2016-07-01 00:00:00', 'Tennessee', 6646010)
(217, '2017-07-01 00:00:00', 'Tennessee', 6708799)
(218, '2018-07-01 00:00:00', 'Tennessee', 6771631)
(219, '2019-07-01 00:00:00', 'Tennessee', 6829174)
(220, '2010-04-01 00:00:00', 'Texas', 25145561)
(221, '2010-07-01 00:00:00', 'Texas', 25241971)
(222, '2011-07-01 00:00:00', 'Texas', 25645629)
(223, '2012-07-01 00:00:00', 'Texas', 26084481)
(224, '2013-07-01 00:00:00', 'Texas', 26480266)
(225, '2014-07-01 00:00:00', 'Texas', 26964333)
(226, '2015-07-01 00:00:00', 'Texas', 27470056)
(227, '2016-07-01 00:00:00', 'Texas', 27914410)
(228, '2017-07-01 00:00:00', 'Texas', 28295273)
(229, '2018-07-01 00:00:00', 'Texas', 28628666)
(230, '2019-07-01 00:00:00', 'Texas', 28995881)
(231, '2010-04-01 00:00:00', 'Utah', 2763885)
(232, '2010-07-01 00:00:00', 'Utah', 2775332)
(233, '2011-07-01 00:00:00', 'Utah', 2814384)
(234, '2012-07-01 00:00:00', 'Utah', 2853375)
(235, '2013-07-01 00:00:00', 'Utah', 2897640)
(236, '2014-07-01 00:00:00', 'Utah', 2936879)
(237, '2015-07-01 00:00:00', 'Utah', 2981835)
(238, '2016-07-01 00:00:00', 'Utah', 3041868)
(239, '2017-07-01 00:00:00', 'Utah', 3101042)
(240, '2018-07-01 00:00:00', 'Utah', 3153550)
(241, '2019-07-01 00:00:00', 'Utah', 3205958)
(242, '2010-04-01 00:00:00', 'Vermont', 625741)
(243, '2010-07-01 00:00:00', 'Vermont', 625879)
(244, '2011-07-01 00:00:00', 'Vermont', 627049)
(245, '2012-07-01 00:00:00', 'Vermont', 626090)
(246, '2013-07-01 00:00:00', 'Vermont', 626210)
(247, '2014-07-01 00:00:00', 'Vermont', 625214)
(248, '2015-07-01 00:00:00', 'Vermont', 625216)
(249, '2016-07-01 00:00:00', 'Vermont', 623657)
(250, '2017-07-01 00:00:00', 'Vermont', 624344)
(251, '2018-07-01 00:00:00', 'Vermont', 624358)
(252, '2019-07-01 00:00:00', 'Vermont', 623989)
(253, '2010-04-01 00:00:00', 'Virginia', 8001024)
(254, '2010-07-01 00:00:00', 'Virginia', 8023699)
(255, '2011-07-01 00:00:00', 'Virginia', 8101155)
(256, '2012-07-01 00:00:00', 'Virginia', 8185080)
(257, '2013-07-01 00:00:00', 'Virginia', 8252427)
(258, '2014-07-01 00:00:00', 'Virginia', 8310993)
(259, '2015-07-01 00:00:00', 'Virginia', 8361808)
(260, '2016-07-01 00:00:00', 'Virginia', 8410106)
(261, '2017-07-01 00:00:00', 'Virginia', 8463587)
(262, '2018-07-01 00:00:00', 'Virginia', 8501286)
(263, '2019-07-01 00:00:00', 'Virginia', 8535519)
(264, '2010-04-01 00:00:00', 'West Virginia', 1852994)
(265, '2010-07-01 00:00:00', 'West Virginia', 1854239)
(266, '2011-07-01 00:00:00', 'West Virginia', 1856301)
(267, '2012-07-01 00:00:00', 'West Virginia', 1856872)
(268, '2013-07-01 00:00:00', 'West Virginia', 1853914)
(269, '2014-07-01 00:00:00', 'West Virginia', 1849489)
(270, '2015-07-01 00:00:00', 'West Virginia', 1842050)
(271, '2016-07-01 00:00:00', 'West Virginia', 1831023)
(272, '2017-07-01 00:00:00', 'West Virginia', 1817004)
(273, '2018-07-01 00:00:00', 'West Virginia', 1804291)
(274, '2019-07-01 00:00:00', 'West Virginia', 1792147)
(275, '2010-04-01 00:00:00', 'Washington', 6724540)
(276, '2010-07-01 00:00:00', 'Washington', 6742830)
(277, '2011-07-01 00:00:00', 'Washington', 6826627)
(278, '2012-07-01 00:00:00', 'Washington', 6897058)
(279, '2013-07-01 00:00:00', 'Washington', 6963985)
(280, '2014-07-01 00:00:00', 'Washington', 7054655)
(281, '2015-07-01 00:00:00', 'Washington', 7163657)
(282, '2016-07-01 00:00:00', 'Washington', 7294771)
(283, '2017-07-01 00:00:00', 'Washington', 7423362)
(284, '2018-07-01 00:00:00', 'Washington', 7523869)
(285, '2019-07-01 00:00:00', 'Washington', 7614893)
(286, '2010-04-01 00:00:00', 'Wisconsin', 5686986)
(287, '2010-07-01 00:00:00', 'Wisconsin', 5690475)
(288, '2011-07-01 00:00:00', 'Wisconsin', 5705288)
(289, '2012-07-01 00:00:00', 'Wisconsin', 5719960)
(290, '2013-07-01 00:00:00', 'Wisconsin', 5736754)
(291, '2014-07-01 00:00:00', 'Wisconsin', 5751525)
(292, '2015-07-01 00:00:00', 'Wisconsin', 5760940)
(293, '2016-07-01 00:00:00', 'Wisconsin', 5772628)
(294, '2017-07-01 00:00:00', 'Wisconsin', 5790186)
(295, '2018-07-01 00:00:00', 'Wisconsin', 5807406)
(296, '2019-07-01 00:00:00', 'Wisconsin', 5822434)
(297, '2010-04-01 00:00:00', 'Wyoming', 563626)
(298, '2010-07-01 00:00:00', 'Wyoming', 564487)
(299, '2011-07-01 00:00:00', 'Wyoming', 567299)
(300, '2012-07-01 00:00:00', 'Wyoming', 576305)
(301, '2013-07-01 00:00:00', 'Wyoming', 582122)
(302, '2014-07-01 00:00:00', 'Wyoming', 582531)
(303, '2015-07-01 00:00:00', 'Wyoming', 585613)
(304, '2016-07-01 00:00:00', 'Wyoming', 584215)
(305, '2017-07-01 00:00:00', 'Wyoming', 578931)
(306, '2018-07-01 00:00:00', 'Wyoming', 577601)
(307, '2019-07-01 00:00:00', 'Wyoming', 578759)
(308, '2010-04-01 00:00:00', 'Puerto Rico', 3725789)
(309, '2010-07-01 00:00:00', 'Puerto Rico', 3721525)
(310, '2011-07-01 00:00:00', 'Puerto Rico', 3678732)
(311, '2012-07-01 00:00:00', 'Puerto Rico', 3634488)
(312, '2013-07-01 00:00:00', 'Puerto Rico', 3593077)
(313, '2014-07-01 00:00:00', 'Puerto Rico', 3534874)
(314, '2015-07-01 00:00:00', 'Puerto Rico', 3473232)
(315, '2016-07-01 00:00:00', 'Puerto Rico', 3406672)
(316, '2017-07-01 00:00:00', 'Puerto Rico', 3325286)
(317, '2018-07-01 00:00:00', 'Puerto Rico', 3193354)
(318, '2019-07-01 00:00:00', 'Puerto Rico', 3193694)
(319, '2010-04-01 00:00:00', 'Alabama', 4779736)
(320, '2010-07-01 00:00:00', 'Alabama', 4785437)
(321, '2011-07-01 00:00:00', 'Alabama', 4799069)
(322, '2012-07-01 00:00:00', 'Alabama', 4815588)
(323, '2013-07-01 00:00:00', 'Alabama', 4830081)
(324, '2014-07-01 00:00:00', 'Alabama', 4841799)
(325, '2015-07-01 00:00:00', 'Alabama', 4852347)
(326, '2016-07-01 00:00:00', 'Alabama', 4863525)
(327, '2017-07-01 00:00:00', 'Alabama', 4874486)
(328, '2018-07-01 00:00:00', 'Alabama', 4887681)
(329, '2019-07-01 00:00:00', 'Alabama', 4903185)
(330, '2010-04-01 00:00:00', 'Alaska', 710231)
(331, '2010-07-01 00:00:00', 'Alaska', 713910)
(332, '2011-07-01 00:00:00', 'Alaska', 722128)
(333, '2012-07-01 00:00:00', 'Alaska', 730443)
(334, '2013-07-01 00:00:00', 'Alaska', 737068)
(335, '2014-07-01 00:00:00', 'Alaska', 736283)
(336, '2015-07-01 00:00:00', 'Alaska', 737498)
(337, '2016-07-01 00:00:00', 'Alaska', 741456)
(338, '2017-07-01 00:00:00', 'Alaska', 739700)
(339, '2018-07-01 00:00:00', 'Alaska', 735139)
(340, '2019-07-01 00:00:00', 'Alaska', 731545)
(341, '2010-04-01 00:00:00', 'Arizona', 6392017)
(342, '2010-07-01 00:00:00', 'Arizona', 6407172)
(343, '2011-07-01 00:00:00', 'Arizona', 6472643)
(344, '2012-07-01 00:00:00', 'Arizona', 6554978)
(345, '2013-07-01 00:00:00', 'Arizona', 6632764)
(346, '2014-07-01 00:00:00', 'Arizona', 6730413)
(347, '2015-07-01 00:00:00', 'Arizona', 6829676)
(348, '2016-07-01 00:00:00', 'Arizona', 6941072)
(349, '2017-07-01 00:00:00', 'Arizona', 7044008)
(350, '2018-07-01 00:00:00', 'Arizona', 7158024)
(351, '2019-07-01 00:00:00', 'Arizona', 7278717)
(352, '2010-04-01 00:00:00', 'Arkansas', 2915918)
(353, '2010-07-01 00:00:00', 'Arkansas', 2921964)
(354, '2011-07-01 00:00:00', 'Arkansas', 2940667)
(355, '2012-07-01 00:00:00', 'Arkansas', 2952164)
(356, '2013-07-01 00:00:00', 'Arkansas', 2959400)
(357, '2014-07-01 00:00:00', 'Arkansas', 2967392)
(358, '2015-07-01 00:00:00', 'Arkansas', 2978048)
(359, '2016-07-01 00:00:00', 'Arkansas', 2989918)
(360, '2017-07-01 00:00:00', 'Arkansas', 3001345)
(361, '2018-07-01 00:00:00', 'Arkansas', 3009733)
(362, '2019-07-01 00:00:00', 'Arkansas', 3017804)
(363, '2010-04-01 00:00:00', 'California', 37253956)
(364, '2010-07-01 00:00:00', 'California', 37319502)
(365, '2011-07-01 00:00:00', 'California', 37638369)
(366, '2012-07-01 00:00:00', 'California', 37948800)
(367, '2013-07-01 00:00:00', 'California', 38260787)
(368, '2014-07-01 00:00:00', 'California', 38596972)
(369, '2015-07-01 00:00:00', 'California', 38918045)
(370, '2016-07-01 00:00:00', 'California', 39167117)
(371, '2017-07-01 00:00:00', 'California', 39358497)
(372, '2018-07-01 00:00:00', 'California', 39461588)
(373, '2019-07-01 00:00:00', 'California', 39512223)
(374, '2010-04-01 00:00:00', 'Colorado', 5029196)
(375, '2010-07-01 00:00:00', 'Colorado', 5047349)
(376, '2011-07-01 00:00:00', 'Colorado', 5121108)
(377, '2012-07-01 00:00:00', 'Colorado', 5192647)
(378, '2013-07-01 00:00:00', 'Colorado', 5269035)
(379, '2014-07-01 00:00:00', 'Colorado', 5350101)
(380, '2015-07-01 00:00:00', 'Colorado', 5450623)
(381, '2016-07-01 00:00:00', 'Colorado', 5539215)
(382, '2017-07-01 00:00:00', 'Colorado', 5611885)
(383, '2018-07-01 00:00:00', 'Colorado', 5691287)
(384, '2019-07-01 00:00:00', 'Colorado', 5758736)
(385, '2010-04-01 00:00:00', 'Connecticut', 3574097)
(386, '2010-07-01 00:00:00', 'Connecticut', 3579114)
(387, '2011-07-01 00:00:00', 'Connecticut', 3588283)
(388, '2012-07-01 00:00:00', 'Connecticut', 3594547)
(389, '2013-07-01 00:00:00', 'Connecticut', 3594841)
(390, '2014-07-01 00:00:00', 'Connecticut', 3594524)
(391, '2015-07-01 00:00:00', 'Connecticut', 3587122)
(392, '2016-07-01 00:00:00', 'Connecticut', 3578141)
(393, '2017-07-01 00:00:00', 'Connecticut', 3573297)

# Working Zone