# Electoral College Data Mapping

The purpose of this project is to analyze the how the electoral college votes were distributed after the 2010 census, look at how the redistribution of population (by estimate) has shifted over time until today, and what that means for the voter per electoral college vote in each state. I will also analyze how we expect the electoral college to be redistributed after the 2020 census, given census bureau predictions.

An analysis will also be performed on the percentage likelihood of each state giving its electoral college votes to a particular party and their respective nominees, based purely on historical data. The aim is to demonstrate which states have the greatest power per vote, given both their current electoral votes allotted and the likelihood of that state assigning thier votes to either candidate.

### Things to get

- likelihood of state vote going to party
- predictions for state populations in 2020
- DC gets electoral votes, but no house votes
- Put standard pop, overseas pop, npvic, and voting results in own sql tables

### Vizualizations
- viz of state pops over time (5 lowest, 5 highest)
- animation of voter potency (voters / electoral vote)
- electoral votes w/ new census
- voter potency w/ new census
- guaranteed (statistically) electoral votes for each party
- swing states and leanings and votes

## Import

In [1]:
#import necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import requests
import json
import copy

from bs4 import BeautifulSoup
import re

import sqlite3
%matplotlib inline

## Support Functions

In [2]:
#define how to retrieve api keys

def get_keys(path):
    """
    Pulls necessary api keys from designated path
    """
    with open(path) as f:
        return json.load(f)

In [3]:
def reciprocal_geometric_mean(next_house_seat):
    """
    Calculates the reciprocal geometric mean for the next house seat a state could potentially receive
    """
    return 1 / np.sqrt(next_house_seat*(next_house_seat-1))

In [4]:
def priority_value(state_pop, next_house_seat):
    """
    Calculates the priority value a state has for receiving another house seat.
    The highest priority value state gets the next house seat available.
    """
    return int(round(state_pop * reciprocal_geometric_mean(next_house_seat), 0))

## Data Collection

### API Request

In [3]:
#get key for census bureau api
keys = get_keys("/Users/flatironschool/.secret/census_api.json")

api_key = keys['api_key']

In [5]:
#make and print request for census count and estimates from 2010-2019 for all states
year = '2019'

url = 'https://api.census.gov/data/{}/pep/population'.format(year)

variables = ['DATE_CODE',
             'DATE_DESC',
             'POP',
             'NAME']

granularity = 'state:*'

params = {'get': ','.join(variables), 'for': granularity, 'key': api_key}

r = requests.get(url, params=params)
print(r.url)
print(r)
print(type(r.text))
print(r.text[:1000])

https://api.census.gov/data/2019/pep/population?get=DATE_CODE%2CDATE_DESC%2CPOP%2CNAME&for=state%3A%2A&key=b7961d22ec04ff1777be8a0450921d3f28af8315
<Response [200]>
<class 'str'>
[["DATE_CODE","DATE_DESC","POP","NAME","state"],
["1","4/1/2010 Census population","5303925","Minnesota","27"],
["2","4/1/2010 population estimates base","5303927","Minnesota","27"],
["3","7/1/2010 population estimate","5310828","Minnesota","27"],
["4","7/1/2011 population estimate","5346143","Minnesota","27"],
["5","7/1/2012 population estimate","5376643","Minnesota","27"],
["6","7/1/2013 population estimate","5413479","Minnesota","27"],
["7","7/1/2014 population estimate","5451079","Minnesota","27"],
["8","7/1/2015 population estimate","5482032","Minnesota","27"],
["9","7/1/2016 population estimate","5522744","Minnesota","27"],
["10","7/1/2017 population estimate","5566230","Minnesota","27"],
["11","7/1/2018 population estimate","5606249","Minnesota","27"],
["12","7/1/2019 population estimate","5639632","Minnesota","27"],
["1","4/1/2010 Census population","2967297","Mississippi","28"],
["2","4/1/2010 population estimates base","2968130","Mississippi","28"],
["3","7/1/2010 population

In [115]:
#clean data (only need population, state, and datetime) with pandas before putting into SQL database
data = r.json()
main_df = pd.DataFrame(data[1:], columns=data[0])
main_df['YEAR'] = main_df.DATE_DESC.apply(lambda x: x[4:8])
main_df.drop(main_df[(main_df.DATE_CODE == '2') | (main_df.DATE_CODE == '3')].index, inplace=True)
main_df.drop(['state','DATE_CODE', 'DATE_DESC'], axis=1, inplace=True)
main_df.reset_index(drop=True, inplace=True)
main_df['POP'] = main_df.POP.astype('int64')
main_df = main_df[['YEAR', 'NAME', 'POP']]
main_df.columns = ['Year', 'State', 'Population']

display(main_df.head(15))
display(main_df.info())

    Year        State  Population
0   2010    Minnesota     5303925
1   2011    Minnesota     5346143
2   2012    Minnesota     5376643
3   2013    Minnesota     5413479
4   2014    Minnesota     5451079
5   2015    Minnesota     5482032
6   2016    Minnesota     5522744
7   2017    Minnesota     5566230
8   2018    Minnesota     5606249
9   2019    Minnesota     5639632
10  2010  Mississippi     2967297
11  2011  Mississippi     2978731
12  2012  Mississippi     2983816
13  2013  Mississippi     2988711
14  2014  Mississippi     2990468

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520 entries, 0 to 519
Data columns (total 3 columns):
Year          520 non-null object
State         520 non-null object
Population    520 non-null int64
dtypes: int64(1), object(2)
memory usage: 12.3+ KB

None

### Overseas Population Import

In [5]:
overseas_df = pd.read_excel('Overseas Population 2010.xls', skiprows=7)
overseas_df.dropna(inplace=True)
overseas_df.columns = ['State', 'Overseas_pop']
overseas_df['Year'] = '2010'
overseas_df['Overseas_pop'] = overseas_df['Overseas_pop'].astype('int64')
overseas_df.reset_index(drop=True, inplace=True)

display(overseas_df.head())
display(overseas_df.info())

        State  Overseas_pop  Year
0     Alabama         23246  2010
1      Alaska         11292  2010
2     Arizona         20683  2010
3    Arkansas         10311  2010
4  California         88033  2010

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
State           52 non-null object
Overseas_pop    52 non-null int64
Year            52 non-null object
dtypes: int64(1), object(2)
memory usage: 1.3+ KB

None

### Scraping National Popular Vote Interstate Compact State Status

In [8]:
url = "https://www.nationalpopularvote.com/state-status"
req = requests.get(url)
soup = BeautifulSoup(req.content, 'html.parser')

In [9]:
#skips over the initial list (and links) of states at the top of the page
init_state_skip = soup.find("p", text=re.compile("On the map below"))

In [10]:
#actually brings us to the states and their current statuses
state_start = init_state_skip.find_next_sibling().find_next_sibling()

In [11]:
#creates a dictionary from soup html of each state and its status in the NPVIC
state_npvic_status = {}
for p in state_start.find_next_siblings():
    if p.contents == [] or p.contents == ['\xa0']:
        break
    
    soup_state_status = p.get_text().replace('\xa0', ' ')
    if '-' not in soup_state_status:
        state = soup_state_status
        status = ''
    else:
        dash_index = soup_state_status.index('-')
        state = soup_state_status[:dash_index-1]
        status = soup_state_status[dash_index+2:]
        
    state_npvic_status.update({state: status})

In [12]:
state_npvic_status

{'Alaska': '',
 'Alabama': '',
 'Arkansas': 'Passed House in 2007 and 2009',
 'Arizona': 'Passed House in 2016',
 'California': 'Enacted into law',
 'Colorado': 'Enacted into law, but subject to statewide vote in November 2020',
 'Connecticut': 'Enacted into law',
 'District of Columbia': 'Enacted into law',
 'Delaware': 'Enacted into law',
 'Florida': '',
 'Georgia': 'Unanimously approved by House committee in 2016',
 'Hawaii': 'Enacted into law',
 'Iowa': '',
 'Idaho': '',
 'Illinois': 'Enacted into law',
 'Indiana': '',
 'Kansas': '',
 'Kentucky': '',
 'Louisiana': '',
 'Massachusetts': 'Enacted into law',
 'Maryland': 'Enacted into law',
 'Maine': 'Passed Maine in 2008 and 2019',
 'Michigan': 'Passed House in 2008',
 'Minnesota': 'Passed House in 2019',
 'Missouri': 'Unanimously approved by House committee in 2016',
 'Mississippi': '',
 'Montana': '',
 'North Carolina': 'Passed Senate in 2007',
 'North Dakota': '',
 'Nebraska': '',
 'New Hampshire': '',
 'New Jersey': 'Enacted into law',
 'New Mexico': 'Enacted into law',
 'Nevada': 'Passed Assembly in 2009, and passed the Assembly and Senate in 2019, but vetoed',
 'New York': 'Enacted into law',
 'Ohio': '',
 'Oklahoma': 'Passed Senate in 2015',
 'Oregon': 'Enacted into law',
 'Pennsylvania': '',
 'Rhode Island': 'Enacted into law',
 'South Carolina': '',
 'South Dakota': '',
 'Tennessee': '',
 'Texas': '',
 'Utah': '',
 'Virginia': '',
 'Vermont': 'Enacted into law',
 'Washington': 'Enacted into law',
 'Wisconsin': '',
 'West Virginia': '',
 'Wyoming': ''}

In [13]:
#takes all phrases from dictionary and assigns a value for how close the state is to joining the NPVIC
#joined (passed legislature and signed by governor): 1.0
#passed by one or two branches of state legislature: 0.5
#approved by house committee:                        0.25
#states with no movement:                            0
for state in state_npvic_status.keys():
    if 'Enacted into law' in state_npvic_status[state]:
        state_npvic_status[state] = 1.0
    elif 'Passed' in state_npvic_status[state]:
        state_npvic_status[state] = 0.5
    elif 'approved' in state_npvic_status[state]:
        state_npvic_status[state] = 0.25
    else:
        state_npvic_status[state] = 0

state_npvic_status

{'Alaska': 0,
 'Alabama': 0,
 'Arkansas': 0.5,
 'Arizona': 0.5,
 'California': 1.0,
 'Colorado': 1.0,
 'Connecticut': 1.0,
 'District of Columbia': 1.0,
 'Delaware': 1.0,
 'Florida': 0,
 'Georgia': 0.25,
 'Hawaii': 1.0,
 'Iowa': 0,
 'Idaho': 0,
 'Illinois': 1.0,
 'Indiana': 0,
 'Kansas': 0,
 'Kentucky': 0,
 'Louisiana': 0,
 'Massachusetts': 1.0,
 'Maryland': 1.0,
 'Maine': 0.5,
 'Michigan': 0.5,
 'Minnesota': 0.5,
 'Missouri': 0.25,
 'Mississippi': 0,
 'Montana': 0,
 'North Carolina': 0.5,
 'North Dakota': 0,
 'Nebraska': 0,
 'New Hampshire': 0,
 'New Jersey': 1.0,
 'New Mexico': 1.0,
 'Nevada': 0.5,
 'New York': 1.0,
 'Ohio': 0,
 'Oklahoma': 0.5,
 'Oregon': 1.0,
 'Pennsylvania': 0,
 'Rhode Island': 1.0,
 'South Carolina': 0,
 'South Dakota': 0,
 'Tennessee': 0,
 'Texas': 0,
 'Utah': 0,
 'Virginia': 0,
 'Vermont': 1.0,
 'Washington': 1.0,
 'Wisconsin': 0,
 'West Virginia': 0,
 'Wyoming': 0}

### Election History Data

Some things of note:
- In exploration of the data, there was a "democrat/republican" that someone once ran as (James Gritz, only in CO) and in 1992) but that was excluded from the purely democrat/republican divide I want to study here
- Any write in candidates were also not considered, as they are effectively outliers for this study
- This dataset was only for US Presidential elections, so the office column is superfluous
- In 2000, 2004, 2012, nominees Al Gore, John Kerry and Barack Obama had to run under the 'democratic-farmer-labor' party. For analysis, that party name has been changed to 'democrat' for ease of analysis

In [63]:
vote_history = pd.read_csv('1976-2016-president.csv')
vote_history.replace(to_replace='democratic-farmer-labor', value='democrat', inplace=True)
vote_history = vote_history[(vote_history['party'].isin(['democrat', 'republican'])) & 
                            (vote_history['writein'] == False)]
drop_vote_history_cols = ['state_po', 'state_fips', 'state_cen', 'state_ic', 'office', 'version', 'notes']
vote_history.drop(drop_vote_history_cols, axis=1, inplace=True)

display(vote_history.head(10))
display(vote_history.info())

,year,state,candidate,party,writein,candidatevotes,totalvotes
0,1976,Alabama,"Carter, Jimmy",democrat,False,659170,1182850
1,1976,Alabama,"Ford, Gerald",republican,False,504070,1182850
7,1976,Alaska,"Ford, Gerald",republican,False,71555,123574
8,1976,Alaska,"Carter, Jimmy",democrat,False,44058,123574
11,1976,Arizona,"Ford, Gerald",republican,False,418642,742719
12,1976,Arizona,"Carter, Jimmy",democrat,False,295602,742719
19,1976,Arkansas,"Carter, Jimmy",democrat,False,498604,767535
20,1976,Arkansas,"Ford, Gerald",republican,False,267903,767535
23,1976,California,"Ford, Gerald",republican,False,3882244,7803770
24,1976,California,"Carter, Jimmy",democrat,False,3742284,7803770

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1122 entries, 0 to 3733
Data columns (total 7 columns):
year              1122 non-null int64
state             1122 non-null object
candidate         1122 non-null object
party             1122 non-null object
writein           1122 non-null bool
candidatevotes    1122 non-null int64
totalvotes        1122 non-null int64
dtypes: bool(1), int64(3), object(3)
memory usage: 62.5+ KB

None

In [64]:
party_test = vote_history.groupby(['year', 'state']).count()

display(party_test.head())
display(party_test.info())

                 candidate  party  writein  candidatevotes  totalvotes
year state
1976 Alabama             2      2        2               2           2
     Alaska              2      2        2               2           2
     Arizona             2      2        2               2           2
     Arkansas            2      2        2               2           2
     California          2      2        2               2           2

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 561 entries, (1976, Alabama) to (2016, Wyoming)
Data columns (total 5 columns):
candidate         561 non-null int64
party             561 non-null int64
writein           561 non-null int64
candidatevotes    561 non-null int64
totalvotes        561 non-null int64
dtypes: int64(5)
memory usage: 23.6+ KB

None

In [65]:
party_test[party_test['party'] != 2]

Empty DataFrame
Columns: [candidate, party, writein, candidatevotes, totalvotes]
Index: []

In [58]:
vote_history[(vote_history['year'] == 2000) & (vote_history['state'] == 'Minnesota')]

,year,state,candidate,party,writein,candidatevotes,totalvotes
2211,2000,Minnesota,"Bush, George W.",republican,False,1109659,2438685

### Merging all data into SQL Database

In [160]:
#merge the overseas data with the main population estimates table and extrapolate overseas estimates based on 
#percentage change in the population year over year

#merge the population estimates with overseas data on State and Year
merged_df = main_df.merge(overseas_df, how='left', on=['State','Year'])

#create our Percent change in population column
merged_df['Percent_change'] = (merged_df.Population - merged_df.Population.shift(1)) / merged_df.Population.shift(1)

#iterate through the missing data in overseas population, calculating the next missing value from the previous known
#(from the 2010 census) or from the last calculated value based on percentage change in that state
for i in range(len(merged_df)):
    if pd.isna(merged_df.iloc[i]['Overseas_pop']):
        merged_df.at[i,'Overseas_pop'] = round(merged_df.iloc[i]['Percent_change'] * \
                                               merged_df.iloc[i-1]['Overseas_pop'] + \
                                               merged_df.iloc[i-1]['Overseas_pop'], 0)
        
merged_df.drop('Percent_change', axis=1, inplace=True)        
merged_df['Overseas_pop'] = merged_df.Overseas_pop.astype('int64')

display(merged_df.head(30))
display(merged_df.info())

    Year        State  Population  Overseas_pop
0   2010    Minnesota     5303925         10954
1   2011    Minnesota     5346143         11041
2   2012    Minnesota     5376643         11104
3   2013    Minnesota     5413479         11180
4   2014    Minnesota     5451079         11258
5   2015    Minnesota     5482032         11322
6   2016    Minnesota     5522744         11406
7   2017    Minnesota     5566230         11496
8   2018    Minnesota     5606249         11579
9   2019    Minnesota     5639632         11648
10  2010  Mississippi     2967297         10943
11  2011  Mississippi     2978731         10985
12  2012  Mississippi     2983816         11004
13  2013  Mississippi     2988711         11022
14  2014  Mississippi     2990468         11028
15  2015  Mississippi     2988471         11021
16  2016  Mississippi     2987938         11019
17  2017  Mississippi     2988510         11021
18  2018  Mississippi     2981020         10993
19  2019  Mississippi     2976149         10975
20  2010     Missouri     5988927         22551
21  2011     Missouri     6010275         22631
22  2012     Missouri     6024367         22684
23  2013     Missouri     6040715         22746
24  2014     Missouri     6056202         22804
25  2015     Missouri     6071732         22862
26  2016     Missouri     6087135         22920
27  2017     Missouri     6106670         22994
28  2018     Missouri     6121623         23050
29  2019     Missouri     6137428         23110

<class 'pandas.core.frame.DataFrame'>
Int64Index: 520 entries, 0 to 519
Data columns (total 4 columns):
Year            520 non-null object
State           520 non-null object
Population      520 non-null int64
Overseas_pop    520 non-null int64
dtypes: int64(2), object(2)
memory usage: 40.3+ KB

None

In [161]:
#put pop data into SQL database for easy retrieval
conn = sqlite3.connect('census_pop_data.db')
c = conn.cursor()

In [163]:
try:
    c.execute('CREATE TABLE POPULATION (Year text, State text, Population integer, Overseas_pop integer)')
    conn.commit()
    print('Population Table created (Year, State, Population, Overseas_pop)')
except:
    c.execute('DROP TABLE POPULATION')
    print('Population table dropped')
    c.execute('CREATE TABLE POPULATION (Year text, State text, Population integer, Overseas_pop integer)')
    conn.commit()
    print('Population table created (Year, State, Population, Overseas_pop)')

Population table dropped
Population table created (Year, State, Population, Overseas_pop)

In [166]:
merged_df.to_sql('POPULATION', conn, if_exists='replace')

In [167]:
c.execute('SELECT * FROM population')
for row in c.fetchall():
    print(row)

(0, '2010', 'Minnesota', 5303925, 10954)
(1, '2011', 'Minnesota', 5346143, 11041)
(2, '2012', 'Minnesota', 5376643, 11104)
(3, '2013', 'Minnesota', 5413479, 11180)
(4, '2014', 'Minnesota', 5451079, 11258)
(5, '2015', 'Minnesota', 5482032, 11322)
(6, '2016', 'Minnesota', 5522744, 11406)
(7, '2017', 'Minnesota', 5566230, 11496)
(8, '2018', 'Minnesota', 5606249, 11579)
(9, '2019', 'Minnesota', 5639632, 11648)
(10, '2010', 'Mississippi', 2967297, 10943)
(11, '2011', 'Mississippi', 2978731, 10985)
(12, '2012', 'Mississippi', 2983816, 11004)
(13, '2013', 'Mississippi', 2988711, 11022)
(14, '2014', 'Mississippi', 2990468, 11028)
(15, '2015', 'Mississippi', 2988471, 11021)
(16, '2016', 'Mississippi', 2987938, 11019)
(17, '2017', 'Mississippi', 2988510, 11021)
(18, '2018', 'Mississippi', 2981020, 10993)
(19, '2019', 'Mississippi', 2976149, 10975)
(20, '2010', 'Missouri', 5988927, 22551)
(21, '2011', 'Missouri', 6010275, 22631)
(22, '2012', 'Missouri', 6024367, 22684)
(23, '2013', 'Missouri', 6040715, 22746)
(24, '2014', 'Missouri', 6056202, 22804)
(25, '2015', 'Missouri', 6071732, 22862)
(26, '2016', 'Missouri', 6087135, 22920)
(27, '2017', 'Missouri', 6106670, 22994)
(28, '2018', 'Missouri', 6121623, 23050)
(29, '2019', 'Missouri', 6137428, 23110)
(30, '2010', 'Montana', 989415, 5001)
(31, '2011', 'Montana', 997316, 5041)
(32, '2012', 'Montana', 1003783, 5074)
(33, '2013', 'Montana', 1013569, 5123)
(34, '2014', 'Montana', 1021869, 5165)
(35, '2015', 'Montana', 1030475, 5208)
(36, '2016', 'Montana', 1040859, 5260)
(37, '2017', 'Montana', 1052482, 5319)
(38, '2018', 'Montana', 1060665, 5360)
(39, '2019', 'Montana', 1068778, 5401)
(40, '2010', 'Nebraska', 1826341, 5484)
(41, '2011', 'Nebraska', 1840672, 5527)
(42, '2012', 'Nebraska', 1853303, 5565)
(43, '2013', 'Nebraska', 1865279, 5601)
(44, '2014', 'Nebraska', 1879321, 5643)
(45, '2015', 'Nebraska', 1891277, 5679)
(46, '2016', 'Nebraska', 1905616, 5722)
(47, '2017', 'Nebraska', 1915947, 5753)
(48, '2018', 'Nebraska', 1925614, 5782)
(49, '2019', 'Nebraska', 1934408, 5808)
(50, '2010', 'Nevada', 2700551, 8881)
(51, '2011', 'Nevada', 2712730, 8921)
(52, '2012', 'Nevada', 2743996, 9024)
(53, '2013', 'Nevada', 2775970, 9129)
(54, '2014', 'Nevada', 2817628, 9266)
(55, '2015', 'Nevada', 2866939, 9428)
(56, '2016', 'Nevada', 2917563, 9594)
(57, '2017', 'Nevada', 2969905, 9766)
(58, '2018', 'Nevada', 3027341, 9955)
(59, '2019', 'Nevada', 3080156, 10129)
(60, '2010', 'New Hampshire', 1316470, 4975)
(61, '2011', 'New Hampshire', 1320202, 4989)
(62, '2012', 'New Hampshire', 1324232, 5004)
(63, '2013', 'New Hampshire', 1326622, 5013)
(64, '2014', 'New Hampshire', 1333341, 5038)
(65, '2015', 'New Hampshire', 1336350, 5049)
(66, '2016', 'New Hampshire', 1342307, 5072)
(67, '2017', 'New Hampshire', 1348787, 5096)
(68, '2018', 'New Hampshire', 1353465, 5114)
(69, '2019', 'New Hampshire', 1359711, 5138)
(70, '2010', 'New Jersey', 8791894, 15607)
(71, '2011', 'New Jersey', 8828117, 15671)
(72, '2012', 'New Jersey', 8844942, 15701)
(73, '2013', 'New Jersey', 8856972, 15722)
(74, '2014', 'New Jersey', 8864525, 15735)
(75, '2015', 'New Jersey', 8867949, 15741)
(76, '2016', 'New Jersey', 8870827, 15746)
(77, '2017', 'New Jersey', 8885525, 15772)
(78, '2018', 'New Jersey', 8886025, 15773)
(79, '2019', 'New Jersey', 8882190, 15766)
(80, '2010', 'New Mexico', 2059179, 8094)
(81, '2011', 'New Mexico', 2080450, 8178)
(82, '2012', 'New Mexico', 2087309, 8205)
(83, '2013', 'New Mexico', 2092273, 8225)
(84, '2014', 'New Mexico', 2089568, 8214)
(85, '2015', 'New Mexico', 2089291, 8213)
(86, '2016', 'New Mexico', 2091630, 8222)
(87, '2017', 'New Mexico', 2091784, 8223)
(88, '2018', 'New Mexico', 2092741, 8227)
(89, '2019', 'New Mexico', 2096829, 8243)
(90, '2010', 'New York', 19378102, 42953)
(91, '2011', 'New York', 19499241, 43222)
(92, '2012', 'New York', 19572932, 43385)
(93, '2013', 'New York', 19624447, 43499)
(94, '2014', 'New York', 19651049, 43558)
(95, '2015', 'New York', 19654666, 43566)
(96, '2016', 'New York', 19633428, 43519)
(97, '2017', 'New York', 19589572, 43422)
(98, '2018', 'New York', 19530351, 43291)
(99, '2019', 'New York', 19453561, 43121)
(100, '2010', 'North Carolina', 9535483, 30298)
(101, '2011', 'North Carolina', 9657592, 30686)
(102, '2012', 'North Carolina', 9749476, 30978)
(103, '2013', 'North Carolina', 9843336, 31276)
(104, '2014', 'North Carolina', 9932887, 31561)
(105, '2015', 'North Carolina', 10031646, 31875)
(106, '2016', 'North Carolina', 10154788, 32266)
(107, '2017', 'North Carolina', 10268233, 32626)
(108, '2018', 'North Carolina', 10381615, 32986)
(109, '2019', 'North Carolina', 10488084, 33324)
(110, '2010', 'North Dakota', 672591, 3314)
(111, '2011', 'North Dakota', 685225, 3376)
(112, '2012', 'North Dakota', 701176, 3455)
(113, '2013', 'North Dakota', 722036, 3558)
(114, '2014', 'North Dakota', 737401, 3634)
(115, '2015', 'North Dakota', 754066, 3716)
(116, '2016', 'North Dakota', 754434, 3718)
(117, '2017', 'North Dakota', 754942, 3721)
(118, '2018', 'North Dakota', 758080, 3736)
(119, '2019', 'North Dakota', 762062, 3756)
(120, '2010', 'Ohio', 11536504, 31991)
(121, '2011', 'Ohio', 11544663, 32014)
(122, '2012', 'Ohio', 11548923, 32026)
(123, '2013', 'Ohio', 11576684, 32103)
(124, '2014', 'Ohio', 11602700, 32175)
(125, '2015', 'Ohio', 11617527, 32216)
(126, '2016', 'Ohio', 11634370, 32263)
(127, '2017', 'Ohio', 11659650, 32333)
(128, '2018', 'Ohio', 11676341, 32379)
(129, '2019', 'Ohio', 11689100, 32414)
(130, '2010', 'Oklahoma', 3751351, 13531)
(131, '2011', 'Oklahoma', 3788379, 13665)
(132, '2012', 'Oklahoma', 3818814, 13775)
(133, '2013', 'Oklahoma', 3853214, 13899)
(134, '2014', 'Oklahoma', 3878187, 13989)
(135, '2015', 'Oklahoma', 3909500, 14102)
(136, '2016', 'Oklahoma', 3926331, 14163)
(137, '2017', 'Oklahoma', 3931316, 14181)
(138, '2018', 'Oklahoma', 3940235, 14213)
(139, '2019', 'Oklahoma', 3956971, 14273)
(140, '2010', 'Oregon', 3831074, 17532)
(141, '2011', 'Oregon', 3872036, 17719)
(142, '2012', 'Oregon', 3899001, 17842)
(143, '2013', 'Oregon', 3922468, 17949)
(144, '2014', 'Oregon', 3963244, 18136)
(145, '2015', 'Oregon', 4015792, 18376)
(146, '2016', 'Oregon', 4089976, 18715)
(147, '2017', 'Oregon', 4143625, 18960)
(148, '2018', 'Oregon', 4181886, 19135)
(149, '2019', 'Oregon', 4217737, 19299)
(150, '2010', 'Pennsylvania', 12702379, 32526)
(151, '2011', 'Pennsylvania', 12745815, 32637)
(152, '2012', 'Pennsylvania', 12767118, 32692)
(153, '2013', 'Pennsylvania', 12776309, 32716)
(154, '2014', 'Pennsylvania', 12788313, 32747)
(155, '2015', 'Pennsylvania', 12784826, 32738)
(156, '2016', 'Pennsylvania', 12782275, 32731)
(157, '2017', 'Pennsylvania', 12787641, 32745)
(158, '2018', 'Pennsylvania', 12800922, 32779)
(159, '2019', 'Pennsylvania', 12801989, 32782)
(160, '2010', 'Rhode Island', 1052567, 2680)
(161, '2011', 'Rhode Island', 1053649, 2683)
(162, '2012', 'Rhode Island', 1054621, 2685)
(163, '2013', 'Rhode Island', 1055081, 2686)
(164, '2014', 'Rhode Island', 1055936, 2688)
(165, '2015', 'Rhode Island', 1056065, 2688)
(166, '2016', 'Rhode Island', 1056770, 2690)
(167, '2017', 'Rhode Island', 1055673, 2687)
(168, '2018', 'Rhode Island', 1058287, 2694)
(169, '2019', 'Rhode Island', 1059361, 2697)
(170, '2010', 'South Carolina', 4625364, 20611)
(171, '2011', 'South Carolina', 4671994, 20819)
(172, '2012', 'South Carolina', 4717354, 21021)
(173, '2013', 'South Carolina', 4764080, 21229)
(174, '2014', 'South Carolina', 4823617, 21494)
(175, '2015', 'South Carolina', 4891938, 21798)
(176, '2016', 'South Carolina', 4957968, 22092)
(177, '2017', 'South Carolina', 5021268, 22374)
(178, '2018', 'South Carolina', 5084156, 22654)
(179, '2019', 'South Carolina', 5148714, 22942)
(180, '2010', 'South Dakota', 814180, 5581)
(181, '2011', 'South Dakota', 823579, 5645)
(182, '2012', 'South Dakota', 833566, 5713)
(183, '2013', 'South Dakota', 842316, 5773)
(184, '2014', 'South Dakota', 849129, 5820)
(185, '2015', 'South Dakota', 853988, 5853)
(186, '2016', 'South Dakota', 862996, 5915)
(187, '2017', 'South Dakota', 872868, 5983)
(188, '2018', 'South Dakota', 878698, 6023)
(189, '2019', 'South Dakota', 884659, 6064)
(190, '2010', 'Tennessee', 6346105, 29326)
(191, '2011', 'Tennessee', 6399291, 29572)
(192, '2012', 'Tennessee', 6453898, 29824)
(193, '2013', 'Tennessee', 6494340, 30011)
(194, '2014', 'Tennessee', 6541223, 30228)
(195, '2015', 'Tennessee', 6591170, 30459)
(196, '2016', 'Tennessee', 6646010, 30712)
(197, '2017', 'Tennessee', 6708799, 31002)
(198, '2018', 'Tennessee', 6771631, 31292)
(199, '2019', 'Tennessee', 6829174, 31558)
(200, '2010', 'Texas', 25145561, 122857)
(201, '2011', 'Texas', 25645629, 125300)
(202, '2012', 'Texas', 26084481, 127444)
(203, '2013', 'Texas', 26480266, 129378)
(204, '2014', 'Texas', 26964333, 131743)
(205, '2015', 'Texas', 27470056, 134214)
(206, '2016', 'Texas', 27914410, 136385)
(207, '2017', 'Texas', 28295273, 138246)
(208, '2018', 'Texas', 28628666, 139875)
(209, '2019', 'Texas', 28995881, 141669)
(210, '2010', 'Utah', 2763885, 6880)
(211, '2011', 'Utah', 2814384, 7006)
(212, '2012', 'Utah', 2853375, 7103)
(213, '2013', 'Utah', 2897640, 7213)
(214, '2014', 'Utah', 2936879, 7311)
(215, '2015', 'Utah', 2981835, 7423)
(216, '2016', 'Utah', 3041868, 7572)
(217, '2017', 'Utah', 3101042, 7719)
(218, '2018', 'Utah', 3153550, 7850)
(219, '2019', 'Utah', 3205958, 7980)
(220, '2010', 'Vermont', 625741, 4596)
(221, '2011', 'Vermont', 627049, 4606)
(222, '2012', 'Vermont', 626090, 4599)
(223, '2013', 'Vermont', 626210, 4600)
(224, '2014', 'Vermont', 625214, 4593)
(225, '2015', 'Vermont', 625216, 4593)
(226, '2016', 'Vermont', 623657, 4582)
(227, '2017', 'Vermont', 624344, 4587)
(228, '2018', 'Vermont', 624358, 4587)
(229, '2019', 'Vermont', 623989, 4584)
(230, '2010', 'Virginia', 8001024, 36712)
(231, '2011', 'Virginia', 8101155, 37171)
(232, '2012', 'Virginia', 8185080, 37556)
(233, '2013', 'Virginia', 8252427, 37865)
(234, '2014', 'Virginia', 8310993, 38134)
(235, '2015', 'Virginia', 8361808, 38367)
(236, '2016', 'Virginia', 8410106, 38589)
(237, '2017', 'Virginia', 8463587, 38834)
(238, '2018', 'Virginia', 8501286, 39007)
(239, '2019', 'Virginia', 8535519, 39164)
(240, '2010', 'West Virginia', 1852994, 6821)
(241, '2011', 'West Virginia', 1856301, 6833)
(242, '2012', 'West Virginia', 1856872, 6835)
(243, '2013', 'West Virginia', 1853914, 6824)
(244, '2014', 'West Virginia', 1849489, 6808)
(245, '2015', 'West Virginia', 1842050, 6781)
(246, '2016', 'West Virginia', 1831023, 6740)
(247, '2017', 'West Virginia', 1817004, 6688)
(248, '2018', 'West Virginia', 1804291, 6641)
(249, '2019', 'West Virginia', 1792147, 6596)
(250, '2010', 'Washington', 6724540, 28829)
(251, '2011', 'Washington', 6826627, 29267)
(252, '2012', 'Washington', 6897058, 29569)
(253, '2013', 'Washington', 6963985, 29856)
(254, '2014', 'Washington', 7054655, 30245)
(255, '2015', 'Washington', 7163657, 30712)
(256, '2016', 'Washington', 7294771, 31274)
(257, '2017', 'Washington', 7423362, 31825)
(258, '2018', 'Washington', 7523869, 32256)
(259, '2019', 'Washington', 7614893, 32646)
(260, '2010', 'Wisconsin', 5686986, 11244)
(261, '2011', 'Wisconsin', 5705288, 11280)
(262, '2012', 'Wisconsin', 5719960, 11309)
(263, '2013', 'Wisconsin', 5736754, 11342)
(264, '2014', 'Wisconsin', 5751525, 11371)
(265, '2015', 'Wisconsin', 5760940, 11390)
(266, '2016', 'Wisconsin', 5772628, 11413)
(267, '2017', 'Wisconsin', 5790186, 11448)
(268, '2018', 'Wisconsin', 5807406, 11482)
(269, '2019', 'Wisconsin', 5822434, 11512)
(270, '2010', 'Wyoming', 563626, 4674)
(271, '2011', 'Wyoming', 567299, 4704)
(272, '2012', 'Wyoming', 576305, 4779)
(273, '2013', 'Wyoming', 582122, 4827)
(274, '2014', 'Wyoming', 582531, 4830)
(275, '2015', 'Wyoming', 585613, 4856)
(276, '2016', 'Wyoming', 584215, 4844)
(277, '2017', 'Wyoming', 578931, 4800)
(278, '2018', 'Wyoming', 577601, 4789)
(279, '2019', 'Wyoming', 578759, 4799)
(280, '2010', 'Puerto Rico', 3725789, 30894)
(281, '2011', 'Puerto Rico', 3678732, 30504)
(282, '2012', 'Puerto Rico', 3634488, 30137)
(283, '2013', 'Puerto Rico', 3593077, 29794)
(284, '2014', 'Puerto Rico', 3534874, 29311)
(285, '2015', 'Puerto Rico', 3473232, 28800)
(286, '2016', 'Puerto Rico', 3406672, 28248)
(287, '2017', 'Puerto Rico', 3325286, 27573)
(288, '2018', 'Puerto Rico', 3193354, 26479)
(289, '2019', 'Puerto Rico', 3193694, 26482)
(290, '2010', 'Alabama', 4779736, 23246)
(291, '2011', 'Alabama', 4799069, 23340)
(292, '2012', 'Alabama', 4815588, 23420)
(293, '2013', 'Alabama', 4830081, 23490)
(294, '2014', 'Alabama', 4841799, 23547)
(295, '2015', 'Alabama', 4852347, 23598)
(296, '2016', 'Alabama', 4863525, 23652)
(297, '2017', 'Alabama', 4874486, 23705)
(298, '2018', 'Alabama', 4887681, 23769)
(299, '2019', 'Alabama', 4903185, 23844)
(300, '2010', 'Alaska', 710231, 11292)
(301, '2011', 'Alaska', 722128, 11481)
(302, '2012', 'Alaska', 730443, 11613)
(303, '2013', 'Alaska', 737068, 11718)
(304, '2014', 'Alaska', 736283, 11706)
(305, '2015', 'Alaska', 737498, 11725)
(306, '2016', 'Alaska', 741456, 11788)
(307, '2017', 'Alaska', 739700, 11760)
(308, '2018', 'Alaska', 735139, 11687)
(309, '2019', 'Alaska', 731545, 11630)
(310, '2010', 'Arizona', 6392017, 20683)
(311, '2011', 'Arizona', 6472643, 20944)
(312, '2012', 'Arizona', 6554978, 21210)
(313, '2013', 'Arizona', 6632764, 21462)
(314, '2014', 'Arizona', 6730413, 21778)
(315, '2015', 'Arizona', 6829676, 22099)
(316, '2016', 'Arizona', 6941072, 22459)
(317, '2017', 'Arizona', 7044008, 22792)
(318, '2018', 'Arizona', 7158024, 23161)
(319, '2019', 'Arizona', 7278717, 23552)
(320, '2010', 'Arkansas', 2915918, 10311)
(321, '2011', 'Arkansas', 2940667, 10399)
(322, '2012', 'Arkansas', 2952164, 10440)
(323, '2013', 'Arkansas', 2959400, 10466)
(324, '2014', 'Arkansas', 2967392, 10494)
(325, '2015', 'Arkansas', 2978048, 10532)
(326, '2016', 'Arkansas', 2989918, 10574)
(327, '2017', 'Arkansas', 3001345, 10614)
(328, '2018', 'Arkansas', 3009733, 10644)
(329, '2019', 'Arkansas', 3017804, 10673)
(330, '2010', 'California', 37253956, 88033)
(331, '2011', 'California', 37638369, 88941)
(332, '2012', 'California', 37948800, 89675)
(333, '2013', 'California', 38260787, 90412)
(334, '2014', 'California', 38596972, 91206)
(335, '2015', 'California', 38918045, 91965)
(336, '2016', 'California', 39167117, 92554)
(337, '2017', 'California', 39358497, 93006)
(338, '2018', 'California', 39461588, 93250)
(339, '2019', 'California', 39512223, 93370)
(340, '2010', 'Colorado', 5029196, 15734)
(341, '2011', 'Colorado', 5121108, 16022)
(342, '2012', 'Colorado', 5192647, 16246)
(343, '2013', 'Colorado', 5269035, 16485)
(344, '2014', 'Colorado', 5350101, 16739)
(345, '2015', 'Colorado', 5450623, 17054)
(346, '2016', 'Colorado', 5539215, 17331)
(347, '2017', 'Colorado', 5611885, 17558)
(348, '2018', 'Colorado', 5691287, 17806)
(349, '2019', 'Colorado', 5758736, 18017)
(350, '2010', 'Connecticut', 3574097, 7531)
(351, '2011', 'Connecticut', 3588283, 7561)
(352, '2012', 'Connecticut', 3594547, 7574)
(353, '2013', 'Connecticut', 3594841, 7575)
(354, '2014', 'Connecticut', 3594524, 7574)
(355, '2015', 'Connecticut', 3587122, 7558)
(356, '2016', 'Connecticut', 3578141, 7539)
(357, '2017', 'Connecticut', 3573297, 7529)
(358, '2018', 'Connecticut', 3571520, 7525)
(359, '2019', 'Connecticut', 3565287, 7512)
(360, '2010', 'Delaware', 897934, 2943)
(361, '2011', 'Delaware', 907381, 2974)
(362, '2012', 'Delaware', 915179, 3000)
(363, '2013', 'Delaware', 923576, 3028)
(364, '2014', 'Delaware', 932487, 3057)
(365, '2015', 'Delaware', 941252, 3086)
(366, '2016', 'Delaware', 948921, 3111)
(367, '2017', 'Delaware', 956823, 3137)
(368, '2018', 'Delaware', 965479, 3165)
(369, '2019', 'Delaware', 973764, 3192)
(370, '2010', 'District of Columbia', 601723, 2875)
(371, '2011', 'District of Columbia', 619800, 2961)
(372, '2012', 'District of Columbia', 634924, 3033)
(373, '2013', 'District of Columbia', 650581, 3108)
(374, '2014', 'District of Columbia', 662328, 3164)
(375, '2015', 'District of Columbia', 675400, 3226)
(376, '2016', 'District of Columbia', 685815, 3276)
(377, '2017', 'District of Columbia', 694906, 3319)
(378, '2018', 'District of Columbia', 701547, 3351)
(379, '2019', 'District of Columbia', 705749, 3371)
(380, '2010', 'Florida', 18801310, 99463)
(381, '2011', 'Florida', 19053237, 100796)
(382, '2012', 'Florida', 19297822, 102090)
(383, '2013', 'Florida', 19545621, 103401)
(384, '2014', 'Florida', 19845911, 104990)
(385, '2015', 'Florida', 20209042, 106911)
(386, '2016', 'Florida', 20613477, 109051)
(387, '2017', 'Florida', 20963613, 110903)
(388, '2018', 'Florida', 21244317, 112388)
(389, '2019', 'Florida', 21477737, 113623)
(390, '2010', 'Georgia', 9687653, 39913)
(391, '2011', 'Georgia', 9802431, 40386)
(392, '2012', 'Georgia', 9901430, 40794)
(393, '2013', 'Georgia', 9972479, 41087)
(394, '2014', 'Georgia', 10067278, 41478)
(395, '2015', 'Georgia', 10178447, 41936)
(396, '2016', 'Georgia', 10301890, 42445)
(397, '2017', 'Georgia', 10410330, 42892)
(398, '2018', 'Georgia', 10511131, 43307)
(399, '2019', 'Georgia', 10617423, 43745)
(400, '2010', 'Idaho', 1567582, 5917)
(401, '2011', 'Idaho', 1583910, 5979)
(402, '2012', 'Idaho', 1595324, 6022)
(403, '2013', 'Idaho', 1611206, 6082)
(404, '2014', 'Idaho', 1631112, 6157)
(405, '2015', 'Idaho', 1651059, 6232)
(406, '2016', 'Idaho', 1682380, 6350)
(407, '2017', 'Idaho', 1717715, 6483)
(408, '2018', 'Idaho', 1750536, 6607)
(409, '2019', 'Idaho', 1787065, 6745)
(410, '2010', 'Hawaii', 1360301, 6561)
(411, '2011', 'Hawaii', 1379329, 6653)
(412, '2012', 'Hawaii', 1394804, 6728)
(413, '2013', 'Hawaii', 1408243, 6793)
(414, '2014', 'Hawaii', 1414538, 6823)
(415, '2015', 'Hawaii', 1422052, 6859)
(416, '2016', 'Hawaii', 1427559, 6886)
(417, '2017', 'Hawaii', 1424393, 6871)
(418, '2018', 'Hawaii', 1420593, 6853)
(419, '2019', 'Hawaii', 1415872, 6830)
(420, '2010', 'Illinois', 12830632, 33748)
(421, '2011', 'Illinois', 12867454, 33845)
(422, '2012', 'Illinois', 12882510, 33885)
(423, '2013', 'Illinois', 12895129, 33918)
(424, '2014', 'Illinois', 12884493, 33890)
(425, '2015', 'Illinois', 12858913, 33823)
(426, '2016', 'Illinois', 12820527, 33722)
(427, '2017', 'Illinois', 12778828, 33612)
(428, '2018', 'Illinois', 12723071, 33465)
(429, '2019', 'Illinois', 12671821, 33330)
(430, '2010', 'Indiana', 6483802, 17780)
(431, '2011', 'Indiana', 6516528, 17870)
(432, '2012', 'Indiana', 6537703, 17928)
(433, '2013', 'Indiana', 6568713, 18013)
(434, '2014', 'Indiana', 6593644, 18081)
(435, '2015', 'Indiana', 6608422, 18122)
(436, '2016', 'Indiana', 6634304, 18193)
(437, '2017', 'Indiana', 6658078, 18258)
(438, '2018', 'Indiana', 6695497, 18361)
(439, '2019', 'Indiana', 6732219, 18462)
(440, '2010', 'Iowa', 3046355, 7432)
(441, '2011', 'Iowa', 3066336, 7481)
(442, '2012', 'Iowa', 3076190, 7505)
(443, '2013', 'Iowa', 3092997, 7546)
(444, '2014', 'Iowa', 3109350, 7586)
(445, '2015', 'Iowa', 3120960, 7614)
(446, '2016', 'Iowa', 3131371, 7639)
(447, '2017', 'Iowa', 3141550, 7664)
(448, '2018', 'Iowa', 3148618, 7681)
(449, '2019', 'Iowa', 3155070, 7697)
(450, '2010', 'Kansas', 2853118, 10695)
(451, '2011', 'Kansas', 2869225, 10755)
(452, '2012', 'Kansas', 2885257, 10815)
(453, '2013', 'Kansas', 2893212, 10845)
(454, '2014', 'Kansas', 2900475, 10872)
(455, '2015', 'Kansas', 2909011, 10904)
(456, '2016', 'Kansas', 2910844, 10911)
(457, '2017', 'Kansas', 2908718, 10903)
(458, '2018', 'Kansas', 2911359, 10913)
(459, '2019', 'Kansas', 2913314, 10920)
(460, '2010', 'Kentucky', 4339367, 11239)
(461, '2011', 'Kentucky', 4369821, 11318)
(462, '2012', 'Kentucky', 4386346, 11361)
(463, '2013', 'Kentucky', 4404659, 11408)
(464, '2014', 'Kentucky', 4414349, 11433)
(465, '2015', 'Kentucky', 4425976, 11463)
(466, '2016', 'Kentucky', 4438182, 11495)
(467, '2017', 'Kentucky', 4452268, 11531)
(468, '2018', 'Kentucky', 4461153, 11554)
(469, '2019', 'Kentucky', 4467673, 11571)
(470, '2010', 'Louisiana', 4533372, 20590)
(471, '2011', 'Louisiana', 4575625, 20782)
(472, '2012', 'Louisiana', 4600972, 20897)
(473, '2013', 'Louisiana', 4624527, 21004)

## Pull data for manipulation

In [214]:
# init dictionary for states and their populations, house seats, and priority value
state_dict = {}

# query database and put data to manipulate in dictionary
c.execute('SELECT state, (population + overseas_pop) as total_pop \
           FROM population \
           WHERE year = "2010" AND state NOT IN ("District of Columbia", "Puerto Rico") \
           ORDER BY state')
for state in c.fetchall():
    state_dict.update({state[0]: {'Population': state[1],
                                  'House_seats': 1,
                                  'Priority_value': priority_value(state[1], 2)}})
    
display(state_dict)
display(len(state_dict.keys()))

{'Alabama': {'Population': 4802982,
  'House_seats': 1,
  'Priority_value': 3396221},
 'Alaska': {'Population': 721523, 'House_seats': 1, 'Priority_value': 510194},
 'Arizona': {'Population': 6412700,
  'House_seats': 1,
  'Priority_value': 4534464},
 'Arkansas': {'Population': 2926229,
  'House_seats': 1,
  'Priority_value': 2069156},
 'California': {'Population': 37341989,
  'House_seats': 1,
  'Priority_value': 26404774},
 'Colorado': {'Population': 5044930,
  'House_seats': 1,
  'Priority_value': 3567304},
 'Connecticut': {'Population': 3581628,
  'House_seats': 1,
  'Priority_value': 2532593},
 'Delaware': {'Population': 900877,
  'House_seats': 1,
  'Priority_value': 637016},
 'Florida': {'Population': 18900773,
  'House_seats': 1,
  'Priority_value': 13364865},
 'Georgia': {'Population': 9727566,
  'House_seats': 1,
  'Priority_value': 6878428},
 'Hawaii': {'Population': 1366862, 'House_seats': 1, 'Priority_value': 966517},
 'Idaho': {'Population': 1573499, 'House_seats': 1, 'Priority_value': 1112632},
 'Illinois': {'Population': 12864380,
  'House_seats': 1,
  'Priority_value': 9096490},
 'Indiana': {'Population': 6501582,
  'House_seats': 1,
  'Priority_value': 4597313},
 'Iowa': {'Population': 3053787, 'House_seats': 1, 'Priority_value': 2159353},
 'Kansas': {'Population': 2863813,
  'House_seats': 1,
  'Priority_value': 2025022},
 'Kentucky': {'Population': 4350606,
  'House_seats': 1,
  'Priority_value': 3076343},
 'Louisiana': {'Population': 4553962,
  'House_seats': 1,
  'Priority_value': 3220137},
 'Maine': {'Population': 1333074, 'House_seats': 1, 'Priority_value': 942626},
 'Maryland': {'Population': 5789929,
  'House_seats': 1,
  'Priority_value': 4094098},
 'Massachusetts': {'Population': 6559644,
  'House_seats': 1,
  'Priority_value': 4638369},
 'Michigan': {'Population': 9911626,
  'House_seats': 1,
  'Priority_value': 7008578},
 'Minnesota': {'Population': 5314879,
  'House_seats': 1,
  'Priority_value': 3758187},
 'Mississippi': {'Population': 2978240,
  'House_seats': 1,
  'Priority_value': 2105934},
 'Missouri': {'Population': 6011478,
  'House_seats': 1,
  'Priority_value': 4250757},
 'Montana': {'Population': 994416, 'House_seats': 1, 'Priority_value': 703158},
 'Nebraska': {'Population': 1831825,
  'House_seats': 1,
  'Priority_value': 1295296},
 'Nevada': {'Population': 2709432,
  'House_seats': 1,
  'Priority_value': 1915858},
 'New Hampshire': {'Population': 1321445,
  'House_seats': 1,
  'Priority_value': 934403},
 'New Jersey': {'Population': 8807501,
  'House_seats': 1,
  'Priority_value': 6227844},
 'New Mexico': {'Population': 2067273,
  'House_seats': 1,
  'Priority_value': 1461783},
 'New York': {'Population': 19421055,
  'House_seats': 1,
  'Priority_value': 13732760},
 'North Carolina': {'Population': 9565781,
  'House_seats': 1,
  'Priority_value': 6764029},
 'North Dakota': {'Population': 675905,
  'House_seats': 1,
  'Priority_value': 477937},
 'Ohio': {'Population': 11568495, 'House_seats': 1, 'Priority_value': 8180161},
 'Oklahoma': {'Population': 3764882,
  'House_seats': 1,
  'Priority_value': 2662174},
 'Oregon': {'Population': 3848606,
  'House_seats': 1,
  'Priority_value': 2721375},
 'Pennsylvania': {'Population': 12734905,
  'House_seats': 1,
  'Priority_value': 9004938},
 'Rhode Island': {'Population': 1055247,
  'House_seats': 1,
  'Priority_value': 746172},
 'South Carolina': {'Population': 4645975,
  'House_seats': 1,
  'Priority_value': 3285200},
 'South Dakota': {'Population': 819761,
  'House_seats': 1,
  'Priority_value': 579659},
 'Tennessee': {'Population': 6375431,
  'House_seats': 1,
  'Priority_value': 4508110},
 'Texas': {'Population': 25268418,
  'House_seats': 1,
  'Priority_value': 17867470},
 'Utah': {'Population': 2770765, 'House_seats': 1, 'Priority_value': 1959227},
 'Vermont': {'Population': 630337, 'House_seats': 1, 'Priority_value': 445716},
 'Virginia': {'Population': 8037736,
  'House_seats': 1,
  'Priority_value': 5683538},
 'Washington': {'Population': 6753369,
  'House_seats': 1,
  'Priority_value': 4775353},
 'West Virginia': {'Population': 1859815,
  'House_seats': 1,
  'Priority_value': 1315088},
 'Wisconsin': {'Population': 5698230,
  'House_seats': 1,
  'Priority_value': 4029257},
 'Wyoming': {'Population': 568300, 'House_seats': 1, 'Priority_value': 401849}}

50

In [215]:
def distribute_house_seats(state_dict):
    """
    Iterates through all available house seats after initial 50 are distributed (one to each state)
    to determine who should get each next house seat according to priority value
    """
        
    distributed_dict = copy.deepcopy(state_dict)
    #iterates over all available house seats, range chosen for actual house seat being evaluated
    #whichever state is highest, add one house seat and recalculate the priority value
    for i in range(51, 436):
        next_state = assign_next_seat(distributed_dict)
        distributed_dict[next_state]['House_seats'] += 1
        distributed_dict[next_state]['Priority_value'] = priority_value(distributed_dict[next_state]['Population'], 
                                                                        distributed_dict[next_state]['House_seats']+1)
    
    #return the dictionary with properly distributed house seats    
    return distributed_dict

In [216]:
def assign_next_seat(distributed_dict):
    """
    Assigns the next house seat available according to current priority values for each state
    Returns a list with the first value as the state who should get the next seat
    """
    top_value = ["",0]
    
    #iterate through the dictionary keys and keep the state and value for whoever has the 
    #highest priority value
    for state in distributed_dict.keys():
        if distributed_dict[state]['Priority_value'] > top_value[1]:
            top_value = [state, distributed_dict[state]['Priority_value']]  
    
    #return just the state with the top priority value
    return top_value[0]

In [287]:
# creates a dictionary with house seats properly distributed
apportioned_dict = distribute_house_seats(state_dict)

In [288]:
# reads census apportionment of house seats into pandas dataframe and cleans
census_apportionment = pd.read_excel('ApportionmentPopulation2010.xls', skiprows=10, usecols=[0,3])[:50]
census_apportionment.columns = ['State','House_seats']
census_apportionment['House_seats'] = census_apportionment.House_seats.astype('int64')
census_apportionment.set_index('State', inplace=True)

display(census_apportionment.head())
display(census_apportionment.info())

            House_seats
State
Alabama               7
Alaska                1
Arizona               9
Arkansas              4
California           53

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, Alabama to Wyoming
Data columns (total 1 columns):
House_seats    50 non-null int64
dtypes: int64(1)
memory usage: 800.0+ bytes

None

In [289]:
# prints out the state, the calculated house seats through my code, the actual assigned seats according
# to the census bureau, and if they match (to check that my math matches theirs)

print('State', '\t\t', 'Calc', '\t', 'Actual', 'Match')
print()
for state in apportioned_dict.keys():
    if len(state) <= 6:
        print(state, '\t\t', apportioned_dict[state]['House_seats'], '\t', census_apportionment.loc[state][0], 
              '\t', apportioned_dict[state]['House_seats'] == census_apportionment.loc[state][0])
    else:
        print(state, '\t', apportioned_dict[state]['House_seats'], '\t', census_apportionment.loc[state][0], 
              '\t', apportioned_dict[state]['House_seats'] == census_apportionment.loc[state][0])

State 		 Calc 	 Actual Match

Alabama 	 7 	 7 	 True
Alaska 		 1 	 1 	 True
Arizona 	 9 	 9 	 True
Arkansas 	 4 	 4 	 True
California 	 53 	 53 	 True
Colorado 	 7 	 7 	 True
Connecticut 	 5 	 5 	 True
Delaware 	 1 	 1 	 True
Florida 	 27 	 27 	 True
Georgia 	 14 	 14 	 True
Hawaii 		 2 	 2 	 True
Idaho 		 2 	 2 	 True
Illinois 	 18 	 18 	 True
Indiana 	 9 	 9 	 True
Iowa 		 4 	 4 	 True
Kansas 		 4 	 4 	 True
Kentucky 	 6 	 6 	 True
Louisiana 	 6 	 6 	 True
Maine 		 2 	 2 	 True
Maryland 	 8 	 8 	 True
Massachusetts 	 9 	 9 	 True
Michigan 	 14 	 14 	 True
Minnesota 	 8 	 8 	 True
Mississippi 	 4 	 4 	 True
Missouri 	 8 	 8 	 True
Montana 	 1 	 1 	 True
Nebraska 	 3 	 3 	 True
Nevada 		 4 	 4 	 True
New Hampshire 	 2 	 2 	 True
New Jersey 	 12 	 12 	 True
New Mexico 	 3 	 3 	 True
New York 	 27 	 27 	 True
North Carolina 	 13 	 13 	 True
North Dakota 	 1 	 1 	 True
Ohio 		 16 	 16 	 True
Oklahoma 	 5 	 5 	 True
Oregon 		 5 	 5 	 True
Pennsylvania 	 18 	 18 	 True
Rhode Island 	 2 	 2 	 True
South Carolina 	 7 	 7 	 True
South Dakota 	 1 	 1 	 True
Tennessee 	 9 	 9 	 True
Texas 		 36 	 36 	 True
Utah 		 4 	 4 	 True
Vermont 	 1 	 1 	 True
Virginia 	 11 	 11 	 True
Washington 	 10 	 10 	 True
West Virginia 	 3 	 3 	 True
Wisconsin 	 8 	 8 	 True
Wyoming 	 1 	 1 	 True

In [290]:
c.close()
conn.close()

# Working Zone