# Electoral College Data Mapping

The purpose of this project is to analyze the how the electoral college votes were distributed after the 2010 census, look at how the redistribution of population (by estimate) has shifted over time until today, and what that means for the voter per electoral college vote in each state. I will also analyze how we expect the electoral college to be redistributed after the 2020 census, given census bureau predictions.

An analysis will also be performed on the percentage likelihood of each state giving its electoral college votes to a particular party and their respective nominees, based purely on historical data. The aim is to demonstrate which states have the greatest power per vote, given both their current electoral votes allotted and the likelihood of that state assigning thier votes to either candidate.

### Things to get

- Current apportionment of house seats
- formula for apportionment of 2019 numbers
- understand priority number creation

In [16]:
#import necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import requests
import json

import sqlite3
%matplotlib inline

In [2]:
#define how to retrieve api keys

def get_keys(path):
    with open(path) as f:
        return json.load(f)

In [3]:
#get key for census bureau api
keys = get_keys("/Users/flatironschool/.secret/census_api.json")

api_key = keys['api_key']

In [5]:
#make and print request for census count and estimates from 2010-2019 for all states
year = '2019'

url = 'https://api.census.gov/data/{}/pep/population'.format(year)

variables = ['DATE_CODE',
             'DATE_DESC',
             'POP',
             'NAME']

granularity = 'state:*'

params = {'get': ','.join(variables), 'for': granularity, 'key': api_key}

r = requests.get(url, params=params)
print(r.url)
print(r)
print(type(r.text))
print(r.text[:1000])

https://api.census.gov/data/2019/pep/population?get=DATE_CODE%2CDATE_DESC%2CPOP%2CNAME&for=state%3A%2A&key=b7961d22ec04ff1777be8a0450921d3f28af8315
<Response [200]>
<class 'str'>
[["DATE_CODE","DATE_DESC","POP","NAME","state"],
["1","4/1/2010 Census population","5303925","Minnesota","27"],
["2","4/1/2010 population estimates base","5303927","Minnesota","27"],
["3","7/1/2010 population estimate","5310828","Minnesota","27"],
["4","7/1/2011 population estimate","5346143","Minnesota","27"],
["5","7/1/2012 population estimate","5376643","Minnesota","27"],
["6","7/1/2013 population estimate","5413479","Minnesota","27"],
["7","7/1/2014 population estimate","5451079","Minnesota","27"],
["8","7/1/2015 population estimate","5482032","Minnesota","27"],
["9","7/1/2016 population estimate","5522744","Minnesota","27"],
["10","7/1/2017 population estimate","5566230","Minnesota","27"],
["11","7/1/2018 population estimate","5606249","Minnesota","27"],
["12","7/1/2019 population estimate","5639632","Minnesota","27"],
["1","4/1/2010 Census population","2967297","Mississippi","28"],
["2","4/1/2010 population estimates base","2968130","Mississippi","28"],
["3","7/1/2010 population

In [115]:
#clean data (only need population, state, and datetime) with pandas before putting into SQL database
data = r.json()
main_df = pd.DataFrame(data[1:], columns=data[0])
main_df['YEAR'] = main_df.DATE_DESC.apply(lambda x: x[4:8])
main_df.drop(main_df[(main_df.DATE_CODE == '2') | (main_df.DATE_CODE == '3')].index, inplace=True)
main_df.drop(['state','DATE_CODE', 'DATE_DESC'], axis=1, inplace=True)
main_df.reset_index(drop=True, inplace=True)
main_df['POP'] = main_df.POP.astype('int64')
main_df = main_df[['YEAR', 'NAME', 'POP']]
main_df.columns = ['Year', 'State', 'Population']

display(main_df.head(15))
display(main_df.info())

    Year        State  Population
0   2010    Minnesota     5303925
1   2011    Minnesota     5346143
2   2012    Minnesota     5376643
3   2013    Minnesota     5413479
4   2014    Minnesota     5451079
5   2015    Minnesota     5482032
6   2016    Minnesota     5522744
7   2017    Minnesota     5566230
8   2018    Minnesota     5606249
9   2019    Minnesota     5639632
10  2010  Mississippi     2967297
11  2011  Mississippi     2978731
12  2012  Mississippi     2983816
13  2013  Mississippi     2988711
14  2014  Mississippi     2990468

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520 entries, 0 to 519
Data columns (total 3 columns):
Year          520 non-null object
State         520 non-null object
Population    520 non-null int64
dtypes: int64(1), object(2)
memory usage: 12.3+ KB

None

In [116]:
overseas_df = pd.read_excel('Overseas Population 2010.xls', skiprows=7)
overseas_df.dropna(inplace=True)
overseas_df.columns = ['State', 'Overseas_pop']
overseas_df['Year'] = '2010'
overseas_df['Overseas_pop'] = overseas_df['Overseas_pop'].astype('int64')
overseas_df.reset_index(drop=True, inplace=True)

display(overseas_df.head())
display(overseas_df.info())

        State  Overseas_pop  Year
0     Alabama         23246  2010
1      Alaska         11292  2010
2     Arizona         20683  2010
3    Arkansas         10311  2010
4  California         88033  2010

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
State           52 non-null object
Overseas_pop    52 non-null int64
Year            52 non-null object
dtypes: int64(1), object(2)
memory usage: 1.3+ KB

None

In [160]:
#merge the overseas data with the main population estimates table and extrapolate overseas estimates based on 
#percentage change in the population year over year

#merge the population estimates with overseas data on State and Year
merged_df = main_df.merge(overseas_df, how='left', on=['State','Year'])

#create our Percent change in population column
merged_df['Percent_change'] = (merged_df.Population - merged_df.Population.shift(1)) / merged_df.Population.shift(1)

#iterate through the missing data in overseas population, calculating the next missing value from the previous known
#(from the 2010 census) or from the last calculated value based on percentage change in that state
for i in range(len(merged_df)):
    if pd.isna(merged_df.iloc[i]['Overseas_pop']):
        merged_df.at[i,'Overseas_pop'] = round(merged_df.iloc[i]['Percent_change'] * \
                                               merged_df.iloc[i-1]['Overseas_pop'] + \
                                               merged_df.iloc[i-1]['Overseas_pop'], 0)
        
merged_df.drop('Percent_change', axis=1, inplace=True)        
merged_df['Overseas_pop'] = merged_df.Overseas_pop.astype('int64')

display(merged_df.head(30))
display(merged_df.info())

    Year        State  Population  Overseas_pop
0   2010    Minnesota     5303925         10954
1   2011    Minnesota     5346143         11041
2   2012    Minnesota     5376643         11104
3   2013    Minnesota     5413479         11180
4   2014    Minnesota     5451079         11258
5   2015    Minnesota     5482032         11322
6   2016    Minnesota     5522744         11406
7   2017    Minnesota     5566230         11496
8   2018    Minnesota     5606249         11579
9   2019    Minnesota     5639632         11648
10  2010  Mississippi     2967297         10943
11  2011  Mississippi     2978731         10985
12  2012  Mississippi     2983816         11004
13  2013  Mississippi     2988711         11022
14  2014  Mississippi     2990468         11028
15  2015  Mississippi     2988471         11021
16  2016  Mississippi     2987938         11019
17  2017  Mississippi     2988510         11021
18  2018  Mississippi     2981020         10993
19  2019  Mississippi     2976149         10975
20  2010     Missouri     5988927         22551
21  2011     Missouri     6010275         22631
22  2012     Missouri     6024367         22684
23  2013     Missouri     6040715         22746
24  2014     Missouri     6056202         22804
25  2015     Missouri     6071732         22862
26  2016     Missouri     6087135         22920
27  2017     Missouri     6106670         22994
28  2018     Missouri     6121623         23050
29  2019     Missouri     6137428         23110

<class 'pandas.core.frame.DataFrame'>
Int64Index: 520 entries, 0 to 519
Data columns (total 4 columns):
Year            520 non-null object
State           520 non-null object
Population      520 non-null int64
Overseas_pop    520 non-null int64
dtypes: int64(2), object(2)
memory usage: 40.3+ KB

None

In [81]:
#put pop data into SQL database for easy retrieval
conn = sqlite3.connect('census_pop_data.db')
c = conn.cursor()

In [82]:
try:
    c.execute('CREATE TABLE POPULATION (Year text, State text, Population integer)')
    conn.commit()
    print('Population Table created (Year, State, Population)')
except:
    c.execute('DROP TABLE POPULATION')
    print('Population table dropped')
    c.execute('CREATE TABLE POPULATION (Year text, State text, Population integer)')
    conn.commit()
    print('Population table created (Year, State, Population)')

Population table dropped
Population Table created (Year, State, Population)

In [83]:
main_df.to_sql('POPULATION', conn, if_exists='replace')

In [84]:
c.execute('SELECT * FROM population')
for row in c.fetchall():
    print(row)

(0, '4/1/2010', 'Minnesota', 5303925)
(1, '4/1/2010', 'Minnesota', 5303927)
(2, '7/1/2010', 'Minnesota', 5310828)
(3, '7/1/2011', 'Minnesota', 5346143)
(4, '7/1/2012', 'Minnesota', 5376643)
(5, '7/1/2013', 'Minnesota', 5413479)
(6, '7/1/2014', 'Minnesota', 5451079)
(7, '7/1/2015', 'Minnesota', 5482032)
(8, '7/1/2016', 'Minnesota', 5522744)
(9, '7/1/2017', 'Minnesota', 5566230)
(10, '7/1/2018', 'Minnesota', 5606249)
(11, '7/1/2019', 'Minnesota', 5639632)
(12, '4/1/2010', 'Mississippi', 2967297)
(13, '4/1/2010', 'Mississippi', 2968130)
(14, '7/1/2010', 'Mississippi', 2970548)
(15, '7/1/2011', 'Mississippi', 2978731)
(16, '7/1/2012', 'Mississippi', 2983816)
(17, '7/1/2013', 'Mississippi', 2988711)
(18, '7/1/2014', 'Mississippi', 2990468)
(19, '7/1/2015', 'Mississippi', 2988471)
(20, '7/1/2016', 'Mississippi', 2987938)
(21, '7/1/2017', 'Mississippi', 2988510)
(22, '7/1/2018', 'Mississippi', 2981020)
(23, '7/1/2019', 'Mississippi', 2976149)
(24, '4/1/2010', 'Missouri', 5988927)
(25, '4/1/2010', 'Missouri', 5988950)
(26, '7/1/2010', 'Missouri', 5995974)
(27, '7/1/2011', 'Missouri', 6010275)
(28, '7/1/2012', 'Missouri', 6024367)
(29, '7/1/2013', 'Missouri', 6040715)
(30, '7/1/2014', 'Missouri', 6056202)
(31, '7/1/2015', 'Missouri', 6071732)
(32, '7/1/2016', 'Missouri', 6087135)
(33, '7/1/2017', 'Missouri', 6106670)
(34, '7/1/2018', 'Missouri', 6121623)
(35, '7/1/2019', 'Missouri', 6137428)
(36, '4/1/2010', 'Montana', 989415)
(37, '4/1/2010', 'Montana', 989407)
(38, '7/1/2010', 'Montana', 990697)
(39, '7/1/2011', 'Montana', 997316)
(40, '7/1/2012', 'Montana', 1003783)
(41, '7/1/2013', 'Montana', 1013569)
(42, '7/1/2014', 'Montana', 1021869)
(43, '7/1/2015', 'Montana', 1030475)
(44, '7/1/2016', 'Montana', 1040859)
(45, '7/1/2017', 'Montana', 1052482)
(46, '7/1/2018', 'Montana', 1060665)
(47, '7/1/2019', 'Montana', 1068778)
(48, '4/1/2010', 'Nebraska', 1826341)
(49, '4/1/2010', 'Nebraska', 1826305)
(50, '7/1/2010', 'Nebraska', 1829542)
(51, '7/1/2011', 'Nebraska', 1840672)
(52, '7/1/2012', 'Nebraska', 1853303)
(53, '7/1/2013', 'Nebraska', 1865279)
(54, '7/1/2014', 'Nebraska', 1879321)
(55, '7/1/2015', 'Nebraska', 1891277)
(56, '7/1/2016', 'Nebraska', 1905616)
(57, '7/1/2017', 'Nebraska', 1915947)
(58, '7/1/2018', 'Nebraska', 1925614)
(59, '7/1/2019', 'Nebraska', 1934408)
(60, '4/1/2010', 'Nevada', 2700551)
(61, '4/1/2010', 'Nevada', 2700677)
(62, '7/1/2010', 'Nevada', 2702405)
(63, '7/1/2011', 'Nevada', 2712730)
(64, '7/1/2012', 'Nevada', 2743996)
(65, '7/1/2013', 'Nevada', 2775970)
(66, '7/1/2014', 'Nevada', 2817628)
(67, '7/1/2015', 'Nevada', 2866939)
(68, '7/1/2016', 'Nevada', 2917563)
(69, '7/1/2017', 'Nevada', 2969905)
(70, '7/1/2018', 'Nevada', 3027341)
(71, '7/1/2019', 'Nevada', 3080156)
(72, '4/1/2010', 'New Hampshire', 1316470)
(73, '4/1/2010', 'New Hampshire', 1316462)
(74, '7/1/2010', 'New Hampshire', 1316762)
(75, '7/1/2011', 'New Hampshire', 1320202)
(76, '7/1/2012', 'New Hampshire', 1324232)
(77, '7/1/2013', 'New Hampshire', 1326622)
(78, '7/1/2014', 'New Hampshire', 1333341)
(79, '7/1/2015', 'New Hampshire', 1336350)
(80, '7/1/2016', 'New Hampshire', 1342307)
(81, '7/1/2017', 'New Hampshire', 1348787)
(82, '7/1/2018', 'New Hampshire', 1353465)
(83, '7/1/2019', 'New Hampshire', 1359711)
(84, '4/1/2010', 'New Jersey', 8791894)
(85, '4/1/2010', 'New Jersey', 8791978)
(86, '7/1/2010', 'New Jersey', 8799446)
(87, '7/1/2011', 'New Jersey', 8828117)
(88, '7/1/2012', 'New Jersey', 8844942)
(89, '7/1/2013', 'New Jersey', 8856972)
(90, '7/1/2014', 'New Jersey', 8864525)
(91, '7/1/2015', 'New Jersey', 8867949)
(92, '7/1/2016', 'New Jersey', 8870827)
(93, '7/1/2017', 'New Jersey', 8885525)
(94, '7/1/2018', 'New Jersey', 8886025)
(95, '7/1/2019', 'New Jersey', 8882190)
(96, '4/1/2010', 'New Mexico', 2059179)
(97, '4/1/2010', 'New Mexico', 2059199)
(98, '7/1/2010', 'New Mexico', 2064552)
(99, '7/1/2011', 'New Mexico', 2080450)
(100, '7/1/2012', 'New Mexico', 2087309)
(101, '7/1/2013', 'New Mexico', 2092273)
(102, '7/1/2014', 'New Mexico', 2089568)
(103, '7/1/2015', 'New Mexico', 2089291)
(104, '7/1/2016', 'New Mexico', 2091630)
(105, '7/1/2017', 'New Mexico', 2091784)
(106, '7/1/2018', 'New Mexico', 2092741)
(107, '7/1/2019', 'New Mexico', 2096829)
(108, '4/1/2010', 'New York', 19378102)
(109, '4/1/2010', 'New York', 19378144)
(110, '7/1/2010', 'New York', 19399878)
(111, '7/1/2011', 'New York', 19499241)
(112, '7/1/2012', 'New York', 19572932)
(113, '7/1/2013', 'New York', 19624447)
(114, '7/1/2014', 'New York', 19651049)
(115, '7/1/2015', 'New York', 19654666)
(116, '7/1/2016', 'New York', 19633428)
(117, '7/1/2017', 'New York', 19589572)
(118, '7/1/2018', 'New York', 19530351)
(119, '7/1/2019', 'New York', 19453561)
(120, '4/1/2010', 'North Carolina', 9535483)
(121, '4/1/2010', 'North Carolina', 9535751)
(122, '7/1/2010', 'North Carolina', 9574323)
(123, '7/1/2011', 'North Carolina', 9657592)
(124, '7/1/2012', 'North Carolina', 9749476)
(125, '7/1/2013', 'North Carolina', 9843336)
(126, '7/1/2014', 'North Carolina', 9932887)
(127, '7/1/2015', 'North Carolina', 10031646)
(128, '7/1/2016', 'North Carolina', 10154788)
(129, '7/1/2017', 'North Carolina', 10268233)
(130, '7/1/2018', 'North Carolina', 10381615)
(131, '7/1/2019', 'North Carolina', 10488084)
(132, '4/1/2010', 'North Dakota', 672591)
(133, '4/1/2010', 'North Dakota', 672576)
(134, '7/1/2010', 'North Dakota', 674715)
(135, '7/1/2011', 'North Dakota', 685225)
(136, '7/1/2012', 'North Dakota', 701176)
(137, '7/1/2013', 'North Dakota', 722036)
(138, '7/1/2014', 'North Dakota', 737401)
(139, '7/1/2015', 'North Dakota', 754066)
(140, '7/1/2016', 'North Dakota', 754434)
(141, '7/1/2017', 'North Dakota', 754942)
(142, '7/1/2018', 'North Dakota', 758080)
(143, '7/1/2019', 'North Dakota', 762062)
(144, '4/1/2010', 'Ohio', 11536504)
(145, '4/1/2010', 'Ohio', 11536751)
(146, '7/1/2010', 'Ohio', 11539336)
(147, '7/1/2011', 'Ohio', 11544663)
(148, '7/1/2012', 'Ohio', 11548923)
(149, '7/1/2013', 'Ohio', 11576684)
(150, '7/1/2014', 'Ohio', 11602700)
(151, '7/1/2015', 'Ohio', 11617527)
(152, '7/1/2016', 'Ohio', 11634370)
(153, '7/1/2017', 'Ohio', 11659650)
(154, '7/1/2018', 'Ohio', 11676341)
(155, '7/1/2019', 'Ohio', 11689100)
(156, '4/1/2010', 'Oklahoma', 3751351)
(157, '4/1/2010', 'Oklahoma', 3751582)
(158, '7/1/2010', 'Oklahoma', 3759944)
(159, '7/1/2011', 'Oklahoma', 3788379)
(160, '7/1/2012', 'Oklahoma', 3818814)
(161, '7/1/2013', 'Oklahoma', 3853214)
(162, '7/1/2014', 'Oklahoma', 3878187)
(163, '7/1/2015', 'Oklahoma', 3909500)
(164, '7/1/2016', 'Oklahoma', 3926331)
(165, '7/1/2017', 'Oklahoma', 3931316)
(166, '7/1/2018', 'Oklahoma', 3940235)
(167, '7/1/2019', 'Oklahoma', 3956971)
(168, '4/1/2010', 'Oregon', 3831074)
(169, '4/1/2010', 'Oregon', 3831079)
(170, '7/1/2010', 'Oregon', 3837491)
(171, '7/1/2011', 'Oregon', 3872036)
(172, '7/1/2012', 'Oregon', 3899001)
(173, '7/1/2013', 'Oregon', 3922468)
(174, '7/1/2014', 'Oregon', 3963244)
(175, '7/1/2015', 'Oregon', 4015792)
(176, '7/1/2016', 'Oregon', 4089976)
(177, '7/1/2017', 'Oregon', 4143625)
(178, '7/1/2018', 'Oregon', 4181886)
(179, '7/1/2019', 'Oregon', 4217737)
(180, '4/1/2010', 'Pennsylvania', 12702379)
(181, '4/1/2010', 'Pennsylvania', 12702868)
(182, '7/1/2010', 'Pennsylvania', 12711160)
(183, '7/1/2011', 'Pennsylvania', 12745815)
(184, '7/1/2012', 'Pennsylvania', 12767118)
(185, '7/1/2013', 'Pennsylvania', 12776309)
(186, '7/1/2014', 'Pennsylvania', 12788313)
(187, '7/1/2015', 'Pennsylvania', 12784826)
(188, '7/1/2016', 'Pennsylvania', 12782275)
(189, '7/1/2017', 'Pennsylvania', 12787641)
(190, '7/1/2018', 'Pennsylvania', 12800922)
(191, '7/1/2019', 'Pennsylvania', 12801989)
(192, '4/1/2010', 'Rhode Island', 1052567)
(193, '4/1/2010', 'Rhode Island', 1052964)
(194, '7/1/2010', 'Rhode Island', 1053959)
(195, '7/1/2011', 'Rhode Island', 1053649)
(196, '7/1/2012', 'Rhode Island', 1054621)
(197, '7/1/2013', 'Rhode Island', 1055081)
(198, '7/1/2014', 'Rhode Island', 1055936)
(199, '7/1/2015', 'Rhode Island', 1056065)
(200, '7/1/2016', 'Rhode Island', 1056770)
(201, '7/1/2017', 'Rhode Island', 1055673)
(202, '7/1/2018', 'Rhode Island', 1058287)
(203, '7/1/2019', 'Rhode Island', 1059361)
(204, '4/1/2010', 'South Carolina', 4625364)
(205, '4/1/2010', 'South Carolina', 4625366)
(206, '7/1/2010', 'South Carolina', 4635649)
(207, '7/1/2011', 'South Carolina', 4671994)
(208, '7/1/2012', 'South Carolina', 4717354)
(209, '7/1/2013', 'South Carolina', 4764080)
(210, '7/1/2014', 'South Carolina', 4823617)
(211, '7/1/2015', 'South Carolina', 4891938)
(212, '7/1/2016', 'South Carolina', 4957968)
(213, '7/1/2017', 'South Carolina', 5021268)
(214, '7/1/2018', 'South Carolina', 5084156)
(215, '7/1/2019', 'South Carolina', 5148714)
(216, '4/1/2010', 'South Dakota', 814180)
(217, '4/1/2010', 'South Dakota', 814198)
(218, '7/1/2010', 'South Dakota', 816166)
(219, '7/1/2011', 'South Dakota', 823579)
(220, '7/1/2012', 'South Dakota', 833566)
(221, '7/1/2013', 'South Dakota', 842316)
(222, '7/1/2014', 'South Dakota', 849129)
(223, '7/1/2015', 'South Dakota', 853988)
(224, '7/1/2016', 'South Dakota', 862996)
(225, '7/1/2017', 'South Dakota', 872868)
(226, '7/1/2018', 'South Dakota', 878698)
(227, '7/1/2019', 'South Dakota', 884659)
(228, '4/1/2010', 'Tennessee', 6346105)
(229, '4/1/2010', 'Tennessee', 6346276)
(230, '7/1/2010', 'Tennessee', 6355311)
(231, '7/1/2011', 'Tennessee', 6399291)
(232, '7/1/2012', 'Tennessee', 6453898)
(233, '7/1/2013', 'Tennessee', 6494340)
(234, '7/1/2014', 'Tennessee', 6541223)
(235, '7/1/2015', 'Tennessee', 6591170)
(236, '7/1/2016', 'Tennessee', 6646010)
(237, '7/1/2017', 'Tennessee', 6708799)
(238, '7/1/2018', 'Tennessee', 6771631)
(239, '7/1/2019', 'Tennessee', 6829174)
(240, '4/1/2010', 'Texas', 25145561)
(241, '4/1/2010', 'Texas', 25146091)
(242, '7/1/2010', 'Texas', 25241971)
(243, '7/1/2011', 'Texas', 25645629)
(244, '7/1/2012', 'Texas', 26084481)
(245, '7/1/2013', 'Texas', 26480266)
(246, '7/1/2014', 'Texas', 26964333)
(247, '7/1/2015', 'Texas', 27470056)
(248, '7/1/2016', 'Texas', 27914410)
(249, '7/1/2017', 'Texas', 28295273)
(250, '7/1/2018', 'Texas', 28628666)
(251, '7/1/2019', 'Texas', 28995881)
(252, '4/1/2010', 'Utah', 2763885)
(253, '4/1/2010', 'Utah', 2763891)
(254, '7/1/2010', 'Utah', 2775332)
(255, '7/1/2011', 'Utah', 2814384)
(256, '7/1/2012', 'Utah', 2853375)
(257, '7/1/2013', 'Utah', 2897640)
(258, '7/1/2014', 'Utah', 2936879)
(259, '7/1/2015', 'Utah', 2981835)
(260, '7/1/2016', 'Utah', 3041868)
(261, '7/1/2017', 'Utah', 3101042)
(262, '7/1/2018', 'Utah', 3153550)
(263, '7/1/2019', 'Utah', 3205958)
(264, '4/1/2010', 'Vermont', 625741)
(265, '4/1/2010', 'Vermont', 625737)
(266, '7/1/2010', 'Vermont', 625879)
(267, '7/1/2011', 'Vermont', 627049)
(268, '7/1/2012', 'Vermont', 626090)
(269, '7/1/2013', 'Vermont', 626210)
(270, '7/1/2014', 'Vermont', 625214)
(271, '7/1/2015', 'Vermont', 625216)
(272, '7/1/2016', 'Vermont', 623657)
(273, '7/1/2017', 'Vermont', 624344)
(274, '7/1/2018', 'Vermont', 624358)
(275, '7/1/2019', 'Vermont', 623989)
(276, '4/1/2010', 'Virginia', 8001024)
(277, '4/1/2010', 'Virginia', 8001049)
(278, '7/1/2010', 'Virginia', 8023699)
(279, '7/1/2011', 'Virginia', 8101155)
(280, '7/1/2012', 'Virginia', 8185080)
(281, '7/1/2013', 'Virginia', 8252427)
(282, '7/1/2014', 'Virginia', 8310993)
(283, '7/1/2015', 'Virginia', 8361808)
(284, '7/1/2016', 'Virginia', 8410106)
(285, '7/1/2017', 'Virginia', 8463587)
(286, '7/1/2018', 'Virginia', 8501286)
(287, '7/1/2019', 'Virginia', 8535519)
(288, '4/1/2010', 'West Virginia', 1852994)
(289, '4/1/2010', 'West Virginia', 1853018)
(290, '7/1/2010', 'West Virginia', 1854239)
(291, '7/1/2011', 'West Virginia', 1856301)
(292, '7/1/2012', 'West Virginia', 1856872)
(293, '7/1/2013', 'West Virginia', 1853914)
(294, '7/1/2014', 'West Virginia', 1849489)
(295, '7/1/2015', 'West Virginia', 1842050)
(296, '7/1/2016', 'West Virginia', 1831023)
(297, '7/1/2017', 'West Virginia', 1817004)
(298, '7/1/2018', 'West Virginia', 1804291)
(299, '7/1/2019', 'West Virginia', 1792147)
(300, '4/1/2010', 'Washington', 6724540)
(301, '4/1/2010', 'Washington', 6724540)
(302, '7/1/2010', 'Washington', 6742830)
(303, '7/1/2011', 'Washington', 6826627)
(304, '7/1/2012', 'Washington', 6897058)
(305, '7/1/2013', 'Washington', 6963985)
(306, '7/1/2014', 'Washington', 7054655)
(307, '7/1/2015', 'Washington', 7163657)
(308, '7/1/2016', 'Washington', 7294771)
(309, '7/1/2017', 'Washington', 7423362)
(310, '7/1/2018', 'Washington', 7523869)
(311, '7/1/2019', 'Washington', 7614893)
(312, '4/1/2010', 'Wisconsin', 5686986)
(313, '4/1/2010', 'Wisconsin', 5687285)
(314, '7/1/2010', 'Wisconsin', 5690475)
(315, '7/1/2011', 'Wisconsin', 5705288)
(316, '7/1/2012', 'Wisconsin', 5719960)
(317, '7/1/2013', 'Wisconsin', 5736754)
(318, '7/1/2014', 'Wisconsin', 5751525)
(319, '7/1/2015', 'Wisconsin', 5760940)
(320, '7/1/2016', 'Wisconsin', 5772628)
(321, '7/1/2017', 'Wisconsin', 5790186)
(322, '7/1/2018', 'Wisconsin', 5807406)
(323, '7/1/2019', 'Wisconsin', 5822434)
(324, '4/1/2010', 'Wyoming', 563626)
(325, '4/1/2010', 'Wyoming', 563775)
(326, '7/1/2010', 'Wyoming', 564487)
(327, '7/1/2011', 'Wyoming', 567299)
(328, '7/1/2012', 'Wyoming', 576305)
(329, '7/1/2013', 'Wyoming', 582122)
(330, '7/1/2014', 'Wyoming', 582531)
(331, '7/1/2015', 'Wyoming', 585613)
(332, '7/1/2016', 'Wyoming', 584215)
(333, '7/1/2017', 'Wyoming', 578931)
(334, '7/1/2018', 'Wyoming', 577601)
(335, '7/1/2019', 'Wyoming', 578759)
(336, '4/1/2010', 'Puerto Rico', 3725789)
(337, '4/1/2010', 'Puerto Rico', 3726157)
(338, '7/1/2010', 'Puerto Rico', 3721525)
(339, '7/1/2011', 'Puerto Rico', 3678732)
(340, '7/1/2012', 'Puerto Rico', 3634488)
(341, '7/1/2013', 'Puerto Rico', 3593077)
(342, '7/1/2014', 'Puerto Rico', 3534874)
(343, '7/1/2015', 'Puerto Rico', 3473232)
(344, '7/1/2016', 'Puerto Rico', 3406672)
(345, '7/1/2017', 'Puerto Rico', 3325286)
(346, '7/1/2018', 'Puerto Rico', 3193354)
(347, '7/1/2019', 'Puerto Rico', 3193694)
(348, '4/1/2010', 'Alabama', 4779736)
(349, '4/1/2010', 'Alabama', 4780125)
(350, '7/1/2010', 'Alabama', 4785437)
(351, '7/1/2011', 'Alabama', 4799069)
(352, '7/1/2012', 'Alabama', 4815588)
(353, '7/1/2013', 'Alabama', 4830081)
(354, '7/1/2014', 'Alabama', 4841799)
(355, '7/1/2015', 'Alabama', 4852347)
(356, '7/1/2016', 'Alabama', 4863525)
(357, '7/1/2017', 'Alabama', 4874486)
(358, '7/1/2018', 'Alabama', 4887681)
(359, '7/1/2019', 'Alabama', 4903185)
(360, '4/1/2010', 'Alaska', 710231)
(361, '4/1/2010', 'Alaska', 710249)
(362, '7/1/2010', 'Alaska', 713910)
(363, '7/1/2011', 'Alaska', 722128)
(364, '7/1/2012', 'Alaska', 730443)
(365, '7/1/2013', 'Alaska', 737068)
(366, '7/1/2014', 'Alaska', 736283)
(367, '7/1/2015', 'Alaska', 737498)
(368, '7/1/2016', 'Alaska', 741456)
(369, '7/1/2017', 'Alaska', 739700)
(370, '7/1/2018', 'Alaska', 735139)
(371, '7/1/2019', 'Alaska', 731545)
(372, '4/1/2010', 'Arizona', 6392017)
(373, '4/1/2010', 'Arizona', 6392288)
(374, '7/1/2010', 'Arizona', 6407172)
(375, '7/1/2011', 'Arizona', 6472643)
(376, '7/1/2012', 'Arizona', 6554978)
(377, '7/1/2013', 'Arizona', 6632764)
(378, '7/1/2014', 'Arizona', 6730413)
(379, '7/1/2015', 'Arizona', 6829676)
(380, '7/1/2016', 'Arizona', 6941072)
(381, '7/1/2017', 'Arizona', 7044008)
(382, '7/1/2018', 'Arizona', 7158024)
(383, '7/1/2019', 'Arizona', 7278717)
(384, '4/1/2010', 'Arkansas', 2915918)
(385, '4/1/2010', 'Arkansas', 2916031)
(386, '7/1/2010', 'Arkansas', 2921964)
(387, '7/1/2011', 'Arkansas', 2940667)
(388, '7/1/2012', 'Arkansas', 2952164)
(389, '7/1/2013', 'Arkansas', 2959400)
(390, '7/1/2014', 'Arkansas', 2967392)
(391, '7/1/2015', 'Arkansas', 2978048)
(392, '7/1/2016', 'Arkansas', 2989918)
(393, '7/1/2017', 'Arkansas', 3001345)
(394, '7/1/2018', 'Arkansas', 3009733)
(395, '7/1/2019', 'Arkansas', 3017804)
(396, '4/1/2010', 'California', 37253956)
(397, '4/1/2010', 'California', 37254519)
(398, '7/1/2010', 'California', 37319502)
(399, '7/1/2011', 'California', 37638369)
(400, '7/1/2012', 'California', 37948800)
(401, '7/1/2013', 'California', 38260787)
(402, '7/1/2014', 'California', 38596972)
(403, '7/1/2015', 'California', 38918045)
(404, '7/1/2016', 'California', 39167117)
(405, '7/1/2017', 'California', 39358497)
(406, '7/1/2018', 'California', 39461588)
(407, '7/1/2019', 'California', 39512223)
(408, '4/1/2010', 'Colorado', 5029196)
(409, '4/1/2010', 'Colorado', 5029319)
(410, '7/1/2010', 'Colorado', 5047349)
(411, '7/1/2011', 'Colorado', 5121108)
(412, '7/1/2012', 'Colorado', 5192647)
(413, '7/1/2013', 'Colorado', 5269035)
(414, '7/1/2014', 'Colorado', 5350101)
(415, '7/1/2015', 'Colorado', 5450623)
(416, '7/1/2016', 'Colorado', 5539215)
(417, '7/1/2017', 'Colorado', 5611885)
(418, '7/1/2018', 'Colorado', 5691287)
(419, '7/1/2019', 'Colorado', 5758736)
(420, '4/1/2010', 'Connecticut', 3574097)
(421, '4/1/2010', 'Connecticut', 3574147)
(422, '7/1/2010', 'Connecticut', 3579114)
(423, '7/1/2011', 'Connecticut', 3588283)
(424, '7/1/2012', 'Connecticut', 3594547)
(425, '7/1/2013', 'Connecticut', 3594841)
(426, '7/1/2014', 'Connecticut', 3594524)
(427, '7/1/2015', 'Connecticut', 3587122)
(428, '7/1/2016', 'Connecticut', 3578141)
(429, '7/1/2017', 'Connecticut', 3573297)
(430, '7/1/2018', 'Connecticut', 3571520)
(431, '7/1/2019', 'Connecticut', 3565287)
(432, '4/1/2010', 'Delaware', 897934)
(433, '4/1/2010', 'Delaware', 897937)
(434, '7/1/2010', 'Delaware', 899593)
(435, '7/1/2011', 'Delaware', 907381)
(436, '7/1/2012', 'Delaware', 915179)
(437, '7/1/2013', 'Delaware', 923576)
(438, '7/1/2014', 'Delaware', 932487)
(439, '7/1/2015', 'Delaware', 941252)
(440, '7/1/2016', 'Delaware', 948921)
(441, '7/1/2017', 'Delaware', 956823)
(442, '7/1/2018', 'Delaware', 965479)
(443, '7/1/2019', 'Delaware', 973764)
(444, '4/1/2010', 'District of Columbia', 601723)
(445, '4/1/2010', 'District of Columbia', 601767)
(446, '7/1/2010', 'District of Columbia', 605226)
(447, '7/1/2011', 'District of Columbia', 619800)
(448, '7/1/2012', 'District of Columbia', 634924)
(449, '7/1/2013', 'District of Columbia', 650581)
(450, '7/1/2014', 'District of Columbia', 662328)
(451, '7/1/2015', 'District of Columbia', 675400)
(452, '7/1/2016', 'District of Columbia', 685815)
(453, '7/1/2017', 'District of Columbia', 694906)
(454, '7/1/2018', 'District of Columbia', 701547)
(455, '7/1/2019', 'District of Columbia', 705749)
(456, '4/1/2010', 'Florida', 18801310)
(457, '4/1/2010', 'Florida', 18804564)
(458, '7/1/2010', 'Florida', 18845537)
(459, '7/1/2011', 'Florida', 19053237)
(460, '7/1/2012', 'Florida', 19297822)
(461, '7/1/2013', 'Florida', 19545621)
(462, '7/1/2014', 'Florida', 19845911)
(463, '7/1/2015', 'Florida', 20209042)
(464, '7/1/2016', 'Florida', 20613477)
(465, '7/1/2017', 'Florida', 20963613)
(466, '7/1/2018', 'Florida', 21244317)
(467, '7/1/2019', 'Florida', 21477737)
(468, '4/1/2010', 'Georgia', 9687653)
(469, '4/1/2010', 'Georgia', 9688729)
(470, '7/1/2010', 'Georgia', 9711881)
(471, '7/1/2011', 'Georgia', 9802431)
(472, '7/1/2012', 'Georgia', 9901430)
(473, '7/1/2013', 'Georgia', 9972479)
(474, '7/1/2014', 'Georgia', 10067278)
(475, '7/1/2015', 'Georgia', 10178447)
(476, '7/1/2016', 'Georgia', 10301890)
(477, '7/1/2017', 'Georgia', 10410330)
(478, '7/1/2018', 'Georgia', 10511131)
(479, '7/1/2019', 'Georgia', 10617423)
(480, '4/1/2010', 'Idaho', 1567582)
(481, '4/1/2010', 'Idaho', 1567657)
(482, '7/1/2010', 'Idaho', 1570746)
(483, '7/1/2011', 'Idaho', 1583910)
(484, '7/1/2012', 'Idaho', 1595324)
(485, '7/1/2013', 'Idaho', 1611206)
(486, '7/1/2014', 'Idaho', 1631112)
(487, '7/1/2015', 'Idaho', 1651059)
(488, '7/1/2016', 'Idaho', 1682380)
(489, '7/1/2017', 'Idaho', 1717715)
(490, '7/1/2018', 'Idaho', 1750536)
(491, '7/1/2019', 'Idaho', 1787065)
(492, '4/1/2010', 'Hawaii', 1360301)
(493, '4/1/2010', 'Hawaii', 1360307)
(494, '7/1/2010', 'Hawaii', 1363963)
(495, '7/1/2011', 'Hawaii', 1379329)
(496, '7/1/2012', 'Hawaii', 1394804)
(497, '7/1/2013', 'Hawaii', 1408243)
(498, '7/1/2014', 'Hawaii', 1414538)
(499, '7/1/2015', 'Hawaii', 1422052)
(500, '7/1/2016', 'Hawaii', 1427559)
(501, '7/1/2017', 'Hawaii', 1424393)
(502, '7/1/2018', 'Hawaii', 1420593)

In [85]:
c.execute('SELECT * FROM population WHERE name = "California"')
for row in c.fetchall():
    print(row)

(396, '4/1/2010', 'California', 37253956)
(397, '4/1/2010', 'California', 37254519)
(398, '7/1/2010', 'California', 37319502)
(399, '7/1/2011', 'California', 37638369)
(400, '7/1/2012', 'California', 37948800)
(401, '7/1/2013', 'California', 38260787)
(402, '7/1/2014', 'California', 38596972)
(403, '7/1/2015', 'California', 38918045)
(404, '7/1/2016', 'California', 39167117)
(405, '7/1/2017', 'California', 39358497)
(406, '7/1/2018', 'California', 39461588)
(407, '7/1/2019', 'California', 39512223)

In [77]:
c.close()
conn.close()

In [93]:
def reciprocal_geometric_mean(next_house_seat):
    return 1 / np.sqrt(next_house_seat*(next_house_seat-1))

In [100]:
def priority_value(state_pop, next_house_seat):
    return int(round(state_pop * reciprocal_geometric_mean(next_house_seat), 0))

Population count is population from main census plus overseas population for each state

In [101]:
priority_value(37341989, 2)

26404774

In [96]:
88033 + 37253956

37341989

# Working Zone