# Electoral College Data ETL

The purpose of this project is to analyze the how the electoral college votes were distributed after the 2010 census, look at how the redistribution of population (by estimate) has shifted over time until today, and what that means for the voter per electoral college vote in each state. I will also analyze how we expect the electoral college to be redistributed after the 2020 census, given census bureau predictions.

An analysis will also be performed on the percentage likelihood of each state giving its electoral college votes to a particular party and their respective nominees, based purely on historical data. The aim is to demonstrate which states have the greatest power per vote, given both their current electoral votes allotted and the likelihood of that state assigning thier votes to either candidate.

## Import

In [32]:
#import necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import requests
import json
import copy

from bs4 import BeautifulSoup
import re

import sqlite3
%matplotlib inline

## Support Functions

In [2]:
#define how to retrieve api keys

def get_keys(path):
    """
    Pulls necessary api keys from designated path
    """
    with open(path) as f:
        return json.load(f)

In [3]:
def reciprocal_geometric_mean(next_house_seat):
    """
    Calculates the reciprocal geometric mean for the next house seat a state could potentially receive
    """
    return 1 / np.sqrt(next_house_seat*(next_house_seat-1))

In [4]:
def priority_value(state_pop, next_house_seat):
    """
    Calculates the priority value a state has for receiving another house seat.
    The highest priority value state gets the next house seat available.
    """
    return int(round(state_pop * reciprocal_geometric_mean(next_house_seat), 0))

In [5]:
def state_status_scrape(state_start):
    """
    From a beautiful soup webscrape, takes the tag just prior to the first state with NPVIC information
    and iterates through all siblings to make and return a dictionary of all states and their NPVIC status
    """
    state_npvic_status = {}
    for p in state_start.find_next_siblings():
        if p.contents == [] or p.contents == ['\xa0']:
            break

        soup_state_status = p.get_text().replace('\xa0', ' ')
        if '-' not in soup_state_status:
            state = soup_state_status
            status = ''
        else:
            dash_index = soup_state_status.index('-')
            state = soup_state_status[:dash_index-1]
            status = soup_state_status[dash_index+2:]

        state_npvic_status.update({state: status})
        
    return state_npvic_status

In [6]:
def state_status_to_numerical(state_npvic_status):
    """
    Takes all phrases from dictionary and assigns a value for how close the state is to joining the NPVIC
    Joined (passed legislature and signed by governor): 1.0
    Passed by one or two branches of state legislature: 0.5
    Approved by house committee:                        0.25
    States with no movement:                            0
    """
    for state in state_npvic_status.keys():
        if 'Enacted into law' in state_npvic_status[state]:
            state_npvic_status[state] = 1.0
        elif 'Passed' in state_npvic_status[state]:
            state_npvic_status[state] = 0.5
        elif 'approved' in state_npvic_status[state]:
            state_npvic_status[state] = 0.25
        else:
            state_npvic_status[state] = 0

    return state_npvic_status

In [7]:
def sql_table_creation(connection, cursor, table_name, *argv):
    var_string = argv[0]
    var_list = argv[0].split(' ')[0]
    for arg in argv[1:]:
        var_string += ', ' + arg
        var_list += ', ' + arg.split(' ')[0]
        
    try:
        c.execute('CREATE TABLE {} ({})'.format(table_name, var_string))
        conn.commit()
        print('{} Table created ({})'.format(table_name, var_list))
    except:
        c.execute('DROP TABLE {}'.format(table_name))
        print('{} table dropped'.format(table_name))
        c.execute('CREATE TABLE {} ({})'.format(table_name, var_string))
        conn.commit()
        print('{} table created ({})'.format(table_name, var_list))

## Data Collection

### API Request

In [8]:
#get key for census bureau api
key_path = "/Users/flatironschool/.secret/census_api.json"
keys = get_keys(key_path)

api_key = keys['api_key']

In [9]:
#make and print request for census count and estimates from 2010-2019 for all states
year = '2019'

url = 'https://api.census.gov/data/{}/pep/population'.format(year)

variables = ['DATE_CODE', 'DATE_DESC', 'POP', 'NAME']

granularity = 'state:*'

params = {'get': ','.join(variables), 'for': granularity, 'key': api_key}

r = requests.get(url, params=params)
print(r.url)
print(r)
print(r.text[:1000])

https://api.census.gov/data/2019/pep/population?get=DATE_CODE%2CDATE_DESC%2CPOP%2CNAME&for=state%3A%2A&key=b7961d22ec04ff1777be8a0450921d3f28af8315
<Response [200]>
[["DATE_CODE","DATE_DESC","POP","NAME","state"],
["1","4/1/2010 Census population","5303925","Minnesota","27"],
["2","4/1/2010 population estimates base","5303927","Minnesota","27"],
["3","7/1/2010 population estimate","5310828","Minnesota","27"],
["4","7/1/2011 population estimate","5346143","Minnesota","27"],
["5","7/1/2012 population estimate","5376643","Minnesota","27"],
["6","7/1/2013 population estimate","5413479","Minnesota","27"],
["7","7/1/2014 population estimate","5451079","Minnesota","27"],
["8","7/1/2015 population estimate","5482032","Minnesota","27"],
["9","7/1/2016 population estimate","5522744","Minnesota","27"],
["10","7/1/2017 population estimate","5566230","Minnesota","27"],
["11","7/1/2018 population estimate","5606249","Minnesota","27"],
["12","7/1/2019 population estimate","5639632","Minnesota","27"],
["1","4/1/2010 Census population","2967297","Mississippi","28"],
["2","4/1/2010 population estimates base","2968130","Mississippi","28"],
["3","7/1/2010 population

In [11]:
#take the api response, turn it into a json, then parse that json into a pandas dataframe
data = r.json()
pop_df = pd.DataFrame(data[1:], columns=data[0])

#cut down the date column to just the year
pop_df['YEAR'] = pop_df.DATE_DESC.apply(lambda x: x[4:8])

#eliminate the census population estimate for the same year it was recorded and the July date of that same year
pop_df.drop(pop_df[(pop_df.DATE_CODE == '2') | (pop_df.DATE_CODE == '3')].index, inplace=True)

#drop unnecessary columns and reset the index
pop_df.drop(['state','DATE_CODE', 'DATE_DESC'], axis=1, inplace=True)
pop_df.reset_index(drop=True, inplace=True)

#set the population to an integer val, reorder and rename the columns
pop_df['POP'] = pop_df.POP.astype('int64')
pop_df = pop_df[['YEAR', 'NAME', 'POP']]
pop_df.columns = ['Year', 'State', 'Population']

display(pop_df.head(15))
display(pop_df.info())

    Year        State  Population
0   2010    Minnesota     5303925
1   2011    Minnesota     5346143
2   2012    Minnesota     5376643
3   2013    Minnesota     5413479
4   2014    Minnesota     5451079
5   2015    Minnesota     5482032
6   2016    Minnesota     5522744
7   2017    Minnesota     5566230
8   2018    Minnesota     5606249
9   2019    Minnesota     5639632
10  2010  Mississippi     2967297
11  2011  Mississippi     2978731
12  2012  Mississippi     2983816
13  2013  Mississippi     2988711
14  2014  Mississippi     2990468

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520 entries, 0 to 519
Data columns (total 3 columns):
Year          520 non-null object
State         520 non-null object
Population    520 non-null int64
dtypes: int64(1), object(2)
memory usage: 12.3+ KB

None

### Overseas Population Import

In [12]:
overseas_df = pd.read_excel('Overseas Population 2010.xls', skiprows=7)
overseas_df.dropna(inplace=True)
overseas_df.columns = ['State', 'Overseas_pop']
overseas_df['Year'] = '2010'
overseas_df['Overseas_pop'] = overseas_df['Overseas_pop'].astype('int64')
overseas_df.reset_index(drop=True, inplace=True)

display(overseas_df.head())
display(overseas_df.info())

        State  Overseas_pop  Year
0     Alabama         23246  2010
1      Alaska         11292  2010
2     Arizona         20683  2010
3    Arkansas         10311  2010
4  California         88033  2010

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
State           52 non-null object
Overseas_pop    52 non-null int64
Year            52 non-null object
dtypes: int64(1), object(2)
memory usage: 1.3+ KB

None

In [13]:
#merge the overseas data with the main population estimates table and extrapolate overseas estimates based on 
#percentage change in the population year over year

#merge the population estimates with overseas data on State and Year
merged_df = pop_df.merge(overseas_df, how='left', on=['State','Year'])

#create our Percent change in population column
merged_df['Percent_change'] = (merged_df.Population - merged_df.Population.shift(1)) / merged_df.Population.shift(1)

#iterate through the missing data in overseas population, calculating the next missing value from the previous known
#(from the 2010 census) or from the last calculated value based on percentage change in that state
for i in range(len(merged_df)):
    if pd.isna(merged_df.iloc[i]['Overseas_pop']):
        merged_df.at[i,'Overseas_pop'] = round(merged_df.iloc[i]['Percent_change'] * \
                                               merged_df.iloc[i-1]['Overseas_pop'] + \
                                               merged_df.iloc[i-1]['Overseas_pop'], 0)
        
merged_df.drop('Percent_change', axis=1, inplace=True)        
merged_df['Overseas_pop'] = merged_df.Overseas_pop.astype('int64')
merged_df['Year'] = merged_df.Year.astype('int64')

display(merged_df.head(25))
display(merged_df.info())

    Year        State  Population  Overseas_pop
0   2010    Minnesota     5303925         10954
1   2011    Minnesota     5346143         11041
2   2012    Minnesota     5376643         11104
3   2013    Minnesota     5413479         11180
4   2014    Minnesota     5451079         11258
5   2015    Minnesota     5482032         11322
6   2016    Minnesota     5522744         11406
7   2017    Minnesota     5566230         11496
8   2018    Minnesota     5606249         11579
9   2019    Minnesota     5639632         11648
10  2010  Mississippi     2967297         10943
11  2011  Mississippi     2978731         10985
12  2012  Mississippi     2983816         11004
13  2013  Mississippi     2988711         11022
14  2014  Mississippi     2990468         11028
15  2015  Mississippi     2988471         11021
16  2016  Mississippi     2987938         11019
17  2017  Mississippi     2988510         11021
18  2018  Mississippi     2981020         10993
19  2019  Mississippi     2976149         10975
20  2010     Missouri     5988927         22551
21  2011     Missouri     6010275         22631
22  2012     Missouri     6024367         22684
23  2013     Missouri     6040715         22746
24  2014     Missouri     6056202         22804

<class 'pandas.core.frame.DataFrame'>
Int64Index: 520 entries, 0 to 519
Data columns (total 4 columns):
Year            520 non-null int64
State           520 non-null object
Population      520 non-null int64
Overseas_pop    520 non-null int64
dtypes: int64(3), object(1)
memory usage: 40.3+ KB

None

### Scraping National Popular Vote Interstate Compact State Status

In [14]:
url = "https://www.nationalpopularvote.com/state-status"
req = requests.get(url)
soup = BeautifulSoup(req.content, 'html.parser')

In [15]:
#skips over the initial list (and links) of states at the top of the page
init_state_skip = soup.find("p", text=re.compile("On the map below"))

In [16]:
#brings us to the tag just before the states and their current NPVIC status
tag_before_states = init_state_skip.find_next_sibling().find_next_sibling()

print(tag_before_states)
print(tag_before_states.find_next_sibling())

<p>Â </p>
<p><a class="menu__link" href="/state/ak">Alaska</a></p>

In [17]:
#scrape the site for NPVIC status of each state
npvic_word_status = state_status_scrape(tag_before_states)
#make the status numerical
npvic_num_status = state_status_to_numerical(npvic_word_status)

#turns dict into pandas dataframe
npvic_df = pd.DataFrame.from_dict(npvic_num_status, orient='index')
npvic_df.reset_index(inplace=True)
npvic_df.columns = ['State', 'NPVIC_num']

display(npvic_df.head())
display(npvic_df.info())

        State  NPVIC_num
0      Alaska        0.0
1     Alabama        0.0
2    Arkansas        0.5
3     Arizona        0.5
4  California        1.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 2 columns):
State        51 non-null object
NPVIC_num    51 non-null float64
dtypes: float64(1), object(1)
memory usage: 944.0+ bytes

None

### Election History Data

Some things of note:
- In exploration of the data, there was a "democrat/republican" that someone once ran as (James Gritz, only in CO, and in 1992) but that was excluded from the purely democrat/republican divide I want to study here
- Any write in candidates were also not considered, as they are effectively outliers for this study
- This dataset was only for US Presidential elections, so the office column is superfluous
- In 2000, 2004, 2012, nominees Al Gore, John Kerry and Barack Obama had to run under the 'democratic-farmer-labor' party. For analysis, that party name has been changed to 'democrat' for ease of analysis

In [81]:
vote_history = pd.read_csv('1976-2016-president.csv')

#changing the democratic-farmer-labor party to just democrat for 2000, 2004, and 2012
vote_history.replace(to_replace='democratic-farmer-labor', value='democrat', inplace=True)

#drop anything that's a write in, or not in the main two parties, and reset the index
vote_history = vote_history[(vote_history['party'].isin(['democrat', 'republican'])) & 
                            (vote_history['writein'] == False)]
# vote_history.reset_index(drop=True, inplace=True)

#get rid of unnecessary columns
drop_vote_history_cols = ['state_po', 'state_fips', 'state_cen', 'writein', 'state_ic', 'office', 'version', 'notes']
vote_history.drop(drop_vote_history_cols, axis=1, inplace=True)

#combine two rows for each state into one row with all info for that year/state
vote_history = vote_history.sort_values(['year', 'state', 'party'])
dems = vote_history[vote_history.party == 'democrat'].drop('party', axis=1)
reps = vote_history[vote_history.party == 'republican'].drop('party', axis=1)
vote_history = dems.merge(reps, on=['year', 'state', 'totalvotes'])
vote_history.rename({'candidate_x': 'dem_candidate', 'candidatevotes_x': 'dem_votes',
                     'candidate_y': 'rep_candidate', 'candidatevotes_y': 'rep_votes'}, axis = 1, inplace=True)

#move the column totalvotes to the end of the dataframe
new_col_order = list(vote_history.columns)
new_col_order.remove('totalvotes')
new_col_order.append('totalvotes')

vote_history = vote_history[new_col_order]


display(vote_history.head(10))
display(vote_history.info())

,year,state,dem_candidate,dem_votes,rep_candidate,rep_votes,totalvotes
0,1976,Alabama,"Carter, Jimmy",659170,"Ford, Gerald",504070,1182850
1,1976,Alaska,"Carter, Jimmy",44058,"Ford, Gerald",71555,123574
2,1976,Arizona,"Carter, Jimmy",295602,"Ford, Gerald",418642,742719
3,1976,Arkansas,"Carter, Jimmy",498604,"Ford, Gerald",267903,767535
4,1976,California,"Carter, Jimmy",3742284,"Ford, Gerald",3882244,7803770
5,1976,Colorado,"Carter, Jimmy",460801,"Ford, Gerald",584278,1081440
6,1976,Connecticut,"Carter, Jimmy",647895,"Ford, Gerald",719261,1386355
7,1976,Delaware,"Carter, Jimmy",122461,"Ford, Gerald",109780,235642
8,1976,District of Columbia,"Carter, Jimmy",137818,"Ford, Gerald",27873,168830
9,1976,Florida,"Carter, Jimmy",1636000,"Ford, Gerald",1469531,3150631

<class 'pandas.core.frame.DataFrame'>
Int64Index: 561 entries, 0 to 560
Data columns (total 7 columns):
year             561 non-null int64
state            561 non-null object
dem_candidate    561 non-null object
dem_votes        561 non-null int64
rep_candidate    561 non-null object
rep_votes        561 non-null int64
totalvotes       561 non-null int64
dtypes: int64(4), object(3)
memory usage: 35.1+ KB

None

### Merging all data into SQL Database

In [82]:
#put all data into SQL database for retrieval in analysis
conn = sqlite3.connect('census_pop_data.db')
c = conn.cursor()

#### Population Data

In [20]:
sql_table_creation(conn, c, 'Population', 'Year integer', 'State text', 'Pop integer', 'Overseas_pop integer')

Population Table created (Year, State, Pop, Overseas_pop)

In [21]:
merged_df.to_sql(name='Population', con=conn, if_exists='replace')

#### NPVIC Status

In [22]:
sql_table_creation(conn, c, 'NPVIC_status', 'State text', 'Status real')

NPVIC_status Table created (State, Status)

In [23]:
npvic_df.to_sql(name='NPVIC_status', con=conn, if_exists='replace')

#### Election Results

In [85]:
sql_table_creation(conn, c, 'Election_results', 'Year integer', 'State text', 'Dem_cand text', 'Dem_vote integer', 
                   'Rep_cand text', 'Rep_vote integer', 'Totalvotes integer')

Election_results table dropped
Election_results table created (Year, State, Dem_cand, Dem_vote, Rep_cand, Rep_vote, Totalvotes)

In [86]:
vote_history.to_sql(name='Election_results', con=conn, if_exists='replace')

### Check the input

In [87]:
c.execute('SELECT * FROM population')
for row in c.fetchall():
    print(row)

(0, 2010, 'Minnesota', 5303925, 10954)
(1, 2011, 'Minnesota', 5346143, 11041)
(2, 2012, 'Minnesota', 5376643, 11104)
(3, 2013, 'Minnesota', 5413479, 11180)
(4, 2014, 'Minnesota', 5451079, 11258)
(5, 2015, 'Minnesota', 5482032, 11322)
(6, 2016, 'Minnesota', 5522744, 11406)
(7, 2017, 'Minnesota', 5566230, 11496)
(8, 2018, 'Minnesota', 5606249, 11579)
(9, 2019, 'Minnesota', 5639632, 11648)
(10, 2010, 'Mississippi', 2967297, 10943)
(11, 2011, 'Mississippi', 2978731, 10985)
(12, 2012, 'Mississippi', 2983816, 11004)
(13, 2013, 'Mississippi', 2988711, 11022)
(14, 2014, 'Mississippi', 2990468, 11028)
(15, 2015, 'Mississippi', 2988471, 11021)
(16, 2016, 'Mississippi', 2987938, 11019)
(17, 2017, 'Mississippi', 2988510, 11021)
(18, 2018, 'Mississippi', 2981020, 10993)
(19, 2019, 'Mississippi', 2976149, 10975)
(20, 2010, 'Missouri', 5988927, 22551)
(21, 2011, 'Missouri', 6010275, 22631)
(22, 2012, 'Missouri', 6024367, 22684)
(23, 2013, 'Missouri', 6040715, 22746)
(24, 2014, 'Missouri', 6056202, 22804)
(25, 2015, 'Missouri', 6071732, 22862)
(26, 2016, 'Missouri', 6087135, 22920)
(27, 2017, 'Missouri', 6106670, 22994)
(28, 2018, 'Missouri', 6121623, 23050)
(29, 2019, 'Missouri', 6137428, 23110)
(30, 2010, 'Montana', 989415, 5001)
(31, 2011, 'Montana', 997316, 5041)
(32, 2012, 'Montana', 1003783, 5074)
(33, 2013, 'Montana', 1013569, 5123)
(34, 2014, 'Montana', 1021869, 5165)
(35, 2015, 'Montana', 1030475, 5208)
(36, 2016, 'Montana', 1040859, 5260)
(37, 2017, 'Montana', 1052482, 5319)
(38, 2018, 'Montana', 1060665, 5360)
(39, 2019, 'Montana', 1068778, 5401)
(40, 2010, 'Nebraska', 1826341, 5484)
(41, 2011, 'Nebraska', 1840672, 5527)
(42, 2012, 'Nebraska', 1853303, 5565)
(43, 2013, 'Nebraska', 1865279, 5601)
(44, 2014, 'Nebraska', 1879321, 5643)
(45, 2015, 'Nebraska', 1891277, 5679)
(46, 2016, 'Nebraska', 1905616, 5722)
(47, 2017, 'Nebraska', 1915947, 5753)
(48, 2018, 'Nebraska', 1925614, 5782)
(49, 2019, 'Nebraska', 1934408, 5808)
(50, 2010, 'Nevada', 2700551, 8881)
(51, 2011, 'Nevada', 2712730, 8921)
(52, 2012, 'Nevada', 2743996, 9024)
(53, 2013, 'Nevada', 2775970, 9129)
(54, 2014, 'Nevada', 2817628, 9266)
(55, 2015, 'Nevada', 2866939, 9428)
(56, 2016, 'Nevada', 2917563, 9594)
(57, 2017, 'Nevada', 2969905, 9766)
(58, 2018, 'Nevada', 3027341, 9955)
(59, 2019, 'Nevada', 3080156, 10129)
(60, 2010, 'New Hampshire', 1316470, 4975)
(61, 2011, 'New Hampshire', 1320202, 4989)
(62, 2012, 'New Hampshire', 1324232, 5004)
(63, 2013, 'New Hampshire', 1326622, 5013)
(64, 2014, 'New Hampshire', 1333341, 5038)
(65, 2015, 'New Hampshire', 1336350, 5049)
(66, 2016, 'New Hampshire', 1342307, 5072)
(67, 2017, 'New Hampshire', 1348787, 5096)
(68, 2018, 'New Hampshire', 1353465, 5114)
(69, 2019, 'New Hampshire', 1359711, 5138)
(70, 2010, 'New Jersey', 8791894, 15607)
(71, 2011, 'New Jersey', 8828117, 15671)
(72, 2012, 'New Jersey', 8844942, 15701)
(73, 2013, 'New Jersey', 8856972, 15722)
(74, 2014, 'New Jersey', 8864525, 15735)
(75, 2015, 'New Jersey', 8867949, 15741)
(76, 2016, 'New Jersey', 8870827, 15746)
(77, 2017, 'New Jersey', 8885525, 15772)
(78, 2018, 'New Jersey', 8886025, 15773)
(79, 2019, 'New Jersey', 8882190, 15766)
(80, 2010, 'New Mexico', 2059179, 8094)
(81, 2011, 'New Mexico', 2080450, 8178)
(82, 2012, 'New Mexico', 2087309, 8205)
(83, 2013, 'New Mexico', 2092273, 8225)
(84, 2014, 'New Mexico', 2089568, 8214)
(85, 2015, 'New Mexico', 2089291, 8213)
(86, 2016, 'New Mexico', 2091630, 8222)
(87, 2017, 'New Mexico', 2091784, 8223)
(88, 2018, 'New Mexico', 2092741, 8227)
(89, 2019, 'New Mexico', 2096829, 8243)
(90, 2010, 'New York', 19378102, 42953)
(91, 2011, 'New York', 19499241, 43222)
(92, 2012, 'New York', 19572932, 43385)
(93, 2013, 'New York', 19624447, 43499)
(94, 2014, 'New York', 19651049, 43558)
(95, 2015, 'New York', 19654666, 43566)
(96, 2016, 'New York', 19633428, 43519)
(97, 2017, 'New York', 19589572, 43422)
(98, 2018, 'New York', 19530351, 43291)
(99, 2019, 'New York', 19453561, 43121)
(100, 2010, 'North Carolina', 9535483, 30298)
(101, 2011, 'North Carolina', 9657592, 30686)
(102, 2012, 'North Carolina', 9749476, 30978)
(103, 2013, 'North Carolina', 9843336, 31276)
(104, 2014, 'North Carolina', 9932887, 31561)
(105, 2015, 'North Carolina', 10031646, 31875)
(106, 2016, 'North Carolina', 10154788, 32266)
(107, 2017, 'North Carolina', 10268233, 32626)
(108, 2018, 'North Carolina', 10381615, 32986)
(109, 2019, 'North Carolina', 10488084, 33324)
(110, 2010, 'North Dakota', 672591, 3314)
(111, 2011, 'North Dakota', 685225, 3376)
(112, 2012, 'North Dakota', 701176, 3455)
(113, 2013, 'North Dakota', 722036, 3558)
(114, 2014, 'North Dakota', 737401, 3634)
(115, 2015, 'North Dakota', 754066, 3716)
(116, 2016, 'North Dakota', 754434, 3718)
(117, 2017, 'North Dakota', 754942, 3721)
(118, 2018, 'North Dakota', 758080, 3736)
(119, 2019, 'North Dakota', 762062, 3756)
(120, 2010, 'Ohio', 11536504, 31991)
(121, 2011, 'Ohio', 11544663, 32014)
(122, 2012, 'Ohio', 11548923, 32026)
(123, 2013, 'Ohio', 11576684, 32103)
(124, 2014, 'Ohio', 11602700, 32175)
(125, 2015, 'Ohio', 11617527, 32216)
(126, 2016, 'Ohio', 11634370, 32263)
(127, 2017, 'Ohio', 11659650, 32333)
(128, 2018, 'Ohio', 11676341, 32379)
(129, 2019, 'Ohio', 11689100, 32414)
(130, 2010, 'Oklahoma', 3751351, 13531)
(131, 2011, 'Oklahoma', 3788379, 13665)
(132, 2012, 'Oklahoma', 3818814, 13775)
(133, 2013, 'Oklahoma', 3853214, 13899)
(134, 2014, 'Oklahoma', 3878187, 13989)
(135, 2015, 'Oklahoma', 3909500, 14102)
(136, 2016, 'Oklahoma', 3926331, 14163)
(137, 2017, 'Oklahoma', 3931316, 14181)
(138, 2018, 'Oklahoma', 3940235, 14213)
(139, 2019, 'Oklahoma', 3956971, 14273)
(140, 2010, 'Oregon', 3831074, 17532)
(141, 2011, 'Oregon', 3872036, 17719)
(142, 2012, 'Oregon', 3899001, 17842)
(143, 2013, 'Oregon', 3922468, 17949)
(144, 2014, 'Oregon', 3963244, 18136)
(145, 2015, 'Oregon', 4015792, 18376)
(146, 2016, 'Oregon', 4089976, 18715)
(147, 2017, 'Oregon', 4143625, 18960)
(148, 2018, 'Oregon', 4181886, 19135)
(149, 2019, 'Oregon', 4217737, 19299)
(150, 2010, 'Pennsylvania', 12702379, 32526)
(151, 2011, 'Pennsylvania', 12745815, 32637)
(152, 2012, 'Pennsylvania', 12767118, 32692)
(153, 2013, 'Pennsylvania', 12776309, 32716)
(154, 2014, 'Pennsylvania', 12788313, 32747)
(155, 2015, 'Pennsylvania', 12784826, 32738)
(156, 2016, 'Pennsylvania', 12782275, 32731)
(157, 2017, 'Pennsylvania', 12787641, 32745)
(158, 2018, 'Pennsylvania', 12800922, 32779)
(159, 2019, 'Pennsylvania', 12801989, 32782)
(160, 2010, 'Rhode Island', 1052567, 2680)
(161, 2011, 'Rhode Island', 1053649, 2683)
(162, 2012, 'Rhode Island', 1054621, 2685)
(163, 2013, 'Rhode Island', 1055081, 2686)
(164, 2014, 'Rhode Island', 1055936, 2688)
(165, 2015, 'Rhode Island', 1056065, 2688)
(166, 2016, 'Rhode Island', 1056770, 2690)
(167, 2017, 'Rhode Island', 1055673, 2687)
(168, 2018, 'Rhode Island', 1058287, 2694)
(169, 2019, 'Rhode Island', 1059361, 2697)
(170, 2010, 'South Carolina', 4625364, 20611)
(171, 2011, 'South Carolina', 4671994, 20819)
(172, 2012, 'South Carolina', 4717354, 21021)
(173, 2013, 'South Carolina', 4764080, 21229)
(174, 2014, 'South Carolina', 4823617, 21494)
(175, 2015, 'South Carolina', 4891938, 21798)
(176, 2016, 'South Carolina', 4957968, 22092)
(177, 2017, 'South Carolina', 5021268, 22374)
(178, 2018, 'South Carolina', 5084156, 22654)
(179, 2019, 'South Carolina', 5148714, 22942)
(180, 2010, 'South Dakota', 814180, 5581)
(181, 2011, 'South Dakota', 823579, 5645)
(182, 2012, 'South Dakota', 833566, 5713)
(183, 2013, 'South Dakota', 842316, 5773)
(184, 2014, 'South Dakota', 849129, 5820)
(185, 2015, 'South Dakota', 853988, 5853)
(186, 2016, 'South Dakota', 862996, 5915)
(187, 2017, 'South Dakota', 872868, 5983)
(188, 2018, 'South Dakota', 878698, 6023)
(189, 2019, 'South Dakota', 884659, 6064)
(190, 2010, 'Tennessee', 6346105, 29326)
(191, 2011, 'Tennessee', 6399291, 29572)
(192, 2012, 'Tennessee', 6453898, 29824)
(193, 2013, 'Tennessee', 6494340, 30011)
(194, 2014, 'Tennessee', 6541223, 30228)
(195, 2015, 'Tennessee', 6591170, 30459)
(196, 2016, 'Tennessee', 6646010, 30712)
(197, 2017, 'Tennessee', 6708799, 31002)
(198, 2018, 'Tennessee', 6771631, 31292)
(199, 2019, 'Tennessee', 6829174, 31558)
(200, 2010, 'Texas', 25145561, 122857)
(201, 2011, 'Texas', 25645629, 125300)
(202, 2012, 'Texas', 26084481, 127444)
(203, 2013, 'Texas', 26480266, 129378)
(204, 2014, 'Texas', 26964333, 131743)
(205, 2015, 'Texas', 27470056, 134214)
(206, 2016, 'Texas', 27914410, 136385)
(207, 2017, 'Texas', 28295273, 138246)
(208, 2018, 'Texas', 28628666, 139875)
(209, 2019, 'Texas', 28995881, 141669)
(210, 2010, 'Utah', 2763885, 6880)
(211, 2011, 'Utah', 2814384, 7006)
(212, 2012, 'Utah', 2853375, 7103)
(213, 2013, 'Utah', 2897640, 7213)
(214, 2014, 'Utah', 2936879, 7311)
(215, 2015, 'Utah', 2981835, 7423)
(216, 2016, 'Utah', 3041868, 7572)
(217, 2017, 'Utah', 3101042, 7719)
(218, 2018, 'Utah', 3153550, 7850)
(219, 2019, 'Utah', 3205958, 7980)
(220, 2010, 'Vermont', 625741, 4596)
(221, 2011, 'Vermont', 627049, 4606)
(222, 2012, 'Vermont', 626090, 4599)
(223, 2013, 'Vermont', 626210, 4600)
(224, 2014, 'Vermont', 625214, 4593)
(225, 2015, 'Vermont', 625216, 4593)
(226, 2016, 'Vermont', 623657, 4582)
(227, 2017, 'Vermont', 624344, 4587)
(228, 2018, 'Vermont', 624358, 4587)
(229, 2019, 'Vermont', 623989, 4584)
(230, 2010, 'Virginia', 8001024, 36712)
(231, 2011, 'Virginia', 8101155, 37171)
(232, 2012, 'Virginia', 8185080, 37556)
(233, 2013, 'Virginia', 8252427, 37865)
(234, 2014, 'Virginia', 8310993, 38134)
(235, 2015, 'Virginia', 8361808, 38367)
(236, 2016, 'Virginia', 8410106, 38589)
(237, 2017, 'Virginia', 8463587, 38834)
(238, 2018, 'Virginia', 8501286, 39007)
(239, 2019, 'Virginia', 8535519, 39164)
(240, 2010, 'West Virginia', 1852994, 6821)
(241, 2011, 'West Virginia', 1856301, 6833)
(242, 2012, 'West Virginia', 1856872, 6835)
(243, 2013, 'West Virginia', 1853914, 6824)
(244, 2014, 'West Virginia', 1849489, 6808)
(245, 2015, 'West Virginia', 1842050, 6781)
(246, 2016, 'West Virginia', 1831023, 6740)
(247, 2017, 'West Virginia', 1817004, 6688)
(248, 2018, 'West Virginia', 1804291, 6641)
(249, 2019, 'West Virginia', 1792147, 6596)
(250, 2010, 'Washington', 6724540, 28829)
(251, 2011, 'Washington', 6826627, 29267)
(252, 2012, 'Washington', 6897058, 29569)
(253, 2013, 'Washington', 6963985, 29856)
(254, 2014, 'Washington', 7054655, 30245)
(255, 2015, 'Washington', 7163657, 30712)
(256, 2016, 'Washington', 7294771, 31274)
(257, 2017, 'Washington', 7423362, 31825)
(258, 2018, 'Washington', 7523869, 32256)
(259, 2019, 'Washington', 7614893, 32646)
(260, 2010, 'Wisconsin', 5686986, 11244)
(261, 2011, 'Wisconsin', 5705288, 11280)
(262, 2012, 'Wisconsin', 5719960, 11309)
(263, 2013, 'Wisconsin', 5736754, 11342)
(264, 2014, 'Wisconsin', 5751525, 11371)
(265, 2015, 'Wisconsin', 5760940, 11390)
(266, 2016, 'Wisconsin', 5772628, 11413)
(267, 2017, 'Wisconsin', 5790186, 11448)
(268, 2018, 'Wisconsin', 5807406, 11482)
(269, 2019, 'Wisconsin', 5822434, 11512)
(270, 2010, 'Wyoming', 563626, 4674)
(271, 2011, 'Wyoming', 567299, 4704)
(272, 2012, 'Wyoming', 576305, 4779)
(273, 2013, 'Wyoming', 582122, 4827)
(274, 2014, 'Wyoming', 582531, 4830)
(275, 2015, 'Wyoming', 585613, 4856)
(276, 2016, 'Wyoming', 584215, 4844)
(277, 2017, 'Wyoming', 578931, 4800)
(278, 2018, 'Wyoming', 577601, 4789)
(279, 2019, 'Wyoming', 578759, 4799)
(280, 2010, 'Puerto Rico', 3725789, 30894)
(281, 2011, 'Puerto Rico', 3678732, 30504)
(282, 2012, 'Puerto Rico', 3634488, 30137)
(283, 2013, 'Puerto Rico', 3593077, 29794)
(284, 2014, 'Puerto Rico', 3534874, 29311)
(285, 2015, 'Puerto Rico', 3473232, 28800)
(286, 2016, 'Puerto Rico', 3406672, 28248)
(287, 2017, 'Puerto Rico', 3325286, 27573)
(288, 2018, 'Puerto Rico', 3193354, 26479)
(289, 2019, 'Puerto Rico', 3193694, 26482)
(290, 2010, 'Alabama', 4779736, 23246)
(291, 2011, 'Alabama', 4799069, 23340)
(292, 2012, 'Alabama', 4815588, 23420)
(293, 2013, 'Alabama', 4830081, 23490)
(294, 2014, 'Alabama', 4841799, 23547)
(295, 2015, 'Alabama', 4852347, 23598)
(296, 2016, 'Alabama', 4863525, 23652)
(297, 2017, 'Alabama', 4874486, 23705)
(298, 2018, 'Alabama', 4887681, 23769)
(299, 2019, 'Alabama', 4903185, 23844)
(300, 2010, 'Alaska', 710231, 11292)
(301, 2011, 'Alaska', 722128, 11481)
(302, 2012, 'Alaska', 730443, 11613)
(303, 2013, 'Alaska', 737068, 11718)
(304, 2014, 'Alaska', 736283, 11706)
(305, 2015, 'Alaska', 737498, 11725)
(306, 2016, 'Alaska', 741456, 11788)
(307, 2017, 'Alaska', 739700, 11760)
(308, 2018, 'Alaska', 735139, 11687)
(309, 2019, 'Alaska', 731545, 11630)
(310, 2010, 'Arizona', 6392017, 20683)
(311, 2011, 'Arizona', 6472643, 20944)
(312, 2012, 'Arizona', 6554978, 21210)
(313, 2013, 'Arizona', 6632764, 21462)
(314, 2014, 'Arizona', 6730413, 21778)
(315, 2015, 'Arizona', 6829676, 22099)
(316, 2016, 'Arizona', 6941072, 22459)
(317, 2017, 'Arizona', 7044008, 22792)
(318, 2018, 'Arizona', 7158024, 23161)
(319, 2019, 'Arizona', 7278717, 23552)
(320, 2010, 'Arkansas', 2915918, 10311)
(321, 2011, 'Arkansas', 2940667, 10399)
(322, 2012, 'Arkansas', 2952164, 10440)
(323, 2013, 'Arkansas', 2959400, 10466)
(324, 2014, 'Arkansas', 2967392, 10494)
(325, 2015, 'Arkansas', 2978048, 10532)
(326, 2016, 'Arkansas', 2989918, 10574)
(327, 2017, 'Arkansas', 3001345, 10614)
(328, 2018, 'Arkansas', 3009733, 10644)
(329, 2019, 'Arkansas', 3017804, 10673)
(330, 2010, 'California', 37253956, 88033)
(331, 2011, 'California', 37638369, 88941)
(332, 2012, 'California', 37948800, 89675)
(333, 2013, 'California', 38260787, 90412)
(334, 2014, 'California', 38596972, 91206)
(335, 2015, 'California', 38918045, 91965)
(336, 2016, 'California', 39167117, 92554)
(337, 2017, 'California', 39358497, 93006)
(338, 2018, 'California', 39461588, 93250)
(339, 2019, 'California', 39512223, 93370)
(340, 2010, 'Colorado', 5029196, 15734)
(341, 2011, 'Colorado', 5121108, 16022)
(342, 2012, 'Colorado', 5192647, 16246)
(343, 2013, 'Colorado', 5269035, 16485)
(344, 2014, 'Colorado', 5350101, 16739)
(345, 2015, 'Colorado', 5450623, 17054)
(346, 2016, 'Colorado', 5539215, 17331)
(347, 2017, 'Colorado', 5611885, 17558)
(348, 2018, 'Colorado', 5691287, 17806)
(349, 2019, 'Colorado', 5758736, 18017)
(350, 2010, 'Connecticut', 3574097, 7531)
(351, 2011, 'Connecticut', 3588283, 7561)
(352, 2012, 'Connecticut', 3594547, 7574)
(353, 2013, 'Connecticut', 3594841, 7575)
(354, 2014, 'Connecticut', 3594524, 7574)
(355, 2015, 'Connecticut', 3587122, 7558)
(356, 2016, 'Connecticut', 3578141, 7539)
(357, 2017, 'Connecticut', 3573297, 7529)
(358, 2018, 'Connecticut', 3571520, 7525)
(359, 2019, 'Connecticut', 3565287, 7512)
(360, 2010, 'Delaware', 897934, 2943)
(361, 2011, 'Delaware', 907381, 2974)
(362, 2012, 'Delaware', 915179, 3000)
(363, 2013, 'Delaware', 923576, 3028)
(364, 2014, 'Delaware', 932487, 3057)
(365, 2015, 'Delaware', 941252, 3086)
(366, 2016, 'Delaware', 948921, 3111)
(367, 2017, 'Delaware', 956823, 3137)
(368, 2018, 'Delaware', 965479, 3165)
(369, 2019, 'Delaware', 973764, 3192)
(370, 2010, 'District of Columbia', 601723, 2875)
(371, 2011, 'District of Columbia', 619800, 2961)
(372, 2012, 'District of Columbia', 634924, 3033)
(373, 2013, 'District of Columbia', 650581, 3108)
(374, 2014, 'District of Columbia', 662328, 3164)
(375, 2015, 'District of Columbia', 675400, 3226)
(376, 2016, 'District of Columbia', 685815, 3276)
(377, 2017, 'District of Columbia', 694906, 3319)
(378, 2018, 'District of Columbia', 701547, 3351)
(379, 2019, 'District of Columbia', 705749, 3371)
(380, 2010, 'Florida', 18801310, 99463)
(381, 2011, 'Florida', 19053237, 100796)
(382, 2012, 'Florida', 19297822, 102090)
(383, 2013, 'Florida', 19545621, 103401)
(384, 2014, 'Florida', 19845911, 104990)
(385, 2015, 'Florida', 20209042, 106911)
(386, 2016, 'Florida', 20613477, 109051)
(387, 2017, 'Florida', 20963613, 110903)
(388, 2018, 'Florida', 21244317, 112388)
(389, 2019, 'Florida', 21477737, 113623)
(390, 2010, 'Georgia', 9687653, 39913)
(391, 2011, 'Georgia', 9802431, 40386)
(392, 2012, 'Georgia', 9901430, 40794)
(393, 2013, 'Georgia', 9972479, 41087)
(394, 2014, 'Georgia', 10067278, 41478)
(395, 2015, 'Georgia', 10178447, 41936)
(396, 2016, 'Georgia', 10301890, 42445)
(397, 2017, 'Georgia', 10410330, 42892)
(398, 2018, 'Georgia', 10511131, 43307)
(399, 2019, 'Georgia', 10617423, 43745)
(400, 2010, 'Idaho', 1567582, 5917)
(401, 2011, 'Idaho', 1583910, 5979)
(402, 2012, 'Idaho', 1595324, 6022)
(403, 2013, 'Idaho', 1611206, 6082)
(404, 2014, 'Idaho', 1631112, 6157)
(405, 2015, 'Idaho', 1651059, 6232)
(406, 2016, 'Idaho', 1682380, 6350)
(407, 2017, 'Idaho', 1717715, 6483)
(408, 2018, 'Idaho', 1750536, 6607)
(409, 2019, 'Idaho', 1787065, 6745)
(410, 2010, 'Hawaii', 1360301, 6561)
(411, 2011, 'Hawaii', 1379329, 6653)
(412, 2012, 'Hawaii', 1394804, 6728)
(413, 2013, 'Hawaii', 1408243, 6793)
(414, 2014, 'Hawaii', 1414538, 6823)
(415, 2015, 'Hawaii', 1422052, 6859)
(416, 2016, 'Hawaii', 1427559, 6886)
(417, 2017, 'Hawaii', 1424393, 6871)
(418, 2018, 'Hawaii', 1420593, 6853)
(419, 2019, 'Hawaii', 1415872, 6830)
(420, 2010, 'Illinois', 12830632, 33748)
(421, 2011, 'Illinois', 12867454, 33845)
(422, 2012, 'Illinois', 12882510, 33885)
(423, 2013, 'Illinois', 12895129, 33918)
(424, 2014, 'Illinois', 12884493, 33890)
(425, 2015, 'Illinois', 12858913, 33823)
(426, 2016, 'Illinois', 12820527, 33722)
(427, 2017, 'Illinois', 12778828, 33612)
(428, 2018, 'Illinois', 12723071, 33465)
(429, 2019, 'Illinois', 12671821, 33330)
(430, 2010, 'Indiana', 6483802, 17780)
(431, 2011, 'Indiana', 6516528, 17870)
(432, 2012, 'Indiana', 6537703, 17928)
(433, 2013, 'Indiana', 6568713, 18013)
(434, 2014, 'Indiana', 6593644, 18081)
(435, 2015, 'Indiana', 6608422, 18122)
(436, 2016, 'Indiana', 6634304, 18193)
(437, 2017, 'Indiana', 6658078, 18258)
(438, 2018, 'Indiana', 6695497, 18361)
(439, 2019, 'Indiana', 6732219, 18462)
(440, 2010, 'Iowa', 3046355, 7432)
(441, 2011, 'Iowa', 3066336, 7481)
(442, 2012, 'Iowa', 3076190, 7505)
(443, 2013, 'Iowa', 3092997, 7546)
(444, 2014, 'Iowa', 3109350, 7586)
(445, 2015, 'Iowa', 3120960, 7614)
(446, 2016, 'Iowa', 3131371, 7639)
(447, 2017, 'Iowa', 3141550, 7664)
(448, 2018, 'Iowa', 3148618, 7681)
(449, 2019, 'Iowa', 3155070, 7697)
(450, 2010, 'Kansas', 2853118, 10695)
(451, 2011, 'Kansas', 2869225, 10755)
(452, 2012, 'Kansas', 2885257, 10815)
(453, 2013, 'Kansas', 2893212, 10845)
(454, 2014, 'Kansas', 2900475, 10872)
(455, 2015, 'Kansas', 2909011, 10904)
(456, 2016, 'Kansas', 2910844, 10911)
(457, 2017, 'Kansas', 2908718, 10903)
(458, 2018, 'Kansas', 2911359, 10913)
(459, 2019, 'Kansas', 2913314, 10920)
(460, 2010, 'Kentucky', 4339367, 11239)
(461, 2011, 'Kentucky', 4369821, 11318)
(462, 2012, 'Kentucky', 4386346, 11361)
(463, 2013, 'Kentucky', 4404659, 11408)
(464, 2014, 'Kentucky', 4414349, 11433)
(465, 2015, 'Kentucky', 4425976, 11463)
(466, 2016, 'Kentucky', 4438182, 11495)
(467, 2017, 'Kentucky', 4452268, 11531)
(468, 2018, 'Kentucky', 4461153, 11554)
(469, 2019, 'Kentucky', 4467673, 11571)
(470, 2010, 'Louisiana', 4533372, 20590)
(471, 2011, 'Louisiana', 4575625, 20782)
(472, 2012, 'Louisiana', 4600972, 20897)
(473, 2013, 'Louisiana', 4624527, 21004)
(474, 2014, 'Louisiana', 4644013, 21093)
(475, 2015, 'Louisiana', 4664628, 21187)
(476, 2016, 'Louisiana', 4678135, 21248)
(477, 2017, 'Louisiana', 4670560, 21214)
(478, 2018, 'Louisiana', 4659690, 21165)
(479, 2019, 'Louisiana', 4648794, 21116)
(480, 2010, 'Maine', 1328361, 4713)
(481, 2011, 'Maine', 1328284, 4713)
(482, 2012, 'Maine', 1327729, 4711)
(483, 2013, 'Maine', 1328009, 4712)
(484, 2014, 'Maine', 1330513, 4721)
(485, 2015, 'Maine', 1328262, 4713)
(486, 2016, 'Maine', 1331317, 4724)
(487, 2017, 'Maine', 1334612, 4736)
(488, 2018, 'Maine', 1339057, 4752)
(489, 2019, 'Maine', 1344212, 4770)
(490, 2010, 'Maryland', 5773552, 16377)
(491, 2011, 'Maryland', 5839419, 16564)
(492, 2012, 'Maryland', 5886992, 16699)
(493, 2013, 'Maryland', 5923188, 16802)
(494, 2014, 'Maryland', 5957283, 16899)
(495, 2015, 'Maryland', 5985562, 16979)
(496, 2016, 'Maryland', 6003323, 17029)
(497, 2017, 'Maryland', 6023868, 17087)

In [88]:
c.execute('SELECT * FROM npvic_status')
for row in c.fetchall():
    print(row)

(0, 'Alaska', 0.0)
(1, 'Alabama', 0.0)
(2, 'Arkansas', 0.5)
(3, 'Arizona', 0.5)
(4, 'California', 1.0)
(5, 'Colorado', 1.0)
(6, 'Connecticut', 1.0)
(7, 'District of Columbia', 1.0)
(8, 'Delaware', 1.0)
(9, 'Florida', 0.0)
(10, 'Georgia', 0.25)
(11, 'Hawaii', 1.0)
(12, 'Iowa', 0.0)
(13, 'Idaho', 0.0)
(14, 'Illinois', 1.0)
(15, 'Indiana', 0.0)
(16, 'Kansas', 0.0)
(17, 'Kentucky', 0.0)
(18, 'Louisiana', 0.0)
(19, 'Massachusetts', 1.0)
(20, 'Maryland', 1.0)
(21, 'Maine', 0.5)
(22, 'Michigan', 0.5)
(23, 'Minnesota', 0.5)
(24, 'Missouri', 0.25)
(25, 'Mississippi', 0.0)
(26, 'Montana', 0.0)
(27, 'North Carolina', 0.5)
(28, 'North Dakota', 0.0)
(29, 'Nebraska', 0.0)
(30, 'New Hampshire', 0.0)
(31, 'New Jersey', 1.0)
(32, 'New Mexico', 1.0)
(33, 'Nevada', 0.5)
(34, 'New York', 1.0)
(35, 'Ohio', 0.0)
(36, 'Oklahoma', 0.5)
(37, 'Oregon', 1.0)
(38, 'Pennsylvania', 0.0)
(39, 'Rhode Island', 1.0)
(40, 'South Carolina', 0.0)
(41, 'South Dakota', 0.0)
(42, 'Tennessee', 0.0)
(43, 'Texas', 0.0)
(44, 'Utah', 0.0)
(45, 'Virginia', 0.0)
(46, 'Vermont', 1.0)
(47, 'Washington', 1.0)
(48, 'Wisconsin', 0.0)
(49, 'West Virginia', 0.0)
(50, 'Wyoming', 0.0)

In [89]:
c.execute('SELECT * FROM election_results')
for row in c.fetchall():
    print(row)

(0, 1976, 'Alabama', 'Carter, Jimmy', 659170, 'Ford, Gerald', 504070, 1182850)
(1, 1976, 'Alaska', 'Carter, Jimmy', 44058, 'Ford, Gerald', 71555, 123574)
(2, 1976, 'Arizona', 'Carter, Jimmy', 295602, 'Ford, Gerald', 418642, 742719)
(3, 1976, 'Arkansas', 'Carter, Jimmy', 498604, 'Ford, Gerald', 267903, 767535)
(4, 1976, 'California', 'Carter, Jimmy', 3742284, 'Ford, Gerald', 3882244, 7803770)
(5, 1976, 'Colorado', 'Carter, Jimmy', 460801, 'Ford, Gerald', 584278, 1081440)
(6, 1976, 'Connecticut', 'Carter, Jimmy', 647895, 'Ford, Gerald', 719261, 1386355)
(7, 1976, 'Delaware', 'Carter, Jimmy', 122461, 'Ford, Gerald', 109780, 235642)
(8, 1976, 'District of Columbia', 'Carter, Jimmy', 137818, 'Ford, Gerald', 27873, 168830)
(9, 1976, 'Florida', 'Carter, Jimmy', 1636000, 'Ford, Gerald', 1469531, 3150631)
(10, 1976, 'Georgia', 'Carter, Jimmy', 979409, 'Ford, Gerald', 483743, 1463152)
(11, 1976, 'Hawaii', 'Carter, Jimmy', 147375, 'Ford, Gerald', 140003, 291301)
(12, 1976, 'Idaho', 'Carter, Jimmy', 126549, 'Ford, Gerald', 204151, 340932)
(13, 1976, 'Illinois', 'Carter, Jimmy', 2271295, 'Ford, Gerald', 2364269, 4721282)
(14, 1976, 'Indiana', 'Carter, Jimmy', 1014714, 'Ford, Gerald', 1183958, 2220362)
(15, 1976, 'Iowa', 'Carter, Jimmy', 619931, 'Ford, Gerald', 632864, 1279303)
(16, 1976, 'Kansas', 'Carter, Jimmy', 430421, 'Ford, Gerald', 502752, 957845)
(17, 1976, 'Kentucky', 'Carter, Jimmy', 615717, 'Ford, Gerald', 531852, 1167142)
(18, 1976, 'Louisiana', 'Carter, Jimmy', 661365, 'Ford, Gerald', 587446, 1277383)
(19, 1976, 'Maine', 'Carter, Jimmy', 232279, 'Ford, Gerald', 236320, 482968)
(20, 1976, 'Maryland', 'Carter, Jimmy', 759612, 'Ford, Gerald', 672661, 1432273)
(21, 1976, 'Massachusetts', 'Carter, Jimmy', 1429475, 'Ford, Gerald', 1030276, 2547558)
(22, 1976, 'Michigan', 'Carter, Jimmy', 1696714, 'Ford, Gerald', 1893742, 3651590)
(23, 1976, 'Minnesota', 'Carter, Jimmy', 1070440, 'Ford, Gerald', 819395, 1949931)
(24, 1976, 'Mississippi', 'Carter, Jimmy', 381329, 'Ford, Gerald', 366846, 768390)
(25, 1976, 'Missouri', 'Carter, Jimmy', 998387, 'Ford, Gerald', 927443, 1953600)
(26, 1976, 'Montana', 'Carter, Jimmy', 149259, 'Ford, Gerald', 173703, 328734)
(27, 1976, 'Nebraska', 'Carter, Jimmy', 233293, 'Ford, Gerald', 359219, 606749)
(28, 1976, 'Nevada', 'Carter, Jimmy', 92479, 'Ford, Gerald', 101273, 201876)
(29, 1976, 'New Hampshire', 'Carter, Jimmy', 147645, 'Ford, Gerald', 185935, 339627)
(30, 1976, 'New Jersey', 'Carter, Jimmy', 1444653, 'Ford, Gerald', 1509688, 3014472)
(31, 1976, 'New Mexico', 'Carter, Jimmy', 201148, 'Ford, Gerald', 211419, 416590)
(32, 1976, 'New York', 'Carter, Jimmy', 3244165, 'Ford, Gerald', 2825913, 6668262)
(33, 1976, 'North Carolina', 'Carter, Jimmy', 927365, 'Ford, Gerald', 741960, 1677906)
(34, 1976, 'North Dakota', 'Carter, Jimmy', 136078, 'Ford, Gerald', 153684, 297308)
(35, 1976, 'Ohio', 'Carter, Jimmy', 2009959, 'Ford, Gerald', 2000626, 4110456)
(36, 1976, 'Oklahoma', 'Carter, Jimmy', 532442, 'Ford, Gerald', 545708, 1092251)
(37, 1976, 'Oregon', 'Carter, Jimmy', 490407, 'Ford, Gerald', 492120, 1029876)
(38, 1976, 'Pennsylvania', 'Carter, Jimmy', 2328677, 'Ford, Gerald', 2205604, 4620787)
(39, 1976, 'Rhode Island', 'Carter, Jimmy', 227636, 'Ford, Gerald', 181249, 410584)
(40, 1976, 'South Carolina', 'Carter, Jimmy', 450807, 'Ford, Gerald', 346149, 802583)
(41, 1976, 'South Dakota', 'Carter, Jimmy', 147068, 'Ford, Gerald', 151505, 300678)
(42, 1976, 'Tennessee', 'Carter, Jimmy', 825879, 'Ford, Gerald', 633969, 1476346)
(43, 1976, 'Texas', 'Carter, Jimmy', 2082319, 'Ford, Gerald', 1953300, 4071884)
(44, 1976, 'Utah', 'Carter, Jimmy', 182110, 'Ford, Gerald', 337908, 541218)
(45, 1976, 'Vermont', 'Carter, Jimmy', 77798, 'Ford, Gerald', 100387, 183902)
(46, 1976, 'Virginia', 'Carter, Jimmy', 813896, 'Ford, Gerald', 836554, 1697094)
(47, 1976, 'Washington', 'Carter, Jimmy', 717323, 'Ford, Gerald', 777732, 1555534)
(48, 1976, 'West Virginia', 'Carter, Jimmy', 435864, 'Ford, Gerald', 314726, 750590)
(49, 1976, 'Wisconsin', 'Carter, Jimmy', 1040232, 'Ford, Gerald', 1004987, 2101336)
(50, 1976, 'Wyoming', 'Carter, Jimmy', 62239, 'Ford, Gerald', 92717, 156343)
(51, 1980, 'Alabama', 'Carter, Jimmy', 636730, 'Reagan, Ronald', 654192, 1341929)
(52, 1980, 'Alaska', 'Carter, Jimmy', 41842, 'Reagan, Ronald', 86112, 158445)
(53, 1980, 'Arizona', 'Carter, Jimmy', 246843, 'Reagan, Ronald', 529688, 873945)
(54, 1980, 'Arkansas', 'Carter, Jimmy', 398041, 'Reagan, Ronald', 403164, 837582)
(55, 1980, 'California', 'Carter, Jimmy', 3082943, 'Reagan, Ronald', 4522994, 8582938)
(56, 1980, 'Colorado', 'Carter, Jimmy', 368009, 'Reagan, Ronald', 652264, 1184450)
(57, 1980, 'Connecticut', 'Carter, Jimmy', 541732, 'Reagan, Ronald', 677210, 1406285)
(58, 1980, 'Delaware', 'Carter, Jimmy', 105754, 'Reagan, Ronald', 111252, 235668)
(59, 1980, 'District of Columbia', 'Carter, Jimmy', 130231, 'Reagan, Ronald', 23313, 173889)
(60, 1980, 'Florida', 'Carter, Jimmy', 1419475, 'Reagan, Ronald', 2046951, 3686927)
(61, 1980, 'Georgia', 'Carter, Jimmy', 890955, 'Reagan, Ronald', 654168, 1596805)
(62, 1980, 'Hawaii', 'Carter, Jimmy', 135879, 'Reagan, Ronald', 130112, 303287)
(63, 1980, 'Idaho', 'Carter, Jimmy', 110192, 'Reagan, Ronald', 290699, 437431)
(64, 1980, 'Illinois', 'Carter, Jimmy', 1981413, 'Reagan, Ronald', 2358049, 4749721)
(65, 1980, 'Indiana', 'Carter, Jimmy', 844197, 'Reagan, Ronald', 1255656, 2242033)
(66, 1980, 'Iowa', 'Carter, Jimmy', 508672, 'Reagan, Ronald', 676026, 1317661)
(67, 1980, 'Kansas', 'Carter, Jimmy', 326150, 'Reagan, Ronald', 566812, 979795)
(68, 1980, 'Kentucky', 'Carter, Jimmy', 617417, 'Reagan, Ronald', 635274, 1295627)
(69, 1980, 'Louisiana', 'Carter, Jimmy', 708453, 'Reagan, Ronald', 792853, 1548591)
(70, 1980, 'Maine', 'Carter, Jimmy', 220974, 'Reagan, Ronald', 238522, 523011)
(71, 1980, 'Maryland', 'Carter, Jimmy', 726161, 'Reagan, Ronald', 680606, 1540496)
(72, 1980, 'Massachusetts', 'Carter, Jimmy', 1053802, 'Reagan, Ronald', 1057631, 2524090)
(73, 1980, 'Michigan', 'Carter, Jimmy', 1661532, 'Reagan, Ronald', 1915225, 3909725)
(74, 1980, 'Minnesota', 'Carter, Jimmy', 954173, 'Reagan, Ronald', 873268, 2051916)
(75, 1980, 'Mississippi', 'Carter, Jimmy', 429281, 'Reagan, Ronald', 441089, 891750)
(76, 1980, 'Missouri', 'Carter, Jimmy', 931182, 'Reagan, Ronald', 1074181, 2099824)
(77, 1980, 'Montana', 'Carter, Jimmy', 118032, 'Reagan, Ronald', 206814, 363952)
(78, 1980, 'Nebraska', 'Carter, Jimmy', 166424, 'Reagan, Ronald', 419214, 639533)
(79, 1980, 'Nevada', 'Carter, Jimmy', 66666, 'Reagan, Ronald', 155017, 243692)
(80, 1980, 'New Hampshire', 'Carter, Jimmy', 108864, 'Reagan, Ronald', 221705, 383990)
(81, 1980, 'New Jersey', 'Carter, Jimmy', 1147364, 'Reagan, Ronald', 1546557, 2975684)
(82, 1980, 'New Mexico', 'Carter, Jimmy', 167826, 'Reagan, Ronald', 250779, 456237)
(83, 1980, 'New York', 'Carter, Jimmy', 2728372, 'Reagan, Ronald', 2637700, 6201959)
(84, 1980, 'North Carolina', 'Carter, Jimmy', 875635, 'Reagan, Ronald', 915018, 1855833)
(85, 1980, 'North Dakota', 'Carter, Jimmy', 79189, 'Reagan, Ronald', 193695, 301116)
(86, 1980, 'Ohio', 'Carter, Jimmy', 1752414, 'Reagan, Ronald', 2206545, 4283603)
(87, 1980, 'Oklahoma', 'Carter, Jimmy', 402026, 'Reagan, Ronald', 695570, 1149708)
(88, 1980, 'Oregon', 'Carter, Jimmy', 456890, 'Reagan, Ronald', 571044, 1181516)
(89, 1980, 'Pennsylvania', 'Carter, Jimmy', 1937540, 'Reagan, Ronald', 2261872, 4561501)
(90, 1980, 'Rhode Island', 'Carter, Jimmy', 198342, 'Reagan, Ronald', 154793, 415967)
(91, 1980, 'South Carolina', 'Carter, Jimmy', 428220, 'Reagan, Ronald', 439277, 888258)
(92, 1980, 'South Dakota', 'Carter, Jimmy', 103855, 'Reagan, Ronald', 198343, 327703)
(93, 1980, 'Tennessee', 'Carter, Jimmy', 783051, 'Reagan, Ronald', 787761, 1617616)
(94, 1980, 'Texas', 'Carter, Jimmy', 1881147, 'Reagan, Ronald', 2510705, 4541636)
(95, 1980, 'Utah', 'Carter, Jimmy', 124266, 'Reagan, Ronald', 439687, 604152)
(96, 1980, 'Vermont', 'Carter, Jimmy', 81952, 'Reagan, Ronald', 94628, 213299)
(97, 1980, 'Virginia', 'Carter, Jimmy', 752174, 'Reagan, Ronald', 989609, 1866032)
(98, 1980, 'Washington', 'Carter, Jimmy', 650193, 'Reagan, Ronald', 865244, 1742394)
(99, 1980, 'West Virginia', 'Carter, Jimmy', 367462, 'Reagan, Ronald', 334206, 737715)
(100, 1980, 'Wisconsin', 'Carter, Jimmy', 981584, 'Reagan, Ronald', 1088845, 2273221)
(101, 1980, 'Wyoming', 'Carter, Jimmy', 49427, 'Reagan, Ronald', 110700, 176713)
(102, 1984, 'Alabama', 'Mondale, Walter', 551899, 'Reagan, Ronald', 872849, 1441713)
(103, 1984, 'Alaska', 'Mondale, Walter', 62007, 'Reagan, Ronald', 138377, 207605)
(104, 1984, 'Arizona', 'Mondale, Walter', 333854, 'Reagan, Ronald', 681416, 1025897)
(105, 1984, 'Arkansas', 'Mondale, Walter', 338646, 'Reagan, Ronald', 534774, 884406)
(106, 1984, 'California', 'Mondale, Walter', 3922519, 'Reagan, Ronald', 5467009, 9505041)
(107, 1984, 'Colorado', 'Mondale, Walter', 454975, 'Reagan, Ronald', 821817, 1295380)
(108, 1984, 'Connecticut', 'Mondale, Walter', 569597, 'Reagan, Ronald', 890877, 1466900)
(109, 1984, 'Delaware', 'Mondale, Walter', 101656, 'Reagan, Ronald', 152190, 254572)
(110, 1984, 'District of Columbia', 'Mondale, Walter', 180408, 'Reagan, Ronald', 29009, 211288)
(111, 1984, 'Florida', 'Mondale, Walter', 1448816, 'Reagan, Ronald', 2730350, 4180051)
(112, 1984, 'Georgia', 'Mondale, Walter', 706628, 'Reagan, Ronald', 1068722, 1776103)
(113, 1984, 'Hawaii', 'Mondale, Walter', 147154, 'Reagan, Ronald', 185050, 335846)
(114, 1984, 'Idaho', 'Mondale, Walter', 108510, 'Reagan, Ronald', 297523, 411144)
(115, 1984, 'Illinois', 'Mondale, Walter', 2086499, 'Reagan, Ronald', 2707103, 4819088)
(116, 1984, 'Indiana', 'Mondale, Walter', 841481, 'Reagan, Ronald', 1377230, 2233069)
(117, 1984, 'Iowa', 'Mondale, Walter', 605620, 'Reagan, Ronald', 703088, 1319805)
(118, 1984, 'Kansas', 'Mondale, Walter', 333149, 'Reagan, Ronald', 677296, 1021991)
(119, 1984, 'Kentucky', 'Mondale, Walter', 539539, 'Reagan, Ronald', 821702, 1369345)
(120, 1984, 'Louisiana', 'Mondale, Walter', 651586, 'Reagan, Ronald', 1037299, 1706822)
(121, 1984, 'Maine', 'Mondale, Walter', 214515, 'Reagan, Ronald', 336500, 553144)
(122, 1984, 'Maryland', 'Mondale, Walter', 787935, 'Reagan, Ronald', 879918, 1675873)
(123, 1984, 'Massachusetts', 'Mondale, Walter', 1239606, 'Reagan, Ronald', 1310936, 2559383)
(124, 1984, 'Michigan', 'Mondale, Walter', 1529638, 'Reagan, Ronald', 2251571, 3801658)
(125, 1984, 'Minnesota', 'Mondale, Walter', 1036364, 'Reagan, Ronald', 1032603, 2084449)
(126, 1984, 'Mississippi', 'Mondale, Walter', 352192, 'Reagan, Ronald', 582377, 941104)
(127, 1984, 'Missouri', 'Mondale, Walter', 848583, 'Reagan, Ronald', 1274188, 2122771)
(128, 1984, 'Montana', 'Mondale, Walter', 146742, 'Reagan, Ronald', 232450, 384377)
(129, 1984, 'Nebraska', 'Mondale, Walter', 187866, 'Reagan, Ronald', 460054, 652090)
(130, 1984, 'Nevada', 'Mondale, Walter', 91655, 'Reagan, Ronald', 188770, 282717)
(131, 1984, 'New Hampshire', 'Mondale, Walter', 120347, 'Reagan, Ronald', 267050, 388904)
(132, 1984, 'New Jersey', 'Mondale, Walter', 1261323, 'Reagan, Ronald', 1933630, 3217862)
(133, 1984, 'New Mexico', 'Mondale, Walter', 201769, 'Reagan, Ronald', 307101, 514370)
(134, 1984, 'New York', 'Mondale, Walter', 3001285, 'Reagan, Ronald', 3376519, 6806810)
(135, 1984, 'North Carolina', 'Mondale, Walter', 824287, 'Reagan, Ronald', 1346481, 2175361)
(136, 1984, 'North Dakota', 'Mondale, Walter', 104429, 'Reagan, Ronald', 200336, 308971)
(137, 1984, 'Ohio', 'Mondale, Walter', 1825440, 'Reagan, Ronald', 2678559, 4563235)
(138, 1984, 'Oklahoma', 'Mondale, Walter', 385080, 'Reagan, Ronald', 861530, 1255676)
(139, 1984, 'Oregon', 'Mondale, Walter', 536479, 'Reagan, Ronald', 685700, 1226527)
(140, 1984, 'Pennsylvania', 'Mondale, Walter', 2228131, 'Reagan, Ronald', 2584323, 4844903)
(141, 1984, 'Rhode Island', 'Mondale, Walter', 197106, 'Reagan, Ronald', 212080, 410489)
(142, 1984, 'South Carolina', 'Mondale, Walter', 344459, 'Reagan, Ronald', 615539, 968529)
(143, 1984, 'South Dakota', 'Mondale, Walter', 116113, 'Reagan, Ronald', 200267, 317867)
(144, 1984, 'Tennessee', 'Mondale, Walter', 711714, 'Reagan, Ronald', 990212, 1711993)
(145, 1984, 'Texas', 'Mondale, Walter', 1949276, 'Reagan, Ronald', 3433428, 5397571)
(146, 1984, 'Utah', 'Mondale, Walter', 155369, 'Reagan, Ronald', 469105, 629656)
(147, 1984, 'Vermont', 'Mondale, Walter', 95730, 'Reagan, Ronald', 135865, 234561)
(148, 1984, 'Virginia', 'Mondale, Walter', 796250, 'Reagan, Ronald', 1337078, 2146635)
(149, 1984, 'Washington', 'Mondale, Walter', 798352, 'Reagan, Ronald', 1051670, 1874910)
(150, 1984, 'West Virginia', 'Mondale, Walter', 328125, 'Reagan, Ronald', 405483, 735742)
(151, 1984, 'Wisconsin', 'Mondale, Walter', 995740, 'Reagan, Ronald', 1198584, 2211689)
(152, 1984, 'Wyoming', 'Mondale, Walter', 53370, 'Reagan, Ronald', 133241, 188968)
(153, 1988, 'Alabama', 'Dukakis, Michael', 549506, 'Bush, George H.W.', 815576, 1378476)
(154, 1988, 'Alaska', 'Dukakis, Michael', 72584, 'Bush, George H.W.', 119251, 200116)
(155, 1988, 'Arizona', 'Dukakis, Michael', 454029, 'Bush, George H.W.', 702541, 1171873)
(156, 1988, 'Arkansas', 'Dukakis, Michael', 349237, 'Bush, George H.W.', 466578, 827738)
(157, 1988, 'California', 'Dukakis, Michael', 4702233, 'Bush, George H.W.', 5054917, 9887065)
(158, 1988, 'Colorado', 'Dukakis, Michael', 621453, 'Bush, George H.W.', 728177, 1372394)
(159, 1988, 'Connecticut', 'Dukakis, Michael', 676584, 'Bush, George H.W.', 750241, 1443394)
(160, 1988, 'Delaware', 'Dukakis, Michael', 108647, 'Bush, George H.W.', 139639, 249891)
(161, 1988, 'District of Columbia', 'Dukakis, Michael', 159407, 'Bush, George H.W.', 27590, 192877)
(162, 1988, 'Florida', 'Dukakis, Michael', 1656701, 'Bush, George H.W.', 2618885, 4302313)
(163, 1988, 'Georgia', 'Dukakis, Michael', 714792, 'Bush, George H.W.', 1081331, 1809672)
(164, 1988, 'Hawaii', 'Dukakis, Michael', 192364, 'Bush, George H.W.', 158625, 354461)
(165, 1988, 'Idaho', 'Dukakis, Michael', 147272, 'Bush, George H.W.', 253881, 408968)
(166, 1988, 'Illinois', 'Dukakis, Michael', 2215940, 'Bush, George H.W.', 2310939, 4559120)
(167, 1988, 'Indiana', 'Dukakis, Michael', 860643, 'Bush, George H.W.', 1297763, 2168621)
(168, 1988, 'Iowa', 'Dukakis, Michael', 670557, 'Bush, George H.W.', 545355, 1225614)
(169, 1988, 'Kansas', 'Dukakis, Michael', 422636, 'Bush, George H.W.', 554049, 993044)
(170, 1988, 'Kentucky', 'Dukakis, Michael', 580368, 'Bush, George H.W.', 734281, 1322517)
(171, 1988, 'Louisiana', 'Dukakis, Michael', 717460, 'Bush, George H.W.', 883702, 1628202)
(172, 1988, 'Maine', 'Dukakis, Michael', 243569, 'Bush, George H.W.', 307131, 555035)
(173, 1988, 'Maryland', 'Dukakis, Michael', 826304, 'Bush, George H.W.', 876167, 1714358)
(174, 1988, 'Massachusetts', 'Dukakis, Michael', 1401415, 'Bush, George H.W.', 1194635, 2632801)
(175, 1988, 'Michigan', 'Dukakis, Michael', 1675783, 'Bush, George H.W.', 1965486, 3669163)
(176, 1988, 'Minnesota', 'Dukakis, Michael', 1109471, 'Bush, George H.W.', 962337, 2096790)
(177, 1988, 'Mississippi', 'Dukakis, Michael', 363921, 'Bush, George H.W.', 557890, 931527)
(178, 1988, 'Missouri', 'Dukakis, Michael', 1001619, 'Bush, George H.W.', 1084953, 2093228)
(179, 1988, 'Montana', 'Dukakis, Michael', 168936, 'Bush, George H.W.', 190412, 365674)
(180, 1988, 'Nebraska', 'Dukakis, Michael', 259235, 'Bush, George H.W.', 397956, 661465)
(181, 1988, 'Nevada', 'Dukakis, Michael', 132738, 'Bush, George H.W.', 206040, 343133)
(182, 1988, 'New Hampshire', 'Dukakis, Michael', 163696, 'Bush, George H.W.', 281537, 450525)
(183, 1988, 'New Jersey', 'Dukakis, Michael', 1320352, 'Bush, George H.W.', 1743192, 3099553)
(184, 1988, 'New Mexico', 'Dukakis, Michael', 244497, 'Bush, George H.W.', 270341, 521387)
(185, 1988, 'New York', 'Dukakis, Michael', 3255487, 'Bush, George H.W.', 2838414, 6485683)
(186, 1988, 'North Carolina', 'Dukakis, Michael', 890167, 'Bush, George H.W.', 1237258, 2134370)
(187, 1988, 'North Dakota', 'Dukakis, Michael', 127739, 'Bush, George H.W.', 166559, 297261)
(188, 1988, 'Ohio', 'Dukakis, Michael', 1939629, 'Bush, George H.W.', 2416549, 4393585)
(189, 1988, 'Oklahoma', 'Dukakis, Michael', 483423, 'Bush, George H.W.', 678367, 1171036)
(190, 1988, 'Oregon', 'Dukakis, Michael', 616206, 'Bush, George H.W.', 560126, 1201694)
(191, 1988, 'Pennsylvania', 'Dukakis, Michael', 2194944, 'Bush, George H.W.', 2300087, 4536251)
(192, 1988, 'Rhode Island', 'Dukakis, Michael', 225123, 'Bush, George H.W.', 177761, 404622)
(193, 1988, 'South Carolina', 'Dukakis, Michael', 370554, 'Bush, George H.W.', 606443, 986009)
(194, 1988, 'South Dakota', 'Dukakis, Michael', 145560, 'Bush, George H.W.', 165415, 312991)
(195, 1988, 'Tennessee', 'Dukakis, Michael', 679794, 'Bush, George H.W.', 947233, 1636250)
(196, 1988, 'Texas', 'Dukakis, Michael', 2352748, 'Bush, George H.W.', 3036829, 5427410)
(197, 1988, 'Utah', 'Dukakis, Michael', 207343, 'Bush, George H.W.', 428442, 647008)
(198, 1988, 'Vermont', 'Dukakis, Michael', 115775, 'Bush, George H.W.', 124331, 243328)
(199, 1988, 'Virginia', 'Dukakis, Michael', 859799, 'Bush, George H.W.', 1309162, 2191609)
(200, 1988, 'Washington', 'Dukakis, Michael', 933516, 'Bush, George H.W.', 903835, 1865253)
(201, 1988, 'West Virginia', 'Dukakis, Michael', 341016, 'Bush, George H.W.', 310065, 653311)
(202, 1988, 'Wisconsin', 'Dukakis, Michael', 1126794, 'Bush, George H.W.', 1047499, 2191608)
(203, 1988, 'Wyoming', 'Dukakis, Michael', 67113, 'Bush, George H.W.', 106867, 176551)
(204, 1992, 'Alabama', 'Clinton, Bill', 690080, 'Bush, George H.W.', 804283, 1688060)
(205, 1992, 'Alaska', 'Clinton, Bill', 78294, 'Bush, George H.W.', 102000, 258506)
(206, 1992, 'Arizona', 'Clinton, Bill', 543050, 'Bush, George H.W.', 572086, 1486975)
(207, 1992, 'Arkansas', 'Clinton, Bill', 505823, 'Bush, George H.W.', 337324, 950653)
(208, 1992, 'California', 'Clinton, Bill', 5121325, 'Bush, George H.W.', 3630574, 11131721)
(209, 1992, 'Colorado', 'Clinton, Bill', 629681, 'Bush, George H.W.', 562850, 1569180)
(210, 1992, 'Connecticut', 'Clinton, Bill', 682318, 'Bush, George H.W.', 578313, 1616156)
(211, 1992, 'Delaware', 'Clinton, Bill', 126054, 'Bush, George H.W.', 102313, 289620)
(212, 1992, 'District of Columbia', 'Clinton, Bill', 192619, 'Bush, George H.W.', 20698, 227572)
(213, 1992, 'Florida', 'Clinton, Bill', 2071698, 'Bush, George H.W.', 2173310, 5313392)
(214, 1992, 'Georgia', 'Clinton, Bill', 1008966, 'Bush, George H.W.', 995252, 2321133)
(215, 1992, 'Hawaii', 'Clinton, Bill', 179310, 'Bush, George H.W.', 136822, 372842)
(216, 1992, 'Idaho', 'Clinton, Bill', 137013, 'Bush, George H.W.', 202645, 482114)
(217, 1992, 'Illinois', 'Clinton, Bill', 2453350, 'Bush, George H.W.', 1734096, 5050157)
(218, 1992, 'Indiana', 'Clinton, Bill', 848420, 'Bush, George H.W.', 989375, 2305871)
(219, 1992, 'Iowa', 'Clinton, Bill', 586353, 'Bush, George H.W.', 504891, 1354607)
(220, 1992, 'Kansas', 'Clinton, Bill', 390434, 'Bush, George H.W.', 449951, 1157236)
(221, 1992, 'Kentucky', 'Clinton, Bill', 665104, 'Bush, George H.W.', 617178, 1492900)
(222, 1992, 'Louisiana', 'Clinton, Bill', 815971, 'Bush, George H.W.', 733386, 1790017)
(223, 1992, 'Maine', 'Clinton, Bill', 263420, 'Bush, George H.W.', 206504, 679499)
(224, 1992, 'Maryland', 'Clinton, Bill', 988571, 'Bush, George H.W.', 707094, 1984580)
(225, 1992, 'Massachusetts', 'Clinton, Bill', 1318639, 'Bush, George H.W.', 805039, 2773664)
(226, 1992, 'Michigan', 'Clinton, Bill', 1871182, 'Bush, George H.W.', 1554940, 4274673)
(227, 1992, 'Minnesota', 'Clinton, Bill', 1020997, 'Bush, George H.W.', 747841, 2347948)
(228, 1992, 'Mississippi', 'Clinton, Bill', 400258, 'Bush, George H.W.', 487793, 981793)
(229, 1992, 'Missouri', 'Clinton, Bill', 1053873, 'Bush, George H.W.', 811159, 2391270)
(230, 1992, 'Montana', 'Clinton, Bill', 154507, 'Bush, George H.W.', 144207, 410583)
(231, 1992, 'Nebraska', 'Clinton, Bill', 216864, 'Bush, George H.W.', 343678, 737546)
(232, 1992, 'Nevada', 'Clinton, Bill', 189148, 'Bush, George H.W.', 175828, 506318)

In [90]:
c.close()
conn.close()